<div class="creative-section-container">
  <div class="form-content">
    <div class="lab-row mb20 w100p">
      <label><span class="redStart">*</span>创意名称:</label>
      <div>
        <input nz-input
               class="w_full ml8 mr8"
               [nzSize]="'small'"
               type="text"
               [(ngModel)]="data.pub_creative_name"
               placeholder="请输入1-40个字的创意名称">
        <span>{{data.pub_creative_name.length}}/40</span>
        <div class="error-tip mt5 ml8" *ngIf="errorTip.pub_creative_name.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ errorTip.pub_creative_name.tip_text }}</span>
        </div>
      </div>
    </div>
    <div class="lab-row mb20 w100p" *ngIf="['524', '525', '526', '527'].indexOf(materialStyle) === -1">
      <label><span class="redStart">*</span>创意标题:</label>
      <div>
        <input nz-input
               class="w_full ml8 mr8"
               [nzSize]="'small'"
               type="text"
               [(ngModel)]="data.title"
               placeholder="请输入1-36个字的来源">
        <span>{{data.title.length}}/36</span>
        <div class="error-tip mt5 ml8" *ngIf="errorTip.title.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ errorTip.title.tip_text }}</span>
        </div>
      </div>
    </div>
    <ng-container *ngIf="['517', '524', '525', '526', '527'].indexOf(materialStyle) === -1">
      <div class="lab-row mb20 w100p" *ngIf="campaignTypeSetting.marketing_target === 'catalogue' && campaignTypeSetting.launch_target === 'app'">
        <label><span class="redStart">*</span>副标题:</label>
        <div>
          <input nz-input
                 class="w_full ml8 mr8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="data.sub_title"
                 placeholder="请输入1-24个字的来源">
          <span>{{data.sub_title.length}}/24</span>
          <div class="error-tip mt5 ml8" *ngIf="errorTip.sub_title.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ errorTip.sub_title.tip_text }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="campaignTypeSetting.marketing_target === 'catalogue'">
      <ng-container *ngIf="campaignTypeSetting.launch_target === 'landing_page'">
        <div class="lab-row mb20 w100p" *ngIf="['517'].indexOf(materialStyle) === -1 && bidType === 1">
          <label><span class="redStart">*</span>推广URL:</label>
          <div>
            <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
              <input nz-input
                     [nzSize]="'small'"
                     type="text"
                     [(ngModel)]="data.target_url"
                     placeholder="从系统设置中获取">
            </nz-input-group>
            <ng-template #nameBeforeTemplate>

                <button class="input-group-btn" nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'">
                  <span>选择</span>
                  <i nz-icon nzType="down"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngFor="let option of downloadUrlList['3']" (click)="urlClick('target_url',option);">
                    <a>{{option.app_url_name}}</a>
                  </li>
                </ul>
                </nz-dropdown-menu>
            </ng-template>
            <div class="error-tip mt5 ml8" *ngIf="errorTip.target_url.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ errorTip.target_url.tip_text }}</span>
            </div>
          </div>
        </div>
        <div class="lab-row mb20 w100p" *ngIf="['517'].indexOf(materialStyle) === -1 && positionInfo.flow_type === '4'">
          <label>调起URL:</label>
          <div>
            <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
              <input nz-input
                     [nzSize]="'small'"
                     type="text"
                     [(ngModel)]="data.na_url"
                     placeholder="从系统设置中获取">
            </nz-input-group>
            <ng-template #nameBeforeTemplate>
                <button class="input-group-btn" nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu2" [nzTrigger]="'click'">
                  <span>选择</span>
                  <i nz-icon nzType="down"></i>
                </button>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngFor="let option of downloadUrlList['4']" (click)="urlClick('na_url',option);">
                    <a>{{option.app_url_name}}</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </ng-template>
            <div class="error-tip mt5 ml8" *ngIf="errorTip.na_url.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ errorTip.na_url.tip_text }}</span>
            </div>
          </div>
        </div>
        <div class="lab-row mb20 w100p" *ngIf="(positionInfo.flow_type === '0' || (positionInfo.flow_type === '2' && positionInfo.flow_range.indexOf('1') !== -1)) && ['517', '524', '525', '526', '527'].indexOf(materialStyle) === -1">
          <label>小程序URL:</label>
          <div>
            <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
              <input nz-input
                     [nzSize]="'small'"
                     type="text"
                     [(ngModel)]="data.mini_program_schema"
                     placeholder="从系统设置中获取">
            </nz-input-group>
            <ng-template #nameBeforeTemplate>
                <button class="input-group-btn" nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu3" [nzTrigger]="'click'">
                  <span>选择</span>
                  <i nz-icon nzType="down"></i>
                </button>
                <nz-dropdown-menu #menu3="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item *ngFor="let option of downloadUrlList['5']" (click)="urlClick('mini_program_schema',option);">
                      <a>{{option.app_url_name}}</a>
                    </li>
                  </ul>
                </nz-dropdown-menu>
            </ng-template>
            <div class="error-tip mt5 ml8" *ngIf="errorTip.mini_program_schema.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ errorTip.mini_program_schema.tip_text }}</span>
            </div>
          </div>
        </div>

        <!-- 橱窗样式设置 -->
        <ng-container *ngIf="['517'].indexOf(materialStyle) !== -1">
          <div class="lab-row mb20 w100p" *ngIf="['517'].indexOf(materialStyle) === -1 && bidType === 1">
            <label><span class="redStart">*</span>标题链接:</label>
            <div>
              <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
                <input nz-input
                       [nzSize]="'small'"
                       type="text"
                       [(ngModel)]="data.title_url"
                       placeholder="从系统设置中获取">
              </nz-input-group>
              <ng-template #nameBeforeTemplate>
                  <button class="input-group-btn" nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu4" [nzTrigger]="'click'">
                    <span>选择</span>
                    <i nz-icon nzType="down"></i>
                  </button>
                  <nz-dropdown-menu #menu4="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item *ngFor="let option of downloadUrlList['3']" (click)="urlClick('title_url',option);">
                      <a>{{option.app_url_name}}</a>
                    </li>
                  </ul>
                  </nz-dropdown-menu>
              </ng-template>
              <div class="error-tip mt5 ml8" *ngIf="errorTip.title_url.is_show">
                <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                <span style="color: red;">{{ errorTip.title_url.tip_text }}</span>
              </div>
            </div>
          </div>
          <div class="lab-row mb20 w100p">
            <label><span class="redStart">*</span>图片描述1:</label>
            <div>
              <input nz-input
                     class="w_full ml8 mr8"
                     [nzSize]="'small'"
                     type="text"
                     [(ngModel)]="data.desc1"
                     placeholder="请输入图片描述1">
              <div class="error-tip mt5 ml8" *ngIf="errorTip.desc1.is_show">
                <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                <span style="color: red;">{{ errorTip.desc1.tip_text }}</span>
              </div>
            </div>
          </div>
          <div class="lab-row mb20 w100p">
            <label>图片描述2:</label>
            <div>
              <input nz-input
                     class="w_full ml8 mr8"
                     [nzSize]="'small'"
                     type="text"
                     [(ngModel)]="data.desc2"
                     placeholder="请输入图片描述2">
            </div>
          </div>
          <div class="lab-row mb20 w100p" *ngIf="['517'].indexOf(materialStyle) === -1 && bidType === 1">
            <label><span class="redStart">*</span>图片链接:</label>
            <div>
              <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
                <input nz-input
                       [nzSize]="'small'"
                       type="text"
                       [(ngModel)]="data.picture_url"
                       placeholder="从系统设置中获取">
              </nz-input-group>
              <ng-template #nameBeforeTemplate>
                  <button class="input-group-btn" nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu5" [nzTrigger]="'click'">
                    <span>选择</span>
                    <i nz-icon nzType="down"></i>
                  </button>
                  <nz-dropdown-menu #menu5="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item *ngFor="let option of downloadUrlList['3']" (click)="urlClick('picture_url',option);">
                      <a>{{option.app_url_name}}</a>
                    </li>
                  </ul>
                  </nz-dropdown-menu>
              </ng-template>
              <div class="error-tip mt5 ml8" *ngIf="errorTip.picture_url.is_show">
                <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                <span style="color: red;">{{ errorTip.picture_url.tip_text }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="lab-row mb20 w100p" *ngIf="bidType === 1 && (['517'].indexOf(materialStyle) === -1 || (['517'].indexOf(materialStyle) !== -1 && campaignTypeSetting.launch_target === 'landing_page'))">
        <label>点击监测URL:</label>
        <div>
          <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
            <input nz-input
                   [nzSize]="'small'"
                   type="text"
                   [(ngModel)]="data.monitor_url"
                   placeholder="从系统设置中获取">
          </nz-input-group>
          <ng-template #nameBeforeTemplate>
              <button class="input-group-btn" nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu6" [nzTrigger]="'click'">
                <span>选择</span>
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #menu6="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngFor="let option of downloadUrlList['6']" (click)="urlClick('monitor_url',option);">
                  <a>{{option.app_url_name}}</a>
                </li>
              </ul>
              </nz-dropdown-menu>
          </ng-template>
          <div class="error-tip mt5 ml8" *ngIf="errorTip.monitor_url.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ errorTip.monitor_url.tip_text }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="['518', '521'].indexOf(materialStyle) === -1">
      <div class="lab-row mb20 w100p">
        <label>图片物料:</label>
        <nz-radio-group
          class="ml8"
          [nzSize]="'small'"
          [(ngModel)]="data.creative_material"
        >
          <label nz-radio-button
                 [nzValue]="0"
                 [nzDisabled]="data.creative_material === 1">
            <span>商品库</span>
          </label>
          <label nz-radio-button
                 *ngIf="['517'].indexOf(materialStyle) === -1"
                 [nzValue]="1"
                 [nzDisabled]="data.creative_material === 0">
            <span>自定义</span>
          </label>
        </nz-radio-group>
      </div>
    </ng-container>
    <ng-container *ngIf="['518', '521'].indexOf(materialStyle) !== -1">
      <div class="lab-row mb20 w100p">
        <label>视频内容:</label>
        <nz-radio-group
          class="ml8"
          [nzSize]="'small'"
          [(ngModel)]="data.video_id"
        >
          <label nz-radio-button
                 [nzValue]="0"
                 [nzDisabled]="data.creative_material === 1">
            <span>商品库</span>
          </label>
        </nz-radio-group>
      </div>
      <div class="lab-row mb20 w100p">
        <label>视频封面:</label>
        <nz-radio-group
          class="ml8"
          [nzSize]="'small'"
          [(ngModel)]="data.poster"
        >
          <label nz-radio-button
                 [nzValue]="0"
                 [nzDisabled]="data.creative_material === 1">
            <span>商品库</span>
          </label>
        </nz-radio-group>
      </div>
    </ng-container>
  </div>
</div>
