<div class="add-document-group-manage-container">
  <div class="form-content">
    <div class="lab-row mb20 w100p" *ngIf="defaultData.document_group_slt === 0">
      <label>投放渠道:</label>
      <nz-select class="w200 ml8"
                 [nzSize]="'small'"
                 [(ngModel)]="defaultData.publisher_id"
                 [nzPlaceHolder]="'请选择投放媒体'"
                 nzShowSearch>
        <nz-option
          *ngFor="let option of publisherList"
          [nzLabel]="option.name"
          [nzValue]="option.key">
        </nz-option>
      </nz-select>
    </div>
    <div class="lab-row mb20">
      <label>文案组选择: </label>
      <nz-radio-group
        class="w200 ml8"
        [nzSize]="'small'"
        [(ngModel)]="defaultData.document_group_slt">
        <label nz-radio-button [nzValue]="1">
          <span>已有文案组</span>
        </label>
        <label nz-radio-button [nzValue]="0">
          <span>新建文案组</span>
        </label>
      </nz-radio-group>
    </div>
    <div class="lab-row mb20" *ngIf="defaultData.document_group_slt === 0">
      <label>文案组名: </label>
      <input nz-input
             class="w200 ml8"
             [nzSize]="'small'"
             type="text"
             [(ngModel)]="defaultData.title_group_name"
             placeholder="请输入文案组名">
    </div>
    <div class="lab-row mb20" *ngIf="defaultData.document_group_slt === 1">
      <label>文案组: </label>
      <nz-select class="w200 ml8"
                 [nzSize]="'small'"
                 [(ngModel)]="defaultData.title_group_id"
                 [nzPlaceHolder]="'请选择'"
                 nzShowSearch>
        <nz-option
          *ngFor="let option of documentGroupList"
          [nzLabel]="option.name"
          [nzValue]="option.key">
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div class="form-btns">
    <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCancel()">
      <span>取消</span>
    </button>
    <button class="ml8" nz-button [nzType]="'primary'" [nzLoading]="submit" [nzSize]="'small'" (click)="doSave()">
      <span>保存</span>
    </button>
  </div>
</div>
