.sub-company-form-item{
  // overflow: hidden;
  .form-label{
    width: 75px;
    text-align: right;
  }
}
div.sub-company-form-textarea{
  ::ng-deep .ant-input-sm{
    height: 100px;
  }
}
.sub-company-form-logo{
  margin-bottom: 8px;
  ::ng-deep .ant-upload-list-picture-card{
    .ant-upload-list-item{
      padding: 0px;
      margin:0px 8px 0px 0px;
    }
  }
}
.sub-company-form-logo-content{
  width: 200px;
  display: flex;
  display: -webkit-flex;
  flex-basis:auto;
  justify-content: flex-start;
}
.sub-company-form-logo-img{
  width: 126px;
  height: 126px;
  border:1px solid #e4e4e4;
}
.sub-company-form-logo-button{
  align-self:flex-end;
}
.sub-company-content{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}
.sub-company-form{
  width: 450px;
}
.sub-company-form-content{
  min-height: 280px;
}
.sub-company-form-footer{
  padding-top: 8px;
  text-align: right;
}
