.del-content{
  width: 400px;
  margin: 50px auto;

}

.del-tooltip{
  line-height: 24px;
}

.del-input{
  margin-top: 30px;
}


.manage-start{
  //border-color: #bfe4ac;
  background-color: #bfe4ac;
  color: #44941b;
  //border-radius: 2px;
}
.manage-pause{
  //border-color: #f5dfb1;
  background-color: #f5dfb1;
  color: #ab8330;
  //border-radius: 2px;

}
