.register-result {
  display: block;
  text-align: center;
  width: 72%;
  margin: 0 auto;

  .icon {
    font-size: 50px;
    line-height: 50px;
    margin-top:50px;
    margin-bottom: 30px;

    & > .success {
      color: #9cc84c
    }

    & > .error {
      color:red;
    }
  }

  .title {
    font-size: 28px;
    color: #404040;
    font-weight: 500;
    line-height: 38px;
    //height:28px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
    line-height: 24px;
    color: #878787;
  }


  .actions {
    margin-top: 30px;

    a{
      display: inline-block;
      height: 40px;
      line-height: 40px;
      width: 120px;
      background-color: #56acef;
      font-size:16px;
      border-radius: 2px;
      border:0;
      color:white;
    }

    .pc_btn {
      margin-left: 32px;
    }
  }
  
  .mobile-tip {
    display: none;
    font-style: 14px;
  }
}

@media screen and (max-width: 960px) {
  .pc_btn {
    display: none !important;
  }

  .mobile-tip {
    display: block !important;
  }
}
