.mb12{
  margin-bottom: 12px;
}
.c5d5d5d{
  color: #5d5d5d;
}

.forget-container{
  width:100%;
  height: 100%;
  .clear{
    clear:both;
  }
  .forget-header{
    width: 100%;
    height: 65px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e4e4e4;
    background-color:#eef2f7;
    .forget-header-left{
      font-size: 18px;
    }
    .forget-header-right{
      font-size: 14px;
    }
  }
  .forget-content{
    width: 100%;
    height: calc(100vh - 65px);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    .stepsDiv{
      max-width: 830px;
      margin: 0 auto 70px auto;
      nz-steps{
        width: 100px;
      }
    }
    .forget-form-content{
      width: 436px;
      margin: 0 auto;
      .forget-form-item{
        position: relative;
        .tittle{
          line-height: 40px;
          margin-right: 10px;
          span{
            display: inline-block;
            width: 76px;
            text-align: right;
            font-size: 14px;
          }
        }
        .input{
          width: 350px;
          height: 40px;

        }
        .code{
          text-align: center;
          line-height: 40px;
          font-size: 14px;

          img{
            display: inherit;
          }
        }
        .check{
          position: absolute;
          left: 439px;
          top: 12px;
          width: 160px;
        }
        .long-check{
          width: 350px;
          margin-left: 86px;
        }
        .code-ececec{
          background-color: #fbfbfb;
          border: 1px solid #d9d9d9;
          width: 112px;
          font-size: 14px;
          cursor: pointer;
        }
      }
      .success{
        text-align: center;
        i{
          color: #9cc84c;
          font-size: 26px;
          margin-right: 16px;
        }
        span{
          font-size: 18px;
        }
      }
      .btn{
        width: 200px;
        height: 40px;
        color: #fff;
        background: #1890ff;
        border-color: #1890ff;
        margin-bottom: 20px;
      }
    }
  }


}
