<div class="forget-container">
  <div class="forget-header">
    <div class="forget-header-left">
      <div class="pull-left" *ngIf="productInfo['logo']">
        <img class="logo" height="24px" src="{{productInfo['logo']}}">
      </div>
      <span class="logo-name" *ngIf="!productInfo['logo']">{{productInfo['name']}}</span>
    </div>
    <div class="forget-header-right">
      <span class="c5d5d5d">已有{{productInfo['name']}}账号，</span><a routerLink="/login">请登录</a>
    </div>
  </div>
  <div class="forget-content">
    <div class="stepsDiv">
      <nz-steps [nzCurrent]="current">
        <nz-step nzTitle="确认账号"></nz-step>
        <nz-step nzTitle="身份验证"></nz-step>
        <nz-step nzTitle="密码重置"></nz-step>
        <nz-step nzTitle="重置成功"></nz-step>
      </nz-steps>
    </div>

    <div class="forget-form-content">
      <div *ngIf="current === 0">
        <form [formGroup]="forgetOne">
          <nz-form-item class="forget-form-item">
            <label class="pull-left tittle"><span>手机号:</span></label>
            <nz-form-control class="pull-left input w350">
              <input nz-input  placeholder="手机号"
                     [nzSize]="'large'"
                     type="number"
                     [formControlName]="'mobile'"
                     [(ngModel)]="forget_password_one.user_mobile">
            </nz-form-control>
            <div class="ml8 pull-left check">
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetOne, 'mobile').dirty&&getFormControl(forgetOne, 'mobile').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入手机号</div>
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetOne, 'mobile').errors?.pattern"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入正确的手机号码</div>

            </div>
            <div class="clear"></div>
          </nz-form-item>
          <nz-form-item class="forget-form-item mt20">
            <label class="pull-left tittle"><span>验证码:</span></label>
            <nz-form-control class="pull-left input w230">
              <input nz-input placeholder="验证码"
                     [formControlName]="'auth_code'"
                     [nzSize]="'large'"
                     [(ngModel)]="forget_password_one.auth_code">
            </nz-form-control>
            <div class="pull-left input ml10 w110 code" (click)="refreshAuthCode()"><img [src]="authCodeData"></div>
            <div class="ml8 pull-left check">
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetOne, 'auth_code').dirty&&getFormControl(forgetOne, 'auth_code').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入验证码</div>
            </div>
            <div class="clear"></div>
          </nz-form-item>
          <div class="mt40 text-center">
            <button nz-button [nzType]="'primary'" [disabled]="!forgetOne.valid" (click)="oneClick()" [nzSize]="'large'" class="btn">
              <span>下一步</span>
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="current === 1" style="position: relative;">
        <p style="position: absolute; top: -48px; width: 100%;font-size: 14px;" class="text-center">点击获取验证码，短信将发送至安全手机<span class="ml4">{{phoneWarning}}</span></p>

        <form [formGroup]="forgetTwo">
          <nz-form-item class="forget-form-item">
            <label class="pull-left tittle"><span>手机验证:</span></label>
            <nz-form-control class="pull-left input w350">
              <input nz-input  placeholder="手机号"
                     type="number"
                     [nzSize]="'large'"
                     [formControlName]="'mobile'"
                     [(ngModel)]="forget_password_two.mobile">
            </nz-form-control>

            <div class="ml8 pull-left check">
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetTwo, 'mobile').dirty&&getFormControl(forgetTwo, 'mobile').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入手机号</div>
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetTwo, 'mobile').errors?.pattern"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入正确的手机号码</div>
            </div>
            <div class="clear"></div>
          </nz-form-item>
          <nz-form-item class="forget-form-item mt20">
            <label class="pull-left tittle"><span>输入验证码:</span></label>
            <nz-form-control class="pull-left input w230">
              <input nz-input placeholder="验证码"
                     [nzSize]="'large'"
                     [formControlName]="'phone_code'"
                     [(ngModel)]="forget_password_two.auth_code">
            </nz-form-control>
            <button class="register-phone-button ml8 code-ececec" nz-button [nzType]="'default'" [disabled]="isRequestingPhoneCode && count" [nzSize]="'large'" (click)="sendCode()">
              {{ count ? count + 's后重新获取' : '获取验证码' }}
            </button>
            <div class="ml8 pull-left check">
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetTwo, 'phone_code').dirty&&getFormControl(forgetTwo, 'phone_code').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入验证码</div>
            </div>
            <div class="clear"></div>
          </nz-form-item>
          <div class="mt40 text-center">
            <button nz-button [nzType]="'primary'" [disabled]="!forgetTwo.valid" (click)="twoClick()" [nzSize]="'large'" class="btn">
              <span>下一步</span>
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="current === 2">
        <form [formGroup]="forgetThree">
          <nz-form-item class="forget-form-item">
            <label class="pull-left tittle"><span>新密码:</span></label>
            <div class="pull-left input w350">
              <input nz-input  placeholder="输入密码"
                     [nzSize]="'large'"
                     type="password"
                     [formControlName]="'new_password'"
                     [(ngModel)]="forget_password_three.password">
            </div>
            <div class="pull-left long-check" *ngIf="getFormControl(forgetThree, 'new_password').dirty&&getFormControl(forgetThree, 'new_password').errors">
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetThree, 'new_password').errors?.required"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> 请输入新密码</div>
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetThree, 'new_password').errors?.pattern"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> 密码必须符合大写字母、小写字母、加数字、特殊符号组合形式，长度不能少于8位</div>
            </div>
            <div class="clear"></div>
          </nz-form-item>
          <nz-form-item class="forget-form-item mt20">
            <label class="pull-left tittle"><span>确认新密码:</span></label>
            <div class="pull-left input w350">
              <input nz-input  placeholder="确认密码"
                     type="password"
                     [nzSize]="'large'"
                     [formControlName]="'confirm_password'"
                     [(ngModel)]="forget_password_three.retry_password">
            </div>
            <div class="pull-left long-check"  *ngIf="getFormControl(forgetThree, 'confirm_password').dirty&&getFormControl(forgetThree, 'confirm_password').errors">
              <div class='ant-form-item-explain' *ngIf="getFormControl(forgetThree, 'confirm_password').errors?.required"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> 请确认密码！</div>
              <div class='ant-form-item-explain' *ngIf="!(getFormControl(forgetThree, 'confirm_password').errors?.required) && getFormControl(forgetThree, 'confirm_password').errors?.equal"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> 两次输入的密码不匹配！</div>
            </div>
            <div class="clear"></div>
          </nz-form-item>
          <div class="mt40 text-center">
            <button nz-button [nzType]="'primary'" (click)="sureClick()" [nzSize]="'large'" class="btn">
              <span>确定</span>
            </button>
          </div>
        </form>

      </div>
      <div *ngIf="current === 3">
        <div class="success">
         <i nz-icon nzType="check-circle" nzTheme="outline"></i>
          <span>恭喜，{{productInfo['name']}}账号***重置密码成功</span>
        </div>
        <div class="mt40 text-center">
          <button nz-button [nzType]="'primary'" routerLink="/login" [nzSize]="'large'" class="btn">
            <span>直接登录</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
