<div class="target-setting-container" *ngIf="targetConfig">
  <div class="form-content">
    <!--人群-->
    <div class="lab-row mb20">
      <label>{{editDefaultDataOption.targeting_audience.name}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.targeting_audience.value">
        <label *ngFor="let option of editDefaultDataOption.targeting_audience.sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
          {{option['label']}}
        </label>
      </nz-radio-group>
    </div>
    <div class="lab-row mt20" *ngIf="editDefaultDataOption.targeting_audience.value == 'custom_audience'">
      <label><span class="redStart">*</span>账户:</label>
      <div style="width: 800px">
        <nz-select class="w400 ml8"
                   [nzSize]="'small'"
                   [nzMaxTagCount]="1"
                   [nzMaxTagPlaceholder]="globalTemplate.tagPlaceHolder"
                   nzMode="multiple"
                   [nzPlaceHolder]="'请选择帐户'"
                   [nzAllowClear]="true"
                   [(ngModel)]="accounts"
                   (ngModelChange)="changeAccount($event,'audience')"
                   nzShowSearch>
          <nz-option
            *ngFor="let option of accountsList"
            [nzLabel]="option.pub_account_name"
            [nzValue]="option.chan_pub_id">
          </nz-option>
        </nz-select>
        <nz-tabset class="ml8">
          <nz-tab [nzTitle]="item.name" *ngFor="let item of curAccountsList">
            <div class="lab-row mt20 mb20" *ngIf="editDefaultDataOption.targeting_audience.value == 'custom_audience'">
              <label style="width: 80px">定向人群:</label>
              <div class="crowd-body-content mb20 ml8">
                <nz-input-group [nzSuffix]="suffixIcon">
                  <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchCrowdValue" />
                </nz-input-group>
                <ng-template #suffixIcon>
                  <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-tree #tree
                         nzCheckable
                         [nzSearchValue]="searchCrowdValue"
                         [nzData]="item.crowdList"
                         (nzCheckBoxChange)="treeCrowdOnCheck($event,item)"
                         [nzCheckedKeys]="item.crowdResultList"
                         nzVirtualHeight="268px"
                         nzBlockNode
                ></nz-tree>
              </div>
            </div>

            <div class="lab-row mb20" *ngIf="editDefaultDataOption.targeting_audience.value == 'custom_audience'">
              <label style="width: 80px">排除人群:</label>
              <div class="crowd-body-content mb20 ml8">
                <nz-input-group [nzSuffix]="suffixIcon">
                  <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchExcludeValue" />
                </nz-input-group>
                <ng-template #suffixIcon>
                  <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-tree #tree
                         nzCheckable
                         [nzData]="item.excludeCrowdList"
                         [nzSearchValue]="searchExcludeValue"
                         (nzCheckBoxChange)="treeExcludeCrowdOnCheck($event,item)"
                         [nzCheckedKeys]="item.excludeCrowdResultList"
                         nzVirtualHeight="268px"
                         nzBlockNode
                ></nz-tree>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
    <!--地域-->
    <div class="lab-row mb20">
      <label>{{targetConfig['region']['name']}}:</label>
      <div>
        <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.allRegion" (ngModelChange)="cityText='';noHaveText=''">
          <ng-container *ngFor="let option of targetConfig['region']['sub']">
            <label nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">{{option.label}}</label>
          </ng-container>
        </nz-radio-group>
        <ng-container *ngIf="allCity">
          <div class="ml8 mt20" *ngIf="editDefaultDataOption.allRegion === 1">
            <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption.cityList.resultData"
                              (nzChange)="transferTreeChange(editDefaultDataOption.cityList,$event,'region')"
                              [source]="editDefaultDataOption.cityList.list"
                              [canSearch]="true">
            </nz-transfer-tree>
          </div>

          <div class="ml8 mt20" *ngIf="editDefaultDataOption.allRegion === 2">
            <nz-transfer-tree [getParentKey]="false" [target]="editDefaultDataOption.countyList.resultData"
                              (nzChange)="transferTreeChange(editDefaultDataOption.countyList,$event,'region')"
                              [source]="editDefaultDataOption.countyList.list"
                              [canSearch]="true">
            </nz-transfer-tree>
          </div>
          <div class="ml8 mt20" *ngIf="editDefaultDataOption.allRegion === 3">
            <nz-transfer-tree [getParentKey]="false" [target]="editDefaultDataOption.placeList.resultData"
                              (nzChange)="transferTreeChange(editDefaultDataOption.placeList,$event,'region')"
                              [source]="editDefaultDataOption.placeList.list"
                              [canSearch]="true">
            </nz-transfer-tree>
          </div>
        </ng-container>


      </div>

    </div>
    <!-- 性别-->
    <div class="lab-row mb20">
      <label>{{targetConfig['sex']['name']}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.sex">
        <ng-container *ngFor="let option of targetConfig['sex']['sub']">
          <label nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">{{option.label}}</label>
        </ng-container>
      </nz-radio-group>
    </div>
    <!--年龄-->
    <div class="lab-row mb20">
      <label>{{targetConfig['age']['name']}}:</label>
      <div class="ml8">
        <label nz-checkbox [(ngModel)]="editDefaultDataOption.age.checked" (ngModelChange)="changeNoLimit(targetConfig['age']['sub'][1],'age')" [nzDisabled]="isLaunchPackage && editDefaultDataOption.age.disabled ">
          不限
        </label>
        <nz-checkbox-group class="mr8" [(ngModel)]="targetConfig['age']['sub'][1]['sub']"
                           (ngModelChange)="updateSingleChecked($event,'age')"></nz-checkbox-group>
        <div class="error-tip mt5 ml8" *ngIf="errorTipAry.age.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ errorTipAry.age.tip_text }}</span>
        </div>
      </div>
    </div>
    <!--学历-->
    <div class="lab-row mb20">
      <label>{{targetConfig['education']['name']}}:</label>
      <div class="ml8">
        <label nz-checkbox [(ngModel)]="editDefaultDataOption.education.checked" [nzDisabled]="isLaunchPackage && editDefaultDataOption.education.disabled"
               (ngModelChange)="changeNoLimit(targetConfig['education'],'education')">
          不限
        </label>
        <nz-checkbox-group class="mr8" [(ngModel)]="targetConfig['education']['sub']"
                           (ngModelChange)="updateSingleChecked($event,'education')"></nz-checkbox-group>
      </div>
    </div>
    <!--人生阶段-->
    <div class="lab-row mb20">
      <label>{{targetConfig['lifeStage']['name']}}:</label>
      <div class="ml8">
        <nz-radio-group [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.lifeStage.value">
          <ng-container *ngFor="let option of editDefaultDataOption['lifeStage']['sub']">
            <label nz-radio-button [nzDisabled]="isLaunchPackage && option.disabled" [nzValue]="option.value">{{option.label}}</label>
          </ng-container>
        </nz-radio-group>
        <div class="mt20" *ngIf="editDefaultDataOption.lifeStage.value == 'custom'">
          <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption.lifeStage.resultData" (nzChange)="transferTreeChange(editDefaultDataOption.lifeStage,$event,'lifeStage')"
                            [source]="targetConfig.lifeStage.sub"></nz-transfer-tree>
        </div>
      </div>

    </div>

    <!-- 排除已转化人群-->
    <div class="lab-row mb20">
      <label>{{targetConfig['excludeTrans']['name']}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.excludeTrans">
        <ng-container *ngFor="let option of targetConfig['excludeTrans']['sub']">
          <label nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">{{option.label}}</label>
        </ng-container>
      </nz-radio-group>
    </div>
    <!--媒体-->
    <div class="lab-row mb20">
      <label>{{targetConfig['mediaOrientation'].name}}:</label>
      <div class="ml8">
        <nz-radio-group [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.mediaOrientation.value" (ngModelChange)="mediaAccounts=[];mediaAccountsList=[]">
          <label *ngFor="let option of targetConfig['mediaOrientation'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
            {{option['label']}}
          </label>
        </nz-radio-group>
        <div class="mt20 mb20" *ngIf="editDefaultDataOption.mediaOrientation.value==='mediaCategories'">
          <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption.mediaOrientation.resultData"
                            (nzChange)="transferTreeChange(editDefaultDataOption.mediaOrientation,$event,'mediaOrientation')"
                            [source]="targetConfig['mediaOrientation'].sub[3].sub"></nz-transfer-tree>
        </div>
      </div>
    </div>
    <div class="lab-row mt20" *ngIf="editDefaultDataOption.mediaOrientation.value==='mediaPackage'">
      <label><span class="redStart">*</span>账户:</label>
      <div style="width: 800px">
        <nz-select class="w400 ml8"
                   [nzSize]="'small'"
                   [nzMaxTagCount]="1"
                   [nzMaxTagPlaceholder]="globalTemplate.tagPlaceHolder"
                   nzMode="multiple"
                   [nzPlaceHolder]="'请选择帐户'"
                   [nzAllowClear]="true"
                   [(ngModel)]="mediaAccounts"
                   (ngModelChange)="changeAccount($event,'media')"
                   nzShowSearch>
          <nz-option
            *ngFor="let option of accountsList"
            [nzLabel]="option.pub_account_name"
            [nzValue]="option.chan_pub_id">
          </nz-option>
        </nz-select>
        <nz-tabset class="ml8">
          <nz-tab [nzTitle]="item.name" *ngFor="let item of mediaAccountsList">
            <!--媒体包选择-->
            <div class="mt20 mb20" style="display:flex;">
              <label>{{targetConfig['mediaPackage'].name}}:</label>
              <div class="ml8">
                <nz-radio-group [nzSize]="'small'" [(ngModel)]="item.media_type" (ngModelChange)="getMediaPackages(item)">
                  <label *ngFor="let option of targetConfig['mediaPackage'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
                    {{option['label']}}
                  </label>
                </nz-radio-group>
                <div class="crowd-body-content mt20" style="display: block">
                  <nz-tree #tree
                           nzCheckable
                           nzVirtualHeight="298px"
                           [nzData]="item.media.list"
                           (nzCheckBoxChange)="treeMediaOnCheck($event,item)"
                           [nzCheckedKeys]="item.media.resultData"
                           nzBlockNode
                  ></nz-tree>
                </div>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
    <div class="lab-row mt20" *ngIf="editDefaultDataOption.mediaOrientation.value==='customMediaPackage'">
      <label><span class="redStart">*</span>账户:</label>
      <div style="width: 800px">
        <nz-select class="w400 ml8"
                   [nzSize]="'small'"
                   [nzMaxTagCount]="1"
                   [nzMaxTagPlaceholder]="globalTemplate.tagPlaceHolder"
                   nzMode="multiple"
                   [nzPlaceHolder]="'请选择帐户'"
                   [nzAllowClear]="true"
                   [(ngModel)]="mediaAccounts"
                   (ngModelChange)="changeAccount($event,'media',1)"
                   nzShowSearch>
          <nz-option
            *ngFor="let option of accountsList"
            [nzLabel]="option.pub_account_name"
            [nzValue]="option.chan_pub_id">
          </nz-option>
        </nz-select>
        <nz-tabset class="ml8 mb20">
          <nz-tab [nzTitle]="item.name" *ngFor="let item of mediaAccountsList">
            <!--媒体包选择-->
            <div class="crowd-body-content mt20" style="display: block">
              <nz-tree #tree nzCheckable
                       nzVirtualHeight="298px"
                       [nzData]="item.media.list"
                       (nzCheckBoxChange)="treeMediaOnCheck($event,item)"
                       [nzCheckedKeys]="item.media.resultData"
                       nzBlockNode
              ></nz-tree>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
    <!--意图词-->
    <div class="lab-row mb20">
      <label>{{targetConfig['keywords'].name}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.pa_keywords">
        <label *ngFor="let option of targetConfig['keywords'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
            {{option['label']}}
        </label>
      </nz-radio-group>
    </div>
    <div class="lab-row mt20" *ngIf="editDefaultDataOption.pa_keywords=='1'">
      <label><span class="redStart">*</span>账户:</label>
      <div style="width: 800px">
        <nz-select class="w400 ml8"
                   [nzSize]="'small'"
                   [nzMaxTagCount]="1"
                   [nzMaxTagPlaceholder]="globalTemplate.tagPlaceHolder"
                   nzMode="multiple"
                   [nzPlaceHolder]="'请选择帐户'"
                   [nzAllowClear]="true"
                   [(ngModel)]="keyAccounts"
                   (ngModelChange)="changeAccount($event,'keywords')"
                   nzShowSearch>
          <nz-option
            *ngFor="let option of accountsList"
            [nzLabel]="option.pub_account_name"
            [nzValue]="option.chan_pub_id">
          </nz-option>
        </nz-select>
        <nz-tabset class="ml8">
          <nz-tab [nzTitle]="item.name" *ngFor="let item of keyAccountsList">
            <div class="mt20 mb20">
              <div class="mb20" style="display: flex;">
                <label style="width: 60px; text-align: right; display: inline-block;">意图词包:</label>
                <nz-select class="ml8" style="width: 500px"
                           [(ngModel)]="item['keywords']['group_id']"
                           (ngModelChange)="intentionWordGroupChange($event, item,item['keywords'])"
                           [nzPlaceHolder]="'请选择'"
                           [nzSize]="'small'"
                           nzShowSearch>
                  <ng-container *ngFor="let word of item.list">
                    <nz-option [nzValue]="word['wtp_id']" [nzLabel]="word['wtp_name']"></nz-option>
                  </ng-container>
                </nz-select>
              </div>
              <div style="display: flex;">
                <label style="width: 60px; text-align: right; display: inline-block;">意图词:</label>
                <div class="ml8" style="display: flex">
                  <div class="w300 textarea-box" style="padding: 6px;">
                    <textarea style="min-height: 300px;max-height:300px;overflow: auto" nzAutosize rows="4" nz-input placeholder="请输入意图词，多个意图词用换行或者,或者空格隔开" [(ngModel)]="item['keywords'].text"></textarea>
                    <div style="text-align: right"><button class="mt10" nzSize="small" nz-button nzType="primary" (click)="addText(item['keywords'])">添加</button></div>
                  </div>
                  <div class="w300 ml20 textarea-box" style="border:1px solid #dcdfe6">
                    <div class="text_header pd10">
                      已添加词
                      <span class="num">{{item['keywords'].resultData.length}}/2000</span>
                      <a style="float: right;" (click)="clearInput(item['keywords'])">清空</a>
                    </div>
                    <div style="height: 300px;overflow: auto">
                      <p style="padding: 0 10px" *ngFor="let word of item['keywords'].resultData">{{word}}</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>

    <!--意图词用户行为-->
    <div class="lab-row mb20">
      <label>{{targetConfig['keywordsExtend'].name}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.keywordsExtend">
        <label *ngFor="let option of targetConfig['keywordsExtend'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
          {{option['label']}}
        </label>
      </nz-radio-group>
    </div>
    <!--兴趣-->
    <div class="lab-row mb20">
      <label>{{targetConfig['interest']['name']}}:</label>
      <div class="ml8">
        <nz-radio-group [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.interest.value">
          <label *ngFor="let option of targetConfig['interest']['sub']" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
            {{option['label']}}
          </label>
        </nz-radio-group>
        <div class="mt20" *ngIf="allCity&&editDefaultDataOption.interest.value === '1'">
          <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption.interest.resultData"
                            (nzChange)="transferTreeChange(editDefaultDataOption.interest,$event,'interest')"
                            [source]="editDefaultDataOption.interest.list"></nz-transfer-tree>
        </div>
      </div>
    </div>
    <!--操作系统-->
    <div class="lab-row mb20">
      <label>{{targetConfig['device']['name']}}:</label>
      <div class="ml8">
        <label nz-checkbox [nzDisabled]="objectiveType !== '1' || editDefaultDataOption.device.disabled" [(ngModel)]="editDefaultDataOption.device.checked" (ngModelChange)="changeNoLimit(targetConfig['device'],'device')">
          不限
        </label>
        <nz-checkbox-group class="mr8" [(ngModel)]="targetConfig['device']['sub']"
                           (ngModelChange)="updateSingleChecked($event,'device')"></nz-checkbox-group>
        <div class="error-tip mt5 ml8" *ngIf="errorTipAry.device.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ errorTipAry.device.tip_text }}</span>
        </div>
      </div>
    </div>
    <!--网络环境-->
    <div class="lab-row mb20">
      <label>{{targetConfig['net']['name']}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.net">
        <ng-container *ngFor="let option of targetConfig['net']['sub']">
          <label nz-radio-button [nzValue]="option.value" [nzDisabled]="option.disabled">{{option.label}}</label>
        </ng-container>
      </nz-radio-group>
    </div>
    <!-- 最低android版本-->
    <ng-container *ngIf="objectiveType === '3'">
      <div class="lab-row mb20">
        <label>{{targetConfig['androidVersion']['name']}}:</label>
        <nz-select nzSize="small" class="w150 ml8" nzShowSearch [(ngModel)]="editDefaultDataOption.androidVersion">
          <nz-option [nzLabel]="'不限'" [nzValue]="'0'"></nz-option>
          <nz-option *ngFor="let item of targetConfig['androidVersion']['sub'][1]['sub']" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
      </div>
    </ng-container>
    <!-- 最低ios版本-->
    <ng-container *ngIf="objectiveType === '2'">
      <div class="lab-row mb20">
        <label>{{targetConfig['iosVersion']['name']}}:</label>
        <nz-select nzSize="small" class="w150 ml8" nzShowSearch [(ngModel)]="editDefaultDataOption.iosVersion">
          <nz-option [nzLabel]="'不限'" [nzValue]="'0'"></nz-option>
          <nz-option *ngFor="let item of targetConfig['iosVersion']['sub'][1]['sub']" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
      </div>
    </ng-container>
    <!--app-->
    <div class="lab-row mb20">
      <label>{{targetConfig['app']['name']}}:</label>
      <div class="ml8">
        <nz-radio-group [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.app.value">
          <ng-container *ngFor="let option of targetConfig['app']['sub']">
            <label nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
              {{option['label']}}
            </label>
          </ng-container>
        </nz-radio-group>
        <div class="mt20" *ngIf="editDefaultDataOption.app.value === 'category'">
          <nz-radio-group class="mb20" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.app.behavior">
            <label nz-radio-button [nzValue]="2">定向已安装</label>
            <label nz-radio-button [nzValue]="4">排除已安装</label>
          </nz-radio-group>
          <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption.app.resultData"
                            (nzChange)="transferTreeChange(editDefaultDataOption.app,$event,'app')"
                            [source]="targetConfig['app']['sub'][1]['sub']"></nz-transfer-tree>
        </div>
      </div>
    </div>
    <!--仅投放至允许调起的媒体-->
    <div class="lab-row mb20">
      <label>{{targetConfig['deeplinkOnly'].name}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.deeplinkOnly">
        <label *ngFor="let option of targetConfig['deeplinkOnly'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
          {{option['label']}}
        </label>
      </nz-radio-group>
    </div>
    <!--定向逻辑-->
    <div class="lab-row mb20">
      <label>{{targetConfig['behavior'].name}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.behavior">
        <label *ngFor="let option of targetConfig['behavior'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
          {{option['label']}}
        </label>
      </nz-radio-group>
    </div>
    <!--媒体定向逻辑-->
    <div class="lab-row mb20">
      <label>{{targetConfig['mediaType'].name}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.mediaType">
        <label *ngFor="let option of targetConfig['mediaType'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
          {{option['label']}}
        </label>
      </nz-radio-group>
    </div>
    <!--自动扩量-->
    <div class="lab-row mb20">
      <label>{{targetConfig['autoExpansion'].name}}:</label>
      <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="editDefaultDataOption.autoExpansion">
        <label *ngFor="let option of targetConfig['autoExpansion'].sub" nz-radio-button [nzValue]="option.value" [nzDisabled]="isLaunchPackage && option.disabled">
          {{option['label']}}
        </label>
      </nz-radio-group>
    </div>

  </div>
</div>
<ng-template #tagPlaceHolder let-selectedList>已选{{ selectedList.length }}项</ng-template>
<app-global-template></app-global-template>
