.target-setting-container {
  .form-content {
    .lab-row{
      display: flex;
      width: 100% !important;
      margin-bottom: 2px;
    }

    .lab-row > label:first-child{
      width: 160px;
      text-align: right;
      display: inline-block;
    }
  }

  .extensionPeriod {
    padding: 10px 0 !important;
    margin-left: 0 !important;
  }

  .ml148 {
    margin-left: 148px;
  }

  .crowd-body-content{
    height: 300px;
    width: 500px;
    border: 1px solid #eeee;
    display: inline-block;
  }

  .target-slider{

    .ant-slider-with-marks {
      margin-bottom: 48px;
    }

    ::ng-deep .ant-slider-rail{
      background-color: #e4e4e4 !important;
    }
  }
}

.ant-dropdown-menu.ant-dropdown-menu-vertical{
  width: 200px;
}
.textarea-box{
  border: 1px solid #ddd;
  border-radius: 4px;
}
.text_header{
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  padding: 0 12px;
  background: rgba(0,0,0,.02);
  text-align: left;
  color: #666;
  border-bottom: 1px solid #ddd;
  .num {
    font-size: 12px;
    color: #999;
    padding-left: 5px;
    font-weight: 400;}
}
.product-body {
  height: 317px;
  width: 742px;
  padding: 10px;
  border: 1px solid #eeee;

  .product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-icon {
      font-size: 14px;
      color: #999;
    }

    .product-main {
      width: 350px;
      height: 263px;
      border: 1px solid #d8d8d8;

      .product-head {
        background-color: #eee;
        line-height: 28px;
        border-bottom: 1px solid #d8d8d8;
        text-indent: 6px;
      }

      .product-list {
        height: 234px;
        overflow-y: auto;

        &>li {
          line-height: 30px;
          padding: 0 5px;
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &>i {
            display: inline-block;
            float: right;
            width: 20px;
            height: 28px;
            line-height: 28px;
            color: #4593ff;
            cursor: pointer;
          }
        }
      }

      .product-area {
        width: 100%;
        height: 232px;
        line-height: 20px;
        padding: 0 5px;
        border: 0;
        resize: none
      }
    }
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>div {
      width: 350px;
      height: 24px;
    }
  }

}
.textarea-box{
  border: 1px solid #ddd;
  border-radius: 4px;
}
.text_header{
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  padding: 0 12px;
  background: rgba(0,0,0,.02);
  text-align: left;
  color: #666;
  border-bottom: 1px solid #ddd;
  .num {
    font-size: 12px;
    color: #999;
    padding-left: 5px;
    font-weight: 400;}
}

