.create-content {
  text-align: center;
}
.create-title {
  word-spacing: normal;
  display: -webkit-box;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 38px;
  word-break: break-all;
  white-space: normal;
}
.small_img {
  width: 67.8px;
  height: 38px;
  display: inline-block;
}
.small_img_left {
  position: relative;
  width: 100%;
  height: 38px;
  .create-title {
    padding-left: 77.8px;
    height: 38px;
  }
  .create-content {
    position: absolute;
    top: 0;
    left: 0;
  }
}
