<div class="add-card-template-container">
  <div class="title">卡片模板</div>
<!--  <nz-spin [nzSpinning]="getting">-->
    <div class="form-content pl20">
      <div class="target-setting pl20">
        <!--推广卡片-->
        <div class="form-card mb10">
          <div class="lab-row mb20">
            <label><span class="redStart">*</span>模板名称:</label>
            <input nz-input
                   class="w300 ml8"
                   [nzSize]="'small'"
                   type="text"
                   [(ngModel)]="defaultArr.promo_card_template_name"
                   placeholder="请输入模板名称">
          </div>
          <div class="sub_title mb10">推广卡片</div>
          <div class="promotion-card-container">
            <div class="form-content">

              <div class="lab-row mb20">
                <label><span class="redStart">*</span>选择模板账户:</label>
                <div>
                  <nz-select class="w300 ml8"
                             [nzSize]="'small'"
                             [nzPlaceHolder]="'请选择'"
                             [(ngModel)]="defaultArr.chan_pub_id"
                             (ngModelChange)="changeAccountTemplate($event)"
                             [nzDisabled]="cardTemplateId"
                  >
                    <nz-option *ngFor="let item of accountTemplate" [nzLabel]="item.pub_account_name" [nzValue]="item.chan_pub_id"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="lab-row mb20">
                <label><span class="redStart">*</span>下载类型:</label>
                <div>
                  <nz-select class="w300 ml8"
                             [nzSize]="'small'"
                             [nzPlaceHolder]="'请选择'"
                             [nzDisabled]="!defaultArr.chan_pub_id || cardTemplateId"
                             [(ngModel)]="defaultArr.download_type"
                             (ngModelChange)="changeDownloadType($event)"
                  >
                    <nz-option *ngFor="let item of downloadTypeList" [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="lab-row mb20">
                <label><span class="redStart">*</span>卡片主图:</label>
                <div>
                  <div class="mb10 ml8" *ngIf="imgUrl">
                    <img [src]="imgUrl" />
                  </div>
                  <div>
                    <button class="ml8" [disabled]="!defaultArr.chan_pub_id" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="uploadMaterials()">
                      <span>上传主图</span>
                    </button>
                    <button class="ml8 mr8" [disabled]="!defaultArr.chan_pub_id" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="addMaterials('userImage',defaultArr)">
                      <i nz-icon nzType="select" nzTheme="outline"></i><span>选择主图</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="lab-row mb20">
                <label><span class="redStart">*</span>卡片标题:</label>
                <div>
                  <input class="w_full ml8" maxlength="7" nz-input nzSize="small" [disabled]="!defaultArr.chan_pub_id" [(ngModel)]="defaultArr.promo_card_setting.product_description" [placeholder]="'请输入卡片标题'" (ngModelChange)="cardNameChange($event)">
                  <span class="ml8">{{cardNameLength}}/7</span>
<!--                  <div class="ml8 mt10">推荐名称：</div>-->
                </div>
              </div>

              <div class="lab-row mb20">
                <label><span class="redStart">*</span>推广卖点:</label>
                <div>
                  <button class="ml8" nz-button [disabled]="!defaultArr.chan_pub_id" (click)="addSellingPoints()"> + 推广卖点</button>
                  <span class="ml20"> 已选：{{pointsNumber}}/10</span>
                  <div class="ml8 mt5">当您选择多个卖点时，系统将默认为您开启针对推广卖点的优选投放</div>
                  <ng-container *ngFor="let item of defaultArr.promo_card_setting.product_points let index = index">
                    <div class="w_full mt20">
                      <input class="w305 ml8" nz-input nzSize="small" maxlength="9" [disabled]="!defaultArr.chan_pub_id" [(ngModel)]="item.name" [placeholder]="'请输入推广卖点'" (ngModelChange)="sellingNameChange(item)">
                      <span class="ml8">{{item.sellingPointsNameLength}}/9</span>
                      <span class="ml20 delete" *ngIf="defaultArr.promo_card_setting.product_points.length > 1" (click)="deleteSellingPoints(index)">×</span>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="lab-row mb20">
                <label><span class="redStart">*</span>行动号召:</label>
                <div>
                  <nz-radio-group
                    class="ml8"
                    [nzSize]="'small'"
                    [(ngModel)]="defaultArr.promo_card_setting.enable_personal_action"
                    [nzDisabled]="!defaultArr.chan_pub_id"
                  >
                    <ng-container>
                      <label nz-radio-button [nzValue]="true">
                        <span>开启智能优选</span>
                      </label>
                    </ng-container>
                    <ng-container>
                      <label nz-radio-button [nzValue]="false">
                        <span>关闭智能优选</span>
                      </label>
                    </ng-container>
                  </nz-radio-group>
                  <div class="mt5 ml8">系统将基于字节领先的技术能力和实时的投放数据，在每次抖音广告显示时，挑选最有利于转化的文案进行显示，帮助您提升转化能力。</div>
                  <div class="mt20">
                    <nz-select class="w200 ml8"
                               [nzSize]="'small'"
                               [nzPlaceHolder]="'请选择'"
                               [(ngModel)]="defaultArr.promo_card_setting.call_to_action"
                               [nzDisabled]="!defaultArr.chan_pub_id || !defaultArr.download_type"
                    >
                      <nz-option *ngFor="let item of callToList" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                  </div>
                  <div class="ml8 mt5">在无法使用智能优选的流量场景下，将使用上方文案展示给用户</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  </nz-spin>-->
  <div class="form-btns">
    <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCancel()">
      <span>取消</span>
    </button>
    <button class="ml8" nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="doSave()">
      <span>完成</span>
    </button>
  </div>
</div>
