<div class="add-campaign-name-box">
  <div class="url-content">
    <label class="url-label">计划名: </label>
    <div class="url-list" #inputBox>
      <div class="url-list-item mb20" *ngFor="let item of nameList;let i = index;">
        <div class="form-content">
          <input nz-input
                 class="w100 ml8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="item.adgroup_name_template_name"
                 placeholder="请输入备注">
          <input nz-input
                 class="w_full ml8 ipts"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="item.adgroup_name_template"
                 (ngModelChange)="contentChange(item.adgroup_name_template, i);"
                 (click)="getCurrentFocus(i);"
                 placeholder="请输入计划名">
        </div>
        <ng-container *ngIf="!isEdit">
          <i nz-icon nzType="plus" nzTheme="outline" class="deleteBtn ml10" (click)="addItem(i)"></i>
          <i nz-icon nzType="close" nzTheme="outline" class="deleteBtn ml10"  *ngIf="nameList.length > 1"  (click)="removeItem(i)"></i>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="tag-content mt8 mb8">
    <label>标签: </label>
    <div class="tag">
      <nz-tag class="ml8" (click)="addTags('当前日期')">当前日期</nz-tag>
    </div>
  </div>

  <div class="form-btns">
    <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCancel()">
      <span>取消</span>
    </button>
    <button class="ml8" nz-button [nzType]="'primary'" [nzLoading]="submiting" [nzSize]="'small'" (click)="doSave()">
      <span>保存</span>
    </button>
  </div>
</div>
