<!--单元_添加单个单元-->
<div>
  <h3>添加单个单元</h3>
  <p class="slow_360" *ngIf="addSingleUnitData['publisher_id'] * 1 === 3">360媒体的编辑操作同步到媒体端有一定时间的延迟，请耐心等待，请勿重复修改!</p>
  <!--投放状态-->
  <div class="inpRow mt8">
    <div class="inpRow_left pull-left">
      <label class="titleLa w86 mr8 inline-block">
        <span>投放状态:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left">
      <nz-radio-group [(ngModel)]="addSingleUnitData.pause">
        <label class="mr20" nz-radio [nzValue]="false">
          <span>开启</span>
        </label>
        <label nz-radio [nzValue]="true">
          <span>暂停</span>
        </label>
      </nz-radio-group>
    </div>
    <div class="clear"></div>
  </div>
  <!--媒体-->
  <div class="inpRow mt8">
    <div class="inpRow_left pull-left">
      <label class="titleLa w86 mr8 inline-block">
        <span>媒体:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs">
      <nz-select style="width: 200px;"
                 [(ngModel)]="addSingleUnitData['publisher_id']"
                 (ngModelChange)="changePublisher(addSingleUnitData,false)"
                 nzPlaceHolder="请选择媒体"
                 [nzSize]="'small'"
      >
        <nz-option
          *ngFor="let option of publisherData"
          [nzLabel]="option.publisher_name"
          [nzValue]="option.publisher_id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="!addSingleUnitData['publisher_id']"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请选择媒体</span>
    </div>
    <div class="clear"></div>
  </div>
  <!--账户-->
  <div class="inpRow mt8">
    <div class="inpRow_left pull-left">
      <label class="titleLa w86 mr8 inline-block">
        <span>账户:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs">
      <nz-select style="width: 200px;"
                 [(ngModel)]="addSingleUnitData['pub_account_id']"
                 (ngModelChange)="changeAccount(addSingleUnitData,false)"
                 nzPlaceHolder="请选择账户"
                 [nzSize]="'small'"
      >
        <nz-option
          *ngFor="let account of accountData"
          [nzLabel]="account.pub_account_name"
          [nzValue]="account.pub_account_id">
        </nz-option>
      </nz-select>
      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="!addSingleUnitData['pub_account_id']"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请选择媒体</span>
    </div>
    <div class="clear"></div>
  </div>
  <!--计划-->
  <div class="inpRow mt8">
    <div class="inpRow_left pull-left">
      <label class="titleLa w86 mr8 inline-block">
        <span>计划:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs">
      <nz-select style="width: 200px;"
                 [(ngModel)]="addSingleUnitData['pub_campaign_id']"
                 (ngModelChange)="changeCampaign(addSingleUnitData,false)"
                 nzPlaceHolder="请选择计划"
                 [nzSize]="'small'"
      >
        <nz-option
          *ngFor="let campItem of campaign"
          [nzLabel]="campItem.pub_campaign_name"
          [nzValue]="campItem.pub_campaign_id">
        </nz-option>
      </nz-select>
      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="!addSingleUnitData['pub_campaign_id']"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请选择计划</span>
    </div>
    <div class="clear"></div>
  </div>
  <!--单元名称-->
  <div class="inpRow mt8">
    <div class="inpRow_left pull-left">
      <label class="titleLa w86 mr8 inline-block">
        <span>单元名称:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs">
      <input nz-input style="width: 200px;"
             [(ngModel)]="addSingleUnitData.pub_adgroup_name"
             placeholder="输入单元名称"
             [nzSize]="'small'">

      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="!addSingleUnitData.pub_adgroup_name"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>单元名称不能为空</span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="inpRow mt8">
    <div class="inpRow_left pull-left">
      <label class="titleLa w86 mr8 inline-block">
        <span>单元出价:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs hasInput">
      <nz-input-number style="width: 180px;"
                       [(ngModel)]="addSingleUnitData.max_price"
                       (click) ="changeInput('max_price')"
                       [nzSize]="'small'">
      </nz-input-number>
      <span class="ml5 titleColor">元</span>
      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.max_price && (addSingleUnitData['publisher_id'] * 1 === 1 || addSingleUnitData['publisher_id'] * 1 === 2)">
                   <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>出价不能为空且 范围 为 0.01~999.99</span>
      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.max_price && addSingleUnitData['publisher_id'] * 1 === 3">
                   <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>出价不能为空且 范围 为 0.3~999.99</span>
      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.max_price && addSingleUnitData['publisher_id'] * 1 === 4">
                   <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>出价不能为空且 范围 为 0.45~999.99</span>
    </div>
    <div class="clear"></div>
  </div>
  <!--出价比例-->
  <div *ngIf="addSingleUnitData['publisher_id'] * 1 === 1">
    <!--单元出价比例-->
    <div class="inpRow mt8" *ngIf="campaignInfo['bid_prefer'] * 1 === 2">
      <div class="inpRow_left pull-left">
        <label class="titleLa w90 mr8 inline-block">
          <span>计算机出价比例:</span>
        </label>
      </div>
      <div class="inpRow_right pull-left">
        <nz-radio-group [(ngModel)]="price_ratio">
          <div>
            <label class=" titleColor"
                   nz-radio
                   [nzValue]="1">
              <span class="pl0 pr0">使用计划的计算机出价比例：</span>
              <span>{{wap_price}}</span>
            </label>
          </div>
          <div class="mt5">
            <div class="pull-left h20">
              <label class="titleColor mr0"
                     nz-radio
                     [nzValue]="2">
                <span class="pl0 pr0">使用单元的计算机出价比例：</span>
              </label>
            </div>
            <nz-input-number
              [(ngModel)]="addSingleUnitData.pc_price_ratio"
              (click) ="changeInput('pc_price_ratio')"
              [nzSize]="'small'">
            </nz-input-number>
            <ng-container ngif="price_ratio === 2">
              <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.pc_price_ratio"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>单元计算机出价比例不能为空 且 范围为 0~10</span>
            </ng-container>
          </div>
        </nz-radio-group>
      </div>
      <div class="clear"></div>
    </div>
    <!--移动出价比例-->
    <div class="inpRow mt8" *ngIf="campaignInfo['bid_prefer'] * 1 === 1">
      <div class="inpRow_left pull-left">
        <label class="titleLa w90 mr8 inline-block" >
          <span>移动出价比例:</span>
        </label>
      </div>
      <div class="inpRow_right pull-left">
        <nz-radio-group [(ngModel)]="price_ratio">
          <div>
            <label class=" titleColor"
                   nz-radio
                   [nzValue]="1">
              <span class="pl0 pr8">使用计划移动出价比例:</span>
              <span>{{pc_price}}</span>
            </label>
          </div>
          <div class="mt5">
            <div class="pull-left h20">
              <label class="titleColor mr0"
                     nz-radio
                     [nzValue]="2">
                <span class="pl0 pr0">使用单元移动出价比例:</span>
              </label>
            </div>
            <nz-input-number
              [(ngModel)]="addSingleUnitData.wap_price_ratio"
              (click) ="changeInput('wap_price_ratio')"
              [nzSize]="'small'">
            </nz-input-number>
            <ng-container *ngIf="price_ratio === 2">
              <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.wap_price_ratio"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>单元移动出价比例不能为空 且 范围为 0~10</span>
            </ng-container>
          </div>
        </nz-radio-group>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--移动端操作系统-->
  <div *ngIf="addSingleUnitData['publisher_id'] * 1 === 4" class="inpRow mt8">
    <div class="inpRow_left pull-left">
      <label class="titleLa w90 inline-block">
        <span>投放平台:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left ed_sele ml5">
      <nz-select class="w200"
                 [nzMode]="'multiple'"
                 [nzSize]="'small'"
                 nzPlaceHolder="请选择操作系统"
                 [(ngModel)]="addSingleUnitData.ad_platform_os">
        <nz-option
          *ngFor="let option of operatingModel"
          [nzLabel]="option.label"
          [nzValue]="option.value">
        </nz-option>
      </nz-select>
      <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="addSingleUnitData.ad_platform_os.length < 1"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请选择媒体</span>
    </div>
    <div class="clear"></div>
  </div>

  <!--分匹配模式出价-->
  <div class="inpRow mt8" *ngIf="addSingleUnitData['publisher_id'] * 1 === 1" [ngClass]="{disabled:match_price_pause}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w90 inline-block">
        <span>分匹配模式出价:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs ml5">
      <div>
        <nz-radio-group [(ngModel)]="match_price_pause">
          <label class="mr20"
                 nz-radio
                 [nzValue]="true">
            <span>开启</span>
          </label>
          <label nz-radio
                 [nzValue]="false">
            <span>关闭</span>
          </label>
        </nz-radio-group>
      </div>
      <div *ngIf="match_price_pause">
        <label class="inline-block w110">
          <span>精确匹配出价比例：</span>
        </label>
        <nz-input-number
          [(ngModel)]="addSingleUnitData['accu_price_factor']"
          (click) ="changeInput('accu_price_factor')"
          [nzSize]="'small'">
        </nz-input-number>
        <ng-container *ngIf="match_price_pause">
          <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.accu_price_factor"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>精确系数不能为空 且范围为：1~10</span>
        </ng-container>
      </div>
      <div class="mt8" *ngIf="match_price_pause">
        <label class="inline-block w110">
          <span>短语匹配出价比例：</span>
        </label>
        <nz-input-number
          [(ngModel)]="addSingleUnitData['word_price_factor']"
          (click) ="changeInput('word_price_factor')"
          [nzSize]="'small'">
        </nz-input-number>
        <ng-container *ngIf="match_price_pause">
          <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.word_price_factor"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>短语系数不能为空 且范围为：0.1~1.2</span>
        </ng-container>
      </div>
      <div class="mt8 mb5" *ngIf="match_price_pause">
        <label class="inline-block w110">
          <span>广泛匹配出价比例：</span>
        </label>
        <nz-input-number
          [(ngModel)]="addSingleUnitData['wide_price_factor']"
          (click) ="changeInput('wide_price_factor')"
          [nzSize]="'small'">
        </nz-input-number>
        <ng-container *ngIf="match_price_pause">
          <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.wide_price_factor"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>广泛系数不能为空 且范围为：0~1</span>
        </ng-container>
      </div>
      <div *ngIf="match_price_pause">
            <span class="wroning" [ngClass]="{clSave:tips.accuState}" *ngIf="iswraing">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              要求精确系数>=短语系数>=广泛系数，且比例系数均不能为空且大于零。
            </span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--否定词-->
  <div class="inpRow mt8 disabled">
    <div class="inpRow_left pull-left">
      <label class="titleLa w94 inline-block">
        <span class="mr8">否定词:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left">
      <p class="countTip"><span>注：</span> 百度：跟账户等级相关。年日均消费0~100元(一颗星)，数量不超过200个。年日均消费100~1200元(两颗星)，数量不超过400个。年日均消费1200以上(三颗星)，数量不超过500个。</p>
      <div class="w400">
        <textarea [ngClass]="{'border-warning':addSingleUnitData['publisher_id'] && tips.length.negative_words>tips.maxLength.negative_words[addSingleUnitData['publisher_id'] * 1]}"
                  placeholder="一个否定词一行"
                  [(ngModel)]="negative_words"
                  (click) ="changeInput('negative_words')"
                  (ngModelChange)="contentChange('negative_words', negative_words)"
                  class="titleColor w400 border"  rows="5"></textarea>
        <i *ngIf="addSingleUnitData['publisher_id'] * 1 !== 1" class="tip">({{tips.length.negative_words}}/{{addSingleUnitData['publisher_id']?tips.maxLength.negative_words[addSingleUnitData['publisher_id'] * 1]:0}})</i>
        <i *ngIf="addSingleUnitData['publisher_id'] * 1 === 1" class="tip">({{tips.length.negative_words}})</i>

      </div>
      <p class="mt5 f09200" *ngIf="addSingleUnitData['publisher_id'] && tips.length.negative_words>tips.maxLength.negative_words[addSingleUnitData['publisher_id'] * 1]">否定词不能超过{{tips.maxLength.negative_words[addSingleUnitData['publisher_id'] * 1]}}个</p>

    </div>
    <div class="clear"></div>
  </div>
  <!--精确否定词-->
  <div class="inpRow mt8 disabled">
    <div class="inpRow_left pull-left">
      <label class="titleLa w94 inline-block">
        <span class="mr8">精确否定词:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left">
      <p class="countTip" *ngIf="addSingleUnitData['publisher_id'] * 1 === 1"><span>注：</span> 百度：跟账户等级相关。年日均消费0~100元(一颗星)，数量不超过400个。年日均消费100~1200元(两颗星)，数量不超过700个。年日均消费1200以上(三颗星)，数量不超过900个。</p>
      <div class="w400">
        <textarea [ngClass]="{'border-warning':addSingleUnitData['publisher_id'] && tips.length.exact_negative_words>tips.maxLength.exact_negative_words[addSingleUnitData['publisher_id'] * 1]}"
                  placeholder="一个否定词一行"
                  [(ngModel)]="exact_negative_words"
                  (click) ="changeInput('exact_negative_words')"
                  (ngModelChange)="contentChange('exact_negative_words', exact_negative_words)"
                  class="titleColor w400 border"
                  rows="5"></textarea>
        <i *ngIf="addSingleUnitData['publisher_id'] * 1 !== 1" class="tip">({{tips.length.exact_negative_words}}/{{addSingleUnitData['publisher_id']?tips.maxLength.exact_negative_words[addSingleUnitData['publisher_id'] * 1]:0}})</i>
        <i *ngIf="addSingleUnitData['publisher_id'] * 1 === 1" class="tip">({{tips.length.exact_negative_words}})</i>
      </div>
      <p class="mt5 f09200" *ngIf="addSingleUnitData['publisher_id'] && tips.length.exact_negative_words>tips.maxLength.exact_negative_words[addSingleUnitData['publisher_id'] * 1]">精确否定词不能超过{{tips.maxLength.exact_negative_words[addSingleUnitData['publisher_id'] * 1]}}个</p>

    </div>
    <div class="clear"></div>
  </div>
</div>
