@import "../../optimization-detail/compoenent/optimization-detail-list-edit/optimization-detail-list-edit.component";
h3{
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 15px;
  color: $edit-title-000;
}
