.conver-author{
  padding: 25px 32px;
  .title{
    line-height: 25px;
  }

  .green{
    color: #A9DE5B;
  }
  .red{
    color: red;
  }
  .conver-author-container{
    font-size: 14px;
    line-height: 28px;
  }
  .button-controller{
    text-align: center;
  }
  .button-controller button{
    width: 50px;
    height: 24px;
  }
}
