<div class="filter-item-container mt20 mb20">
  <div class="lab-row mt10">
    <label>广告主:</label>
    <nz-select class="w200 ml8" [nzSize]="'small'" [nzPlaceHolder]="'请选择广告主'"  [(ngModel)]="defaultMetric.cid" [nzDisabled]="metricDataId>0" (ngModelChange)="getConversionListByCid($event)">
      <ng-container *ngFor="let item of advertiserList">
        <nz-option [nzLabel]="item.advertiser_name" [nzValue]="item.cid"></nz-option>
      </ng-container>
    </nz-select>
  </div>
  <div class="lab-row mt10">
    <label>名称:</label>
    <div class="w200 ml8">
      <input nz-input
        [nzSize]="'small'"
        type="text"
        [(ngModel)]="defaultMetric.metric_name"
        placeholder="请输入名称">

    </div>
  </div>

  <div class="lab-row mt10">
    <label>备注:</label>
    <div class="w200 ml8">
       <textarea
         nz-input
         placeholder="备注"
         [(ngModel)]="defaultMetric.metric_remarks"
         [nzAutosize]="{ minRows: 2, maxRows: 4 }"
       ></textarea>
    </div>
  </div>

  <div class="lab-row mt10">
    <label>指标分类:</label>
    <nz-select class="w200 ml8" [nzSize]="'small'" [nzPlaceHolder]="'请选择指标分类'"
        [nzShowSearch]="true"
        [(ngModel)]="defaultMetric.category_id">
        <ng-container *ngFor="let item of categoryList">
        {{item | json}}
        <nz-option [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
        </ng-container>
    </nz-select>
  </div>

  <div class="lab-row mt10">
    <label>渠道:</label>
    <nz-select class="w200 ml8" [nzSize]="'small'" [nzPlaceHolder]="'请选择渠道'"
               [nzShowSearch]="true"
               [(ngModel)]="defaultMetric.channel_id"
               (ngModelChange)="defaultMetricChannel('channel_id')"
               [nzDisabled]="metricDataId>0 || defaultMetric.cid === null">
      <ng-container *ngFor="let item of channelItems">
        {{item | json}}
        <nz-option [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
      </ng-container>
    </nz-select>
  </div>

  <div class="lab-row mt10" *ngIf="defaultMetric.channel_id != 1">
    <label>媒体:</label>
    <nz-select class="w200 ml8" [nzSize]="'small'" [nzPlaceHolder]="'请选择媒体'"  [(ngModel)]="defaultMetric.publisher_id" [nzDisabled]="metricDataId>0" (ngModelChange)="onChangePublisher($event)">
      <ng-container *ngFor="let item of publishItems[defaultMetric.channel_id]">
        <nz-option [nzLabel]="item.publisher_name" [nzValue]="item.publisher_id"></nz-option>
      </ng-container>
    </nz-select>
  </div>
  <div class="lab-row mt10">
    <label>类型:</label>
    <nz-radio-group [(ngModel)]="defaultMetric.metric_data_type" class="ml8">
      <label nz-radio [nzValue]="1">
        <span>整数类型</span>
      </label>
      <label nz-radio [nzValue]="2">
        <span>小数类型</span>
      </label>
    </nz-radio-group>
  </div>
  <div class="lab-row mt10">
    <label>计算公式:</label>
    <div class="conversion-setting">
      <div class="w200 ml8" style="display: inline-block;">
        <input nz-input
          [nzSize]="'small'"
          type="text"
          placeholder="计算公式">

      </div>
      <label class="ml8" nz-checkbox [(ngModel)]="defaultMetric.is_rate">
        <span>乘以100%</span>
      </label>
      <div class="metric-detail ml8 mt10">
        <div class="custom-report-formula-item" *ngFor="let struct of formualData;let i = index;" [ngClass]="{mt10:i>0}">
          <div class="custom-obj-select">
            <div class="sem-brackets" (click)="checkBracket(struct,'left_bracket')" [ngClass]="{'brackets-blue':struct.left_bracket,'brackets-gray':!struct.left_bracket}">(</div>
            <nz-select class="w150 ml8" [nzSize]="'small'"   [(ngModel)]="struct.type" (ngModelChange)="structTypeChange(struct)">
              <ng-container *ngFor="let item of itemTypeRelation">
                <nz-option [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
              </ng-container>
            </nz-select>
            <div class="w200 ml8" style="display: inline-block" *ngIf="struct.type ==='normal_data'">
              <input nz-input
                [nzSize]="'small'"
                type="text"
                [(ngModel)]="struct.value"
                placeholder="请输入名称">

            </div>
            <nz-select class="w200 ml8" [nzSize]="'small'"  [nzShowSearch]="true"  [(ngModel)]="struct.value" (ngModelChange)="refreshName($event,struct)"  *ngIf="struct.type !=='normal_data'" >
              <ng-container *ngFor="let item of itemTypeDataDetail[struct.type]" >
                <nz-option [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
              </ng-container>
            </nz-select>
            <div class="sem-brackets ml8" *ngIf="i>0" (click)="checkBracket(struct,'right_bracket')" [ngClass]="{'brackets-blue':struct.right_bracket,'brackets-gray':!struct.right_bracket}">)</div>
            <i nz-icon nzType="close" nzTheme="outline" class="delete-color ml8"  *ngIf="i >1" (click)="deleteLine(i)"></i>
          </div>
          <div class="mt10 custom-operator-select">
            <nz-select class="w80 ml8" [nzSize]="'small'" [nzShowSearch]="true"  [(ngModel)]="struct.operator">
              <ng-container *ngFor="let item of operatorLists">
                <nz-option [nzLabel]="item.value" [nzValue]="item.oper"></nz-option>
              </ng-container>
            </nz-select>
            <a class="btn btn-default btn-primary ml8" (click)="addLine(i)" *ngIf="i>0">添加</a>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>
<div class="button-controller">
  <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'default'" (click)="doCancel()">
    <span>取消</span>
  </button>
  <button class="ml8" nz-button [nzType]="'primary'" [nzSize]="'default'" [nzLoading]="submitting" (click)="doSave()">
    <span>完成</span>
  </button>
</div>
