.adgroup-section-container {
  max-width: 1000px;

  .form-content {
    display: flex;
    flex-wrap: wrap;

    .lab-row {
      width: 50%;
      display: flex;

      & > label:first-child{
        width: 140px;
        text-align: right;
        display: inline-block;
      }
    }

    .w100p {
      width: 100%;
    }

    .ml50p {
      margin-left: 50%;
    }

    .w_full {
      width: 568px;
    }
    .tags-box {
      display: flex;
      width: 497px;
      border: 1px solid #d9d9d9;
      min-height: 20px;
      max-height: 78px;
      overflow-y: auto;


      .tags-box-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &>div {
          width: 31%;
          margin: 5px;
          padding: 5px 8px;
          background: #eee;
        }
      }

    }


  }

  .ant-input-group-addon {
    padding: 0;
    border: 0;
  }

  .input-group-btn {
    border-right: 0;
  }

  //.extensionPeriod {
  //  padding: 10px 0 !important;
  //  margin-left: 0 !important;
  //}
  //
  //.ant-select-sm .ant-select-selection--multiple .ant-select-selection__rendered li {
  //  display: none;
  //}
}

.ant-dropdown-menu.ant-dropdown-menu-vertical{
  width: 200px;
}

