$edit-background-F6F6F6:#F6F6F6;
$edit-cannot-click-c8c8c8:#c8c8c8;
$edit-Subtitle-404040:#404040;
$edit-title-000:#000;
$edit-menu-electted-font-56acef:#56acef;
$edit-menu-selected-background-EEF2F7:#EEF2F7;
$edit-border-clor-e4e4e4:#e4e4e4;
$edit-form-fff:#fff;
$edit-transparent:transparent;
$edit-save-btn:#588AA5;

.c8c8c8{
  color: #c8c8c8 !important;
}
.flexFooter{
  height: 40px;
  position: fixed;
  bottom: 30px;
  left: 0px;
  background: $edit-form-fff;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.flexFooter .edSave{
  color: $edit-form-fff;
  background: $edit-save-btn;
  margin-left: 10px;
}
.flexLeft ul{
  border: 1px solid $edit-border-clor-e4e4e4;
  background: $edit-form-fff;
}
.flexLeft ul li{
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  box-sizing: border-box;
  color: $edit-Subtitle-404040;
  cursor: pointer;
}
.flexLeft ul li:hover{
  background: #EEF2F7;
  color: #56acef !important;
}
.menuSle{
  background: $edit-menu-selected-background-EEF2F7;
  color: $edit-menu-electted-font-56acef !important;
}

.conDiv{
  height: calc(100vh - 80px - 70px - 60px);
  overflow: hidden;
  background:$edit-background-F6F6F6;
  i{
    font-style: normal;
  }
  .conSon{
    max-height: calc(100vh - 40px - 40px);
    overflow-y: scroll;
  }
  h3{
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 15px;
    color: $edit-title-000;
  }

  .inpRow  .titleLa span{
    text-align: right;
    float: right;
    color: $edit-Subtitle-404040;
  }

  .dimensionTableDiv{
    width: 700px;
    padding-bottom: 53px;
    background: #fff;
    border: 1px solid #e4e4e4;
  }
  .dimensionTableDiv table{
    width: 100%;
    text-align: left;
  }
  .dimensionTableDiv table thead tr span{
    font-weight: 500;
    color: $edit-Subtitle-404040;
  }
  .dimensionTableDiv table thead tr th:nth-of-type(1){
    width: 25%;
  }

  .dimensionTableDiv table thead tr th:last-child{
    width: 35%;
  }
  .dimensionTableDiv table tr th{
    background: $edit-menu-selected-background-EEF2F7;
  }
  .dimensionTableDiv table tr th,.dimensionTableDiv table tr td{
    padding:0px 8px;
    box-sizing: border-box;
    height: 25px;
  }
  .dimensionTableDiv table tr td:nth-of-type(1) span{
    display: inline-block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
  }
  .tdWidth,.tdWidth span{
    width: auto !important;
  }
  .dimensionTableDiv table tbody tr:nth-child(even) td{
    background: $edit-background-F6F6F6;
  }

  .inpRow_right div{
    position: relative;
    color: $edit-cannot-click-c8c8c8;
  }
  .disabled ,.disabled .edit-Subtitle ,.disabled .addWD,.disabled .tip,.disabled label span,.disabled p i,.disabled select,.disabled div{
    color: $edit-Subtitle-404040 !important;
  }
  .border{
    border:1px solid $edit-border-clor-e4e4e4 !important;
  }
  .whiteClolor{
    background: $edit-form-fff;
  }
  .background{
    background: $edit-transparent !important;
  }
  textarea{
    padding: 5px;
    box-sizing: border-box;
    color: $edit-cannot-click-c8c8c8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .noCheckbox div {
    color: #404040;
  }
  .titleColor{
    color: $edit-Subtitle-404040 !important;
  }
}

.clear{
  clear: both;
}

.clSave{
  visibility: visible !important;
}
.wroning{
  color: #f9c137;
  visibility: hidden;
}
.not-allowed{cursor:not-allowed;}


.monitor_item {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;

  .monitor_sub_item {
    margin-bottom: 10px;
    position: relative;

    .monitor_sub_item_operate {
      width: 70px;
      height: 12px;
      line-height: 12px;
      position: absolute;
      top: 50%;
      right: 2px;
      margin-top: -6px;
      font-size: 12px;
      .iBtn {
        font-size: 12px;
        color: red;
        font-weight: 600;
        cursor: pointer;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .monitor_item_operate {
    width: 100px;
    height: 12px;
    line-height: 12px;
    position: absolute !important;
    top: 50%;
    left: 800px;
    margin-top: -6px;
    font-size: 12px;
    .iBtn {
      font-size: 12px;
      color: red;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .removeMB {
    margin-bottom: 0 !important;
  }
}
