<app-remove-code53></app-remove-code53>
<div class="register-container">
  <div class="register-header">
    <div class="register-header-left">
      <div class="pull-left" *ngIf="productInfo['logo']">
        <img class="logo" height="24px" src="{{productInfo['logo']}}">
      </div>
      <div *ngIf="!productInfo['logo']" class="register-name ml30">{{productInfo['name']}}</div>
      <div class="pull-left ml30 c5d5d5d">
        欢迎注册
      </div>
    </div>
    <div class="register-header-right">
      <span class="c5d5d5d">已有{{productInfo['name']}}账号，</span><a routerLink="/login">请登录</a>
    </div>
  </div>
  <div class="register-content" *ngIf="!showByReferer">
    <form class="register-form-content" nz-form [formGroup]="registerForm" role="form">

      <nz-form-item class="register-form-item">
        <div class="form-label pull-left">
          <label>公司名称:</label>
        </div>
        <nz-form-control class="w370 ml8 pull-left">
          <input nz-input [formControlName]="'company_name'" placeholder="请输入您的公司名称" [nzSize]="'large'">
          <ng-container *ngIf="getFormControl('company_name').dirty&& getFormControl('company_name').errors">
            <div class='ant-form-item-explain' *ngIf="getFormControl('company_name').errors?.required"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入公司名称</div>
            <div class='ant-form-item-explain' *ngIf="getFormControl('company_name').errors?.minlength"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>公司名称不能少于两位</div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="register-form-item">
        <div class="form-label pull-left">
          <label>手机号码:</label>
        </div>
        <nz-form-control class="w370 ml8 pull-left">
          <input nz-input type="number" [formControlName]="'mobile'" placeholder="建议输入常用手机号码" [nzSize]="'large'">
          <ng-container *ngIf="getFormControl('mobile').dirty&&getFormControl('mobile').errors">
            <div class='ant-form-item-explain' *ngIf="getFormControl('mobile').errors?.required"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入手机号码</div>
            <div class='ant-form-item-explain' *ngIf="getFormControl('mobile').errors?.pattern"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入正确的手机号码</div>
            <div class='ant-form-item-explain' *ngIf="getFormControl('mobile').errors?.repeat"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>该手机号已注册，请更换新手机号注册</div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="register-form-item">
        <div class="form-label pull-left">
          <label>设置密码:</label>
        </div>
        <nz-form-control class="w370 ml8 pull-left">
          <input nz-input class="w100p" [formControlName]="'user_password'" placeholder="建议使用两种字符组合" type="password" [nzSize]="'large'">
          <ng-container *ngIf="getFormControl('user_password').dirty&&getFormControl('user_password').errors">
            <div class='ant-form-item-explain' *ngIf="getFormControl('user_password').errors?.required"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入密码</div>
            <div class='ant-form-item-explain' *ngIf="getFormControl('user_password').errors?.pattern"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>密码必须符合大写字母、小写字母、加数字、特殊符号组合形式，长度不能少于8位</div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="register-form-item">
        <div class="form-label pull-left">
          <label>确认密码:</label>
        </div>
        <nz-form-control class="w370 ml8 pull-left">
          <input nz-input class="w100p" [formControlName]="'confirm'" placeholder="请再次输入密码" type="password" [nzSize]="'large'">
          <ng-container *ngIf="getFormControl('confirm').dirty&&getFormControl('confirm').errors">
            <div class='ant-form-item-explain' *ngIf="getFormControl('confirm').errors?.required"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请确认密码！</div>
            <div class='ant-form-item-explain' *ngIf="!(getFormControl('confirm').errors?.required) && getFormControl('confirm').errors?.equal"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>两次输入的密码不匹配！</div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="register-form-item">
        <div class="form-label pull-left">
          <label>输入验证码:</label>
        </div>
        <nz-form-control class="w370 ml8 pull-left">
          <input nz-input class="register-phone-input" style="width: 252px;display: inline-block;"  [readonly]="!!getFormControl('mobile').errors" type="text" [formControlName]="'verification_code'" placeholder="请输入手机验证码" [nzSize]="'large'">
          <button class="register-phone-button ml8" nz-button [nzType]="'default'" [disabled]="isRequestingPhoneCode && count" [nzSize]="'large'" (click)="getPhoneCode()">
            {{ count ? count + 's后重新获取' : '获取验证码' }}
          </button>
          <ng-container *ngIf="getFormControl('verification_code').dirty&&getFormControl('verification_code').errors">
            <div class='ant-form-item-explain' *ngIf="getFormControl('verification_code').errors?.required"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入手机验证码</div>
            <div class='ant-form-item-explain' *ngIf="getFormControl('verification_code').errors?.expire"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>验证码失效,请重新获取</div>
            <div class='ant-form-item-explain' *ngIf="getFormControl('verification_code').errors?.error"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>验证码错误</div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="register-form-item mb12 register-moblile register-btn">
        <div class="form-label pull-left">
          <label></label>
        </div>
        <nz-form-control class="w370 ml8 pull-left">
          <button class="w100p" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isRequesting" (click)="doRegister()">
            <span>立即注册</span>
          </button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="register-form-item register-moblile">
        <div class="form-label pull-left">
          <label></label>
        </div>
        <div class="w370 pull-left register-desc">
          <span style="color: #fc3c3d;">*</span>请准确填写您的信息，我们会尽快联系您进行用户验证。
        </div>
      </nz-form-item>
    </form>
  </div>
  <div class="register-container-img" *ngIf="showByReferer">
    <img src="../../../assets/qrcode_register.png">
    <div class="img-tip">扫码咨询，即时服务</div>
  </div>
</div>
