
<div class="oauth">

  <div class="oauth-container">
    <div class="oauth-content">
      <div class="oauth-left">
        <p class="title" >请求出错</p>
        <div class="oauth-left-model">
          请求出错,请到商业服务市场重新授权!
        </div>

        <div class="oauth-left-bottom">
          <button nz-button class="operBtn" [nzType]="'default'"  (click)="login()" [nzSize]="'small'">确定</button>
        </div>
      </div>
      <div class="oauth-right">
        <div>
          <img src="{{productInfo['logo_white']}}" alt="">
        </div>
        <p class="mt18">国内首创，多个搜索引擎+信息流媒体，打通客服软件/第三方转化数据的 一站式竞价广告优化与管理系统</p>
        <p class="mt18">{{productInfo['name']}}网络竞价广告管理与优化预测型SaaS平台，发展了数百家企业客户，也不乏一些超级客户。 在线教育、金融、电商、游戏等行业的营销人员，都在依靠{{productInfo['name']}}数据科学驱动的优化平台，挖掘历史效果数据价值 、精细管理每一次广告竞价、最大化广告回报。</p>
        <p class="mt18 color-F0A157">现在注册送7天免费使用</p>
        <button nz-button class="mt18 registerBtn display-none" [nzType]="'default'"  routerLink="/register" [nzSize]="'small'">注册账号</button>

      </div>
    </div>
  </div>
</div>

