@import "../../../optimization-detail/compoenent/optimization-detail-setting/optimization-detail-setting.component.scss";
.clSave{
  visibility: visible !important;
}
.wroning{
  color: #f9c137;
  visibility: hidden;
}
