.launch-group-template-container{
  .expand-config:first-child {
    padding: 16px 24px 8px;
  }
  .expand-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 30px 0 24px;
    line-height: 56px;
    background: #fafafa;
    border: 1px solid #e8eaec;
    border-radius: 3px 3px 0 0;

    .panel-header-right-wrapper {
      display: flex;

      .account-count-info-wrapper{
        display: flex;
        font-size: 12px;
        color: #999;
        .ad-formula {
          display: flex;
          align-items: center;
          .ad-formula-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 10px;
            padding-left: 10px;
            .value {
              font-size: 16px;
              line-height: 18px;
            }
            .label {
              line-height: 18px;
            }
          }
          .ad-formula-sign {
            padding-right: 5px;
            padding-left: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .expand-container{
    border: 1px solid #ebeef5;
    display: flex;
    .setting-basic{
      padding:0 16px 0 8px;
      border-right: 1px solid #e1e4eb;
      font-size: 12px;
      color: #606266;
    }
    .setting-head {
      display: flex;
      flex-direction: row;
      padding: 16px;
      background: #fff;
      width: 100%;
    }
    .filter-selectors {
      padding:0 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      .selector {
        display: inline-block;
        padding-right: 16px;
        font-size: 14px;
        color: #555;
        height: 32px;

        .ant-select-selector{
          border-radius:0 3px 3px 0 !important;
        }
      }
      .selector-label {
        display: inline-block;
        width: 75px;
        font-size: 12px;
        line-height: 30px;
        color: #333;
        text-align: center;
        vertical-align: top;
        border: 1px solid #dcdee2;
        border-right: 0;
        border-radius: 3px 0 0 3px;
      }
      .selector-info {
        border-radius:0 3px 3px 0;
        display: inline-block;
        border: 1px solid #dcdee2;
        color: rgba(0,0,0,.85);
        background-color: #fff;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        height: 32px;
        padding: 0 11px;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
      }
    }
  }

  .info-list-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;

    >li{
      height: 480px;
      overflow: hidden;
      border: 1px solid #e1e4eb;
    }
    >li:first-child {
      border-radius: 4px 0 0 4px;
    }
    .ad {
      width: 274px;
    }
    .packages {
      min-width: unset;
      width: 274px;
    }
    .creative {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    .text {
      width: 274px;
    }
    .categories-label {
      width: 274px;
    }

    .list-head {
      width: 100%;
      height: 36px;
      padding: 0 16px;
      border-bottom: 1px solid #ebeef5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .name-warp{
        color: #303133;
        font-size: 12px;
      }
    }

    .ad-info-content{
      width: 100%;
      height: 100%;
      background: #fff;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      overflow-y: auto;
      padding: 16px;
    }

    .opr-select-panel{
      width: 100%;
      max-height: 401px;

      .selected-item {
        height: 24px;
        font-size: 12px;
        font-weight: 400;
        color: #303133;
        overflow: hidden;
        padding: 0 8px;
        margin: 0 0 8px 0;
        border: 1px solid #e1e4eb;
        border-radius: 4px;
        background: #fafcff;

        .item-text {
          line-height: 24px;
          float: left;
          margin-top: -1px;
          max-width: calc(100% - 20px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .close-icon{
          display: none;
          color: #d0d3d9;
          line-height: 24px;
          float: right;
          cursor: pointer;
          margin-top: -1px;
        }
        //.close-icon-hide {
        //  display: none;
        //  position: relative;
        //  top: -1px;
        //}
      }
      .selected-item:hover{
        .close-icon{
          display: inline-block;
        }
      }

    }

    .empty-wrap {
      cursor: pointer;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .active{
      //color: #14aaf0;
      color: #808695;
      text-align: center;

      .active-icon{
        color: #ccc;
        display: block;
        font-size: 60px;
      }
    }
    .align-center{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .creative-group-box{
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-x: auto;

      .creative-group{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 50px;
        margin-bottom: 8px;

        .creative{
          position: relative;
          flex-shrink: 0;
          width: 88px;
          max-width: 88px;
          height: 100%;
          margin-right: 8px;
          text-align: center;

          .creative-mask{
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.2);

            .mg-icon-close{
              position: absolute;
              top: 3px;
              right: 3px;
              font-size: 16px;
              color: #fff;
              cursor: pointer;
            }
          }
          .creative-cover{
            width: 100%;
            height: 100%;
            img{
              max-width: 88px;
              height: 100%;
            }
          }
          .el-image {
            position: relative;
            display: inline-block;
            overflow: hidden;
          }
          .image-drop-class {
            .ant-popover-inner-content {
              padding: 0;
            }
            .image-cnt-drop {
              padding: 10px;
              min-width: 320px;
              overflow-y: auto;
              img{
                width: 300px;
              }
              video{
                width: 300px;
              }
            }
          }
        }
        .creative:hover{
          .creative-mask{
            display: block;
          }
        }

        .creative-video .mg-icon-preview{
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          font-size: 28px;
          color: #fff;
          transform: translate(-50%,-50%);
        }

      }
    }

  }

  .flex-box{
    line-height: 20px;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    .key-text{
      text-align: left;
      width: auto;
      margin: 0 8px 0 0;
      color: #606266;
      line-height: 20px;
    }
    .content{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      color: #303133;
      line-height: 20px;
    }
  }

}
.drawer-content {
  background: #fff;
  height: calc(100vh - 160px);
  overflow-y: auto;
  .form-block-title {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
  }

  .lab-row {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    .lab-tip{
      color: #999999;
      font-size: 12px;
    }

   >label:first-child {
      width: 140px;
      text-align: right;
      display: inline-block;
    }
  }
  .w100p {
    width: 100%;
  }
  .w_full {
    width: 568px;
  }

  .ant-radio-button-wrapper {
    min-width: 80px;
    text-align: center;
  }

  .custom-collapse-item{
    border: 1px solid #e1e4eb;
    border-radius: 4px;
    margin-top: 16px;

    .operate{
      padding: 0 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 40px;
      line-height: 40px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 1px solid #ebeef5;
    }
    .name-edit-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative;
      .name-wrapper[data-v-334af8f1] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
      }
    }
    .operate-option{
      width: 104px;
    }
    .detail{
      padding: 12px 23px 0 16px;
      .with-border {
        border-bottom: none;
      }
    }

  }
  custom-collapse-item:first-child {
    margin-top: 0;
  }

  .tags-box {
    border: 1px solid #d9d9d9;
    min-height: 20px;

    .tags-box-title {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d9d9d9;
    }

    .tags-box-content {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 10px 10px;

      & > div {
        width: 31%;
        margin: 5px;
        padding: 5px 8px;
        background: #eee;
      }
    }
  }

}
.drawer-confirmbox {
  border-top: 1px solid #ebeef5;
  height: 52px;
  line-height: 52px;
  text-align: right;
  margin-top: 0!important;
}
.materials-tab,.card-tab {
  flex: 1;
  .ant-tabs-bar {
    margin-left: 148px;
    margin-bottom: 20px;
  }
}


.title-selected-show-container {
  border: 1px solid rgb(244, 247, 252);
  padding: 10px 20px;
  width: 500px;

  .title-action {
    display: flex;

    justify-content: space-between;
    align-items: center;

  }


  .title-item-wrapper {
    border-top: 1px solid #ebeef5;
    padding-top: 10px;
    padding-right: 24px;
    max-height: 200px;
    overflow-y: auto
  }

  .title-item {
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;

    justify-content: space-between;
  }

  .title-item .txt {

    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 12px;
    color: #606266;
  }


}


.material-selected-show-container {

  border: 1px solid rgb(244, 247, 252);
  padding: 10px 20px;

  .title-action {
    display: flex;

    justify-content: space-between;
    align-items: center;

  }


  .material-item-wrapper {
    border-top: 1px solid #ebeef5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    overflow-y: auto;
    position: relative;
    max-height: 600px;
  }


  .ad-creative-material.left {
    margin-left: 130px
  }


  .material-item-wrapper.empty {
    width: 480px
  }

  .material-item-wrapper .add-material-btn {
    position: absolute;
    top: 16px;
    right: 20px
  }

  .material-item-wrapper .add-material-btn .el-button {
    font-size: 14px
  }

  .material-item-wrapper .material-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &.multiline{
      padding-bottom: 10px;
      border-bottom: 1px solid #ebeef5;
    }
  }

  .material-item-wrapper .material-item .material-item-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
  }

  .material-item-wrapper .material-item .material-item-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;

    &.empty{
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }


  .material-item-content {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;

    .material-card-box {
      border: 0;
      padding: 20px;
      display: flex;

      .btn-wrapper {
        position: relative;
        width: 198px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn-center {
        border: 1px dashed #ebeef5;
        border-radius: 4px
      }

      .btn-center .btn {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        background: transparent;
        color: #02defe;
        border: 1px dashed #02defe
      }

      .btn-center .cover-count {
        position: absolute;
        top: 4px;
        left: 0;
        min-width: 20px;
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        text-align: center;
        background-color: #02defe;
        color: #fff
      }

    }

    .material-card {

      .material-name {
        width: 160px;
        text-align: center;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        line-height: 1
      }

      .material-name.large {
        width: 200px
      }


      .material-card-content {
        display: flex;

        .material-preview {
          margin-right: 16px;
          width: 200px;
          height: 114px
        }

        &.small .material-preview {
          margin-right: 10px;
          width: 160px;
          height: 90px
        }

        &.small .btn-wrapper {
          width: 158px;
          height: 88px
        }



      }
    }

    .close-icon {
      position: absolute;
      right: -10px;
      top: -10px;
      background-color: #fff;
      font-size: 24px;
      color: #999;
      display: none
    }

    .close-icon:hover {
      cursor: pointer
    }

    .material-card-box:hover {
      box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    }


    &:hover {
      .close-icon {
        display: block
      }
    }
  }


  .material-cover__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 0;
    width: 320px;
    max-height: 240px;
    overflow-y: auto
  }

  .material-cover__footer {
    text-align: right;
    margin-top: 12px
  }


  .image-preview {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #f0f7ff
  }

  .image-preview .img-content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
  }

  .image-preview .img-content .preview-img {
    height: 100%
  }

  .image-preview .img-content .cover {
    height: 100%;
    width: auto;
    max-width: 100%;
  }

  .image-preview .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1
  }

  .image-preview .play-icon:hover {
    cursor: pointer
  }

  .image-preview .icon-close {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
    color: #999;
    z-index: 99999
  }

  .image-preview .icon-close:hover {
    cursor: pointer
  }

  .image-preview .update-cover-box {
    display: none;
    position: absolute;
    bottom: 30%;
    left: 32%;
  }

  .image-preview:hover {
    .update-cover-box {
      display: inline-block;
    }
  }

}

.launch-position-box {
  display: flex;
  flex-direction: column;
}

.form-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.item-body {
  .tag {
    color: #1890FF;
  }

  .tag-word {
    cursor: pointer;
  }
}
.creative-container{
  .creative-group-error{
    border-color: #fb1919;
  }
  .creative-group {
    position: relative;
    margin-bottom: 16px;
    border: 1px solid #e8eaec;
  }
  .creative-group-header{
    display: flex;
    align-items: center;
    height: 48px;
    padding: 8px 16px;
    background-color: #fafafa;
  }
  .creative-group-header-name{
    font-size: 14px;
    color: #666;
  }
  .creative-group-header-btn{
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 1px solid #e8eaec;
    border-radius: 3px;
    position: relative;
    background: #fff;
    a{
      position: absolute;
      left: 50%;
      font-size: 14px;
      line-height: 28px;
      color: #409eff;
      transform: translateX(-50%);
    }

  }
  .creative-group-body{
    position: relative;
    border-top: 1px solid #dcdee2;
    padding: 10px 20px;

    .add-btn{
      position: absolute;
      right: 20px;
      top: 22px;
      z-index: 999;
    }
  }
  .creative-item-wrapper{
    display: flex;
    min-height: 140px;
    flex-wrap: wrap;
  }
  .creative-item{
    position: relative;

    .close-icon {
      position: absolute;
      right: -10px;
      top: -10px;
      background-color: #fff;
      font-size: 24px;
      color: #999;
      display: none
    }

    .close-icon:hover {
      cursor: pointer
    }

    &:hover {
      .close-icon {
        display: block
      }
    }
  }
  .creative-card-box:hover {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }
  .creative-card-box {
    border: 0;
    padding: 20px;
    display: flex;
  }
  .creative-card {
    width: 200px;
    min-height: 140px;

    .creative-name {
      width: 160px;
      text-align: center;
      margin-top: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      line-height: 1;
    }

    .creative-name.large {
      width: 200px;
    }

    .creative-title{
      margin-top: 5px;
      border-top: 1px solid #e8eaec;
      padding: 10px 0;
      .title-selected-show-container{
        width: 100%;
        padding: 0;
        border: 0;
        margin-left: 0 !important;
      }
    }

    .creative-preview {
      margin-right: 16px;
      width: 200px;
      height: 114px;
      border-radius: 4px;
      background-color: #f0f7ff;
    }

    &.small .creative-preview {
      margin-right: 10px;
      width: 160px;
      height: 90px;
    }

    &.small .btn-wrapper {
      width: 158px;
      height: 88px;
    }
    .img-content {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;

      .cover {
        height: 100%;
        width: auto;
        max-width: 100%;
      }
    }
    .image-drop-class {
      .ant-popover-inner-content {
        padding: 0;
      }
      .image-cnt-drop {
        padding: 10px;
        min-width: 320px;
        overflow-y: auto;
        img{
          width: 300px;
        }
        video{
          width: 300px;
        }
      }
    }

  }

}
.product-image-cell{
  .image-info {
    position: relative;
    display: flex;
    align-items: center;


    .image-poster {
      flex: none;
      width: 80px;
      height: 44px;
      border-radius: 2px;
      overflow: hidden;
      text-align: center;
      background: #000;
      position: relative;
      cursor: pointer
    }

    .image-poster img {
      height: 44px
    }

    .image-title {
      margin: 0 8px 0 12px;
      padding: 2px 0;
      line-height: 20px;
      display: flex;
      align-items: flex-end;
      word-break: break-all;
      display: -webkit-box
    }

    .image-title, .limit-line {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical
    }
  }

}
.promotion_card_wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  .promotion_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 4px;
    .promotion_card__left {
      display: flex;
      align-items: center;
      .promotion_card__left__selling {
        width: 200px;
        overflow: hidden;
        font-size: 12px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      img{
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #fff;
      }
    }
    .promotion_card__right{
      width: 96px;
      height: 32px;
      margin-right: 16px;
      color: #fff;
      text-align: center;
      background-color: #ed5085;
      border-radius: 3px;
      line-height: 32px;
    }
  }
}
