<div class="message-container">
  <div class="fixed-condition-manage page-condition-header">
    <a class="back-button" routerLink="../negation_group_list"><i nz-icon nzType="left" nzTheme="outline"></i>返回否词包列表页</a>
  </div>
  <div class="content-section-manage">
    <div class="manage-operation">
      <div class="manage-header-left">
        <button class="mr8" nz-popconfirm nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="createNegativeWord()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>新建否词
        </button>
        <button class="mr8" nz-popconfirm nz-button [nzType]="'default'" [nzSize]="'default'" (click)="downloadNegativeWord()">
          <i nz-icon nzType="download" nzTheme="outline"></i>下载否词
        </button>
        <div style="position: relative">
          <button class="mr8" nz-popconfirm nz-button [nzType]="'default'" [nzSize]="'default'"
                  [ngClass]="{'disabled-status': !isIndeterminate}"
                  [disabled]="!isIndeterminate"
                  (click)="addNegativeAll(1)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>添加否定词
          </button>
          <div style="position: absolute; left: 0" *ngIf="isShow.negative_words_all">
            <app-negative-item-select [publisherAry]="publisherAry" [summaryType]="'negative'" [itemDetail]="dataRange" (itemSelected)="dataRangeChange($event)" (doCancel)="resetIsShow()"></app-negative-item-select>
          </div>
        </div>
        <div style="position: relative">
          <button class="mr8" nz-popconfirm nz-button [nzType]="'default'" [nzSize]="'default'"
                  [ngClass]="{'disabled-status': !isIndeterminate}"
                  [disabled]="!isIndeterminate"
                  (click)="addNegativeAll(2)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>添加精确否定词
          </button>
          <div style="position: absolute; left: 0" *ngIf="isShow.exact_negative_words_all">
            <app-negative-item-select [publisherAry]="publisherAry" [summaryType]="'negative'" [itemDetail]="dataRange" (itemSelected)="dataRangeChange($event)" (doCancel)="resetIsShow()"></app-negative-item-select>
          </div>
        </div>

        <ng-container *ngIf="isShow.negative_words">
          <div style="position: relative">
            <div style="position: absolute; left: 0" >
              <app-negative-item-select [publisherAry]="publisherAry" [summaryType]="'negative'" [itemDetail]="dataRange" (itemSelected)="dataRangeChange($event)" (doCancel)="resetIsShow()"></app-negative-item-select>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="isShow.exact_negative_words">
          <div style="position: relative">
            <div style="position: absolute; left: 0" >
              <app-negative-item-select [publisherAry]="publisherAry" [summaryType]="'negative'" [itemDetail]="dataRange" (itemSelected)="dataRangeChange($event)" (doCancel)="resetIsShow()"></app-negative-item-select>
            </div>
          </div>
        </ng-container>

        <button class="mr8" nz-popconfirm [nzPopconfirmTitle]="'确定要删除吗？'" (nzOnConfirm)="delNegativeWord(true)" [nzPopconfirmPlacement]="'bottomLeft'" nz-button [nzType]="'default'" [nzSize]="'default'"
                [ngClass]="{'disabled-status': !isIndeterminate || (role_id !== 1 && role_id !== 3)}"
                [disabled]="!isIndeterminate || (role_id !== 1 && role_id !== 3)">
          <i nz-icon nzType="close" nzTheme="outline"></i>删除
        </button>
      </div>
    </div>
    <div class="table pt8">
      <nz-table
        #nzTable
        nzShowSizeChanger
        [nzPageSizeOptions]="[30,50,100,500]"
        [nzSize]="'default'"
        [nzData]="negativeWordList"
        [nzFrontPagination]="false"
        [(nzPageSize)]="pageSize"
        [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="refreshData()"
        (nzPageSizeChange)="refreshData(true)"
        [nzTotal]="total"
        [nzLoading]="loading"
        [nzShowTotal]="totalItemTemplate"
        [nzScroll]="{ x: '900px', y: noResultHeight+'px' }"
      >
        <thead>
        <tr>
          <th [nzWidth]="'62px'" nzShowCheckbox [(nzChecked)]="isAllChecked" (nzCheckedChange)="updateAllChecked($event)">
          </th>
          <th [nzWidth]="'150px'">
            <span>否词</span>
            <app-filter [filterType]="'multiValue'" [filterKey]="{key:'word_name',name:'否词',type:'multiValue'}" [(filterResult)]="filterResult['word_name']" (submit)="doFilter()"></app-filter>
          </th>
          <th [nzWidth]="'100px'">
            <span>否词类型</span>
            <app-filter [filterType]="'singleList'" [filterKey]="{key:'word_type',name:'否词类型',type:'singleList'}" [(filterResult)]="filterResult['word_type']" [filterOption]="filterWordTypeOption" (submit)="doFilter()"></app-filter>
          </th>
          <th [nzWidth]="'150px'">
            <span>字节数</span>
            <app-filter [filterType]="'numberFilter'" [filterKey]="{key:'byte_count',name:'字节数',type:'numberFilter'}" [(filterResult)]="filterResult['byte_count']" (submit)="doFilter()"></app-filter>
          </th>
          <th [nzWidth]="'200px'">
            <span>新增时间</span>
          </th>
          <th [nzWidth]="'100px'">
            <span>上传用户</span>
            <app-filter [filterType]="'singleList'" [filterKey]="{key:'user_id',name:'上传用户',type:'singleList'}" [(filterResult)]="filterResult['user_id']" [filterOption]="filterUserOption" (submit)="doFilter()"></app-filter>
          </th>
          <th [nzWidth]="'200px'">
            <span>操作</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of negativeWordList; let index = index;">
          <td
            nzShowCheckbox
            [(nzChecked)]="data.checked"
            (nzCheckedChange)="checkedChange()"
          ></td>
          <td>
            {{data.word_name}}
          </td>
          <td>{{ wordTypeList[data.word_type] }}</td>
          <td>{{data.byte_count}}</td>
          <td>{{data.create_time}}</td>
          <td>{{data.user_name}}</td>
          <td>
            <ng-container>
              <a (click)="addNegative(1, index, data)">添加否定词</a>
            </ng-container>
            <span class="ml8 mr8">|</span>
            <ng-container>
              <a (click)="addNegative(2, index, data)">添加精确否定词</a>
            </ng-container>
            <span class="ml8 mr8">|</span>
            <ng-container *ngIf="role_id === 1 || role_id === 3">
                <a nz-popconfirm  [nzPopconfirmTitle]="'确定要删除吗？'" (nzOnConfirm)="delNegativeWord(false, data)" [nzPopconfirmOverlayClassName]="'dashboard-delete-card'" [nzPopconfirmPlacement]="'bottomRight'" [nzPopconfirmTrigger]="'click'" >删除</a>
            </ng-container>
            <ng-container *ngIf="role_id !== 1 && role_id !== 3">
              <span>删除</span>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #totalItemTemplate let-total>共{{ total }}条</ng-template>
    </div>
  </div>
</div>
