.channel-add-content {
  .lab-row {
    display: flex;
    margin-bottom: 10px;

    > label {
      width: 140px;
      text-align: right;
    }

    .w100p {
      width: 100%;
    }

    .ml50p {
      margin-left: 50%;
    }

    .w_full {
      width: 568px;
    }
  }

  .channel-add-btn {
    text-align: right;
    padding-top: 16px;
  }
  .ant-input-group-addon{
    padding: 0;
    border: 0;
  }
  .item-body {
    .tag {
      color: #1890FF;
    }

    .tag-word {
      cursor: pointer;
    }
  }


}
.ant-dropdown-menu.ant-dropdown-menu-vertical {
  width: 200px;
}
.item-body {
  .tag {
    color: #1890FF;
  }

  .tag-word {
    cursor: pointer;
  }
}
