.button-controller {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filter-item-container {
  .lab-row {
    display: flex;
    align-items: center;
  }
  .lab-row > label:first-child {
    width: 60px;
    text-align: right;
    display: inline-block;
  }
}
