<div class="help-list">
  <div class="help-table mt10">
    <nz-table
      #ajaxTable
      nzSize="middle"
      [nzFrontPagination]="false"
      [nzData]="contentList"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()">
      <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <td><a (click)="clickList(item['post_id'], item['post_title'])">{{item.post_title}}</a></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
