<div class="create-launch-container-kuaishou" *ngIf="!structConfigLoading">
  <div class="create-launch-left pl10 pr10 pt20" [ngStyle]="{'height':tableHeight + 'px'}">
    <nz-anchor [nzContainer]="'#anchorContent'" [nzOffsetTop]="30">
      <ng-container *ngFor="let anchor of anchorList;">
        <nz-link nzHref="{{anchor.key}}" nzTitle="{{anchor.name}}">
          <nz-link *ngFor="let sub of anchor.sub;"
                   nzHref="{{sub.key}}"
                   nzTitle="{{sub.name}}"></nz-link>
        </nz-link>
      </ng-container>
    </nz-anchor>
  </div>

  <div class="create-launch-right" [ngStyle]="{'width':tableWidth +'px'}">
    <div class="form-content">
      <div id="anchorContent" class="setting-box" [ngStyle]="{'height':tableHeight - 40 +'px'}">
        <!--账户-->
        <div class="basic-setting setting-block pl20 mt20">
          <div id="select_account" class="sub_title mb10"><span>选择账户</span></div>
          <div class="basic-card">
            <div id="change_account" class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>选择账号:</label>
              <div>
                <nz-select class="w_full ml8"
                           [nzSize]="'small'"
                           [nzMaxTagCount]="1"
                           [nzMaxTagPlaceholder]="globalTemplate.tagPlaceHolder"
                           nzMode="multiple"
                           [nzPlaceHolder]="'请选择帐户'"
                           [nzAllowClear]="true"
                           [(ngModel)]="defaultData.chan_pub_id_lst"
                           (ngModelChange)="changeAccount($event)"
                           nzShowSearch>
                  <nz-option
                    *ngFor="let option of accountsList"
                    [nzLabel]="option.pub_account_name"
                    [nzValue]="option.chan_pub_id">
                  </nz-option>
                </nz-select>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.chan_pub_id_lst.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.chan_pub_id_lst.tip_text }}</span>
                </div>
              </div>
            </div>
            <div id="template_name" class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>模板名称:</label>
              <div>
                <input class="w_full ml8" nz-input nzSize="small" [(ngModel)]="defaultData.project_template_name"
                      (ngModelChange)="getItemErrorTip('project_template_name', defaultData.project_template_name)"
                       placeholder="请输入模板名称"/>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.project_template_name.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.project_template_name.tip_text }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--计划-->
        <div class="basic-setting setting-block pl20 mt20">
          <div id="campaign_start" class="sub_title mb10"><span>计划</span></div>
          <div class="basic-card">
            <!-- 计划类型-->
            <div id="promotion_objective" class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>计划类型:</label>
              <div>
                <nz-select class="w_full ml8"
                           [nzSize]="'small'"
                           [(ngModel)]="campaignData.type"
                           (ngModelChange)="changeObjectType($event)"
                           [nzPlaceHolder]="'请选择'"
                           nzShowSearch>
                  <nz-option *ngFor="let option of structConfig['campaign']['type']['sub']"
                             [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.type.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.type.tip_text }}</span>
                </div>
              </div>

            </div>
            <!--计划选择-->
            <div class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>计划选择:</label>
              <nz-radio-group
                class="ml8"
                [(ngModel)]="campaignData.campaign_select"
                [nzSize]="'small'">
                <ng-container>
                  <ng-container *ngFor="let option of structConfig['campaign']['campaign_select']['sub']">
                    <label nz-radio-button [nzValue]="option.value"><span>{{option.label}}</span></label>
                  </ng-container>
                </ng-container>
              </nz-radio-group>
            </div>
            <!--计划名称-->
            <div id="adgroup_name" class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>计划名称:</label>
              <div>
                <input #curCampaignTextArea class="w_full ml8" [(ngModel)]="campaignData.campaign_name" nz-input
                      (ngModelChange)="getItemErrorTip('campaign_name', campaignData.campaign_name)"
                       nzSize="small"
                       placeholder="请输入计划名称"/>

                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.campaign_name.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.campaign_name.tip_text }}</span>
                </div>
              </div>
            </div>
            <!--预算-->
            <div id="budget" class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>预算:</label>
              <div>
                <nz-radio-group
                  class="ml8"
                  [(ngModel)]="campaignData.budget_type"
                  [nzSize]="'small'">
                  <label nz-radio-button [nzValue]="0"><span>不限</span></label>
                  <label nz-radio-button [nzValue]="1"><span>统一预算</span></label>
                  <label nz-radio-button [nzValue]="2"><span>分日预算</span></label>
                </nz-radio-group>
                <ng-container *ngIf="campaignData.budget_type === 1">
                  <div class="ml8 mt20">
                    <nz-input-number class="mr10" [(ngModel)]="campaignData.budget"
                                     nzSize="small" [nzMin]="100"
                                     [nzMax]="100000000" [nzStep]="1"
                                     (ngModelChange)="getItemErrorTip('budget', campaignData.budget)"></nz-input-number>
                    元
                    <span class="lab-tip"><i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"
                                             class="ml5 mt5 mr5"></i>取值范围: 100-100000000</span>
                    <div class="error-tip mt5" *ngIf="checkErrorTip.budget.is_show">
                      <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                      <span style="color: red;">{{ checkErrorTip.budget.tip_text }}</span>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="campaignData.budget_type === 2">
                  <div class="ml8 mt10">
                    <div class="mb10">单位: 元
                      <span class="lab-tip"><i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"
                                               class="ml5 mt5 mr5"></i>取值范围: 500-100000000</span></div>
                    <table class="budget_table">
                      <thead>
                        <ng-container *ngFor="let item of weekList">
                          <th>{{item.key}}</th>
                        </ng-container>
                      </thead>
                      <tbody>
                        <tr>
                          <ng-container *ngFor="let item of weekList;let i = index;">
                            <td><nz-input-number [(ngModel)]="campaignData.day_budget_schedule[i]" [nzMin]="500" [nzMax]="100000000" [nzStep]="100"></nz-input-number></td>
                          </ng-container>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </div>
            </div>
            <!--广告名称-->
            <div id="unit_name" class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>广告名称:</label>
              <div>
                <input class="w_full ml8" [(ngModel)]="adgroupData.unit_name" nz-input
                       nzSize="small"
                       (ngModelChange)="getItemErrorTip('unit_name', adgroupData.unit_name)"
                       placeholder="请输入广告名称"/>

                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.unit_name.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.unit_name.tip_text }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--投放目标-->
        <div class="basic-setting setting-block pl20 mt20">
          <div id="launch_objective" class="sub_title mb10"><span>投放目标</span></div>
          <div class="basic-card">
            <!--渠道号-->
            <div class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>渠道号:</label>
              <div>
                <div class="lab-row w_full">
                  <nz-transfer-tree class="ml8 mr20" *ngIf="isChannelTree" [getParentKey]="false"
                                    [target]="defaultData.convert_channel_id_lst"
                                    (nzChange)="transferTreeChange($event)"
                                    [source]="channelTreeList"></nz-transfer-tree>
                  <button class="ml8" nz-button nzSize="small" (click)="getChannelList()">刷新</button>
                  <a class="ml20" style="height: 25px" target="_blank" href="javascript:" [routerLink]="'/launch_rpa/channel'">渠道管理</a>
                </div>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.convert_channel_id_lst.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.convert_channel_id_lst.tip_text }}</span>
                </div>
              </div>
            </div>
            <!--投放方式-->
            <div class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>投放方式:</label>
              <nz-radio-group
                class="ml8"
                [(ngModel)]="adgroupData.speed"
                [nzSize]="'small'">
                <ng-container>
                  <ng-container *ngFor="let option of structConfig['adgroup']['speed']['sub']">
                    <label nz-radio-button [nzValue]="option.value"><span>{{option.label}}</span></label>
                  </ng-container>
                </ng-container>
              </nz-radio-group>
            </div>
            <!--投放范围-->
            <div class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>投放范围:</label>
              <nz-radio-group
                class="ml8"
                [(ngModel)]="adgroupData.scene_id"
                [nzSize]="'small'">
                <ng-container>
                  <ng-container *ngFor="let option of structConfig['adgroup']['scene_id']['sub']">
                    <label nz-radio-button [nzValue]="option.value"><span>{{option.label}}</span></label>
                  </ng-container>
                </ng-container>
              </nz-radio-group>
              <span class="lab-tip"><i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"
                                        class="ml5 mt5 mr5"></i>联盟广告不支持便利贴图片创意</span>
            </div>
          </div>
        </div>

        <!--用户定向-->
        <div class="basic-setting setting-block pl20 mt20">
          <div id="user_target" class="sub_title mb10"><span>用户定向</span></div>
          <div class="basic-card">
            <!--基础定向-->
            <div class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>基础定向:</label>
              <div>
                <div class="lab-row w100p">
                  <nz-select class="w_full ml8"
                             [nzSize]="'small'"
                             [nzPlaceHolder]="'请选择'"
                             [(ngModel)]="adgroupData.parent_audience_template_id"
                             (ngModelChange)="changeBasicAudience($event)"
                             nzShowSearch>
                    <nz-option *ngFor="let item of curBasicTarget" [nzValue]="item.audience_template_id"
                               [nzLabel]="item.audience_template_name"></nz-option>
                  </nz-select>
                  <button class="ml20" nz-button nzSize="small" (click)="getBasicTargetList()">刷新</button>
                  <a class="ml20" target="_blank" href="javascript:" [routerLink]="'/launch_rpa/target'">定向管理</a>
                </div>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.parent_audience_template_id.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.parent_audience_template_id.tip_text }}</span>
                </div>
              </div>
            </div>
            <!--是否分渠道号-->
            <div class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>是否分渠道号:</label>
              <div>
                <nz-radio-group
                  class="ml8"
                  [(ngModel)]="adgroupData.audience_by_convert_channel"
                  (ngModelChange)="changeTargetChannel($event)"
                  [nzSize]="'small'">
                  <ng-container>
                    <label nz-radio-button [nzValue]="true"
                           [nzDisabled]="defaultData.convert_channel_id_lst.length === 0">
                      <span>是</span>
                    </label>
                    <label nz-radio-button [nzValue]="false">
                      <span>否</span>
                    </label>
                  </ng-container>
                </nz-radio-group>

                <ng-container *ngIf="adgroupData.audience_by_convert_channel">
                  <nz-tabset class="ml8 mt20" [nzType]="'card'" *ngIf="targetChannelList.length"
                             [nzSelectedIndex]="curTargetIndex" (nzSelectedIndexChange)="changeTargetTab($event)">
                    <nz-tab *ngFor="let item of targetChannelList" [nzTitle]="item.convert_channel_name">
                      <ng-container *ngIf="(campaignData.type!='2'&&campaignData.type!='7')||((campaignData.type=='2'||campaignData.type=='7')&&item['app_type']!='android'&&item['app_type']!='ios')" [ngTemplateOutlet]="target_template" [ngTemplateOutletContext]="{}"></ng-container>
                      <ng-container *ngIf="(campaignData.type=='2'||campaignData.type=='7')&&(item['app_type']=='android'||item['app_type']=='ios')">
                        <nz-table class="mt20 ml8" #borderTable nzBordered [nzShowPagination]="false" [nzData]="curTargetList">
                          <thead>
                          <tr>
                            <th [nzWidth]="'62px'" nzShowCheckbox [(nzChecked)]="allTargetChecked" (nzCheckedChange)="checkTargetAll($event)">
                            <th nzWidth="200px">名称</th>
                            <th nzWidth="200px">定向包类型</th>
                            <th nzWidth="200px">创建时间</th>
                          </tr>
                          </thead>
                          <tbody>
                          <ng-container *ngFor="let data of borderTable.data">
                            <tr *ngIf="item['app_type']=='android'?data.inventory_type_list=='4':data.inventory_type_list=='2'">
                              <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="checkTarget($event)">
                              <td>{{data.audience_template_name}}</td>
                              <td>{{plan_type[data.landing_type]}}</td>
                              <td>{{data.create_time}}</td>
                            </tr>
                          </ng-container>
                          </tbody>
                        </nz-table>
                      </ng-container>

                    </nz-tab>
                  </nz-tabset>
                </ng-container>

                <ng-container *ngIf="!adgroupData.audience_by_convert_channel">
                  <ng-container [ngTemplateOutlet]="target_template" [ngTemplateOutletContext]="{}"></ng-container>
                </ng-container>

                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.audience_template_id_lst.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.audience_template_id_lst.tip_text }}</span>
                </div>

              </div>
            </div>

          </div>
        </div>

        <!--优化与出价-->
        <div class="basic-setting setting-block pl20 mt20">
          <div id="budget_and_bid" class="sub_title mb10"><span>优化与出价</span></div>
          <div class="basic-card">
            <!--转化目标-->
<!--            <div class="lab-row mb20 pl20 w100p">-->
<!--              <label><span class="redStart">*</span>转化目标:</label>-->
<!--              <div>-->
<!--                <div class="lab-row w100p">-->
<!--                  <nz-select class="w_full ml8"-->
<!--                             [nzSize]="'small'"-->
<!--                             [nzPlaceHolder]="'请选择转化目标'"-->
<!--                             [(ngModel)]="adgroupData.deep_conversion_type"-->
<!--                             nzShowSearch>-->
<!--                    <nz-option *ngFor="let item of structConfig['adgroup']['deep_conversion_type']['sub']" [nzValue]="item.value"-->
<!--                               [nzLabel]="item.label"></nz-option>-->
<!--                  </nz-select>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <!--出价类型-->
            <div class="lab-row pl20 mb20 w100p">
              <label><span class="redStart">*</span>出价类型:</label>
              <nz-radio-group
                class="ml8"
                [nzSize]="'small'"
                [(ngModel)]="adgroupData.bid_type"
                (ngModelChange)="changeBidMode($event)"
              >
                <ng-container *ngFor="let option of structConfig['adgroup']['bid_type']['sub']">
                  <label nz-radio-button [nzValue]="option.value">
                    <span>{{ option.label }}</span>
                  </label>
                </ng-container>
              </nz-radio-group>
            </div>
            <!--优化目标-->
            <ng-container *ngIf="adgroupData.bid_type==10&&defaultData.chan_pub_id_lst.length>0">
              <div  class="lab-row mb20 pl20 w100p">
                <label style="padding-top: 60px;"><span class="redStart">*</span>优化目标:</label>
                <nz-tabset class="ml8">
                  <nz-tab [nzTitle]="item.name" *ngFor="let item of curAccountsList">
                    <div class="lab-row mt20">
                      <div>
                        <div class="lab-row ">
                          <nz-select class="w_full"
                                     [nzSize]="'small'"
                                     [nzPlaceHolder]="'请选择优化目标'"
                                     [(ngModel)]="item.ocpx_action_type"
                                     nzShowSearch>
                            <nz-option *ngFor="let sub of item.ocpxActionList" [nzValue]="sub.ocpx_action_type"
                                       [nzLabel]="sub.ocpx_action_name"></nz-option>
                          </nz-select>

<!--                          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.ocpx_action_type.is_show">-->
<!--                            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>-->
<!--                            <span style="color: red;">{{ checkErrorTip.ocpx_action_type.tip_text }}</span>-->
<!--                          </div>-->
                        </div>
                      </div>
                    </div>
                  </nz-tab>
                </nz-tabset>
              </div>


            </ng-container>


            <!--点击出价-->
            <div class="lab-row pl20 mb20 w100p" *ngIf="adgroupData.bid_type==1||adgroupData.bid_type==2">
              <label><span class="redStart">*</span>点击出价:</label>
              <div>
                <nz-input-number class="w200 ml8" nzSize="small" [(ngModel)]="adgroupData.bid	" [nzMin]="1"
                                 [nzMax]="3000"
                                 (ngModelChange)="getItemErrorTip('bid', adgroupData.bid)"
                                 [nzStep]="1"></nz-input-number>
                <span class="ml20">元</span>

                <div class="lab-tip mt5 ml8">
                  <i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"
                     class="mr5"></i>
                  <span>取值范围: 1-3000</span>
                </div>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.bid.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.bid.tip_text }}</span>
                </div>
              </div>
            </div>
            <!--转化目标出价-->
            <div class="lab-row pl20 mb20 w100p" *ngIf="adgroupData.bid_type==10">
              <label><span class="redStart">*</span>转化目标出价:</label>
              <div>
                <nz-input-number class="w200 ml8" nzSize="small" [(ngModel)]="adgroupData.cpa_bid" [nzMin]="1"
                                 [nzMax]="3000"
                                 (ngModelChange)="getItemErrorTip('cpa_bid', adgroupData.cpa_bid)"
                                 [nzStep]="1"></nz-input-number>
                <span class="ml20">元</span>

                <div class="lab-tip mt5 ml8">
                  <i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"
                     class="mr5"></i>
                  <span>取值范围: 1-3000</span>
                </div>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.cpa_bid.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.cpa_bid.tip_text }}</span>
                </div>
              </div>
            </div>
            <!--ROI系数-->
<!--            <div class="lab-row pl20 mb20 w100p" *ngIf="adgroupData.deep_conversion_type===92">-->
<!--              <label><span class="redStart">*</span>ROI系数:</label>-->
<!--              <div>-->
<!--                <nz-input-number class="w200 ml8" nzSize="small" [(ngModel)]="adgroupData.roi_ratio" [nzMin]="0"-->
<!--                                 [nzMax]="100"-->
<!--                                 [nzStep]="0.001"></nz-input-number>-->
<!--                <span class="ml20">元</span>-->

<!--                <div class="lab-tip mt5 ml8">-->
<!--                  <i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"-->
<!--                     class="mr5"></i>-->
<!--                  <span>取值范围: 0-100</span>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

          </div>
        </div>

        <!--排期与预算-->
        <div class="basic-setting setting-block pl20 mt20">
          <div id="bid_and_budget" class="sub_title mb10"><span>排期与预算</span></div>
          <div class="basic-card">
            <!--广告日预算-->
            <div class="lab-row mb20 pl20 w100p">
              <label><span class="redStart">*</span>广告日预算:</label>
              <div>
                <nz-radio-group
                  class="ml8"
                  [(ngModel)]="adgroupData.budget_type"
                  [nzSize]="'small'">
                  <label nz-radio-button [nzValue]="0"><span>不限</span></label>
                  <label nz-radio-button [nzValue]="1"><span>统一预算</span></label>
                  <label nz-radio-button [nzValue]="2"><span>分日预算</span></label>
                </nz-radio-group>
                <ng-container *ngIf="adgroupData.budget_type === 1">
                  <div class="ml8 mt20">
                    <nz-input-number class="mr10" [(ngModel)]="adgroupData.day_budget"
                                     nzSize="small" [nzMin]="100"
                                     (ngModelChange)="getItemErrorTip('day_budget', adgroupData.day_budget)"
                                     [nzMax]="40000000" [nzStep]="1"></nz-input-number>
                    元
                    <span class="lab-tip"><i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"
                                             class="ml5 mt5 mr5"></i>取值范围: 100-100000000</span>
                    <div class="error-tip mt5" *ngIf="checkErrorTip.day_budget.is_show">
                      <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                      <span style="color: red;">{{ checkErrorTip.day_budget.tip_text }}</span>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="adgroupData.budget_type === 2">
                  <div class="ml8 mt10">
                    <div class="mb10">单位: 元
                      <span class="lab-tip"><i nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: rgb(250, 173, 20)"
                                               class="ml5 mt5 mr5"></i>取值范围: 500-100000000</span></div>
                    <table class="budget_table">
                      <thead>
                      <ng-container *ngFor="let item of weekList">
                        <th>{{item.key}}</th>
                      </ng-container>
                      </thead>
                      <tbody>
                      <tr>
                        <ng-container *ngFor="let item of weekList;let i = index;">
                          <td><nz-input-number [(ngModel)]="adgroupData.day_budget_schedule[i]" [nzMin]="500" [nzMax]="100000000" [nzStep]="100"></nz-input-number></td>
                        </ng-container>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </div>
            </div>
            <!--投放时间-->
            <div class="lab-row pl20 mb20 w100p">
              <label id="schedule_type">投放时间:</label>
              <nz-radio-group
                class="ml8"
                [nzSize]="'small'"
                [(ngModel)]="adgroupData.schedule_date"
              >
                <label nz-radio-button [nzValue]="'long_term_launch'">
                  <span>长期投放</span>
                </label>
                <label nz-radio-button [nzValue]="'appoint_launch'">
                  <span>指定开始日期和结束日期</span>
                </label>
              </nz-radio-group>
            </div>
            <div class="lab-row pl20 mb20 w100p"
                 *ngIf="adgroupData.schedule_date === 'appoint_launch'">
              <label><span class="redStart">*</span>起始时间:</label>
              <nz-range-picker
                class="w200 ml8"
                [nzAllowClear]="false"
                [nzSize]="'small'"
                [(ngModel)]="adgroupData.time_range"
                [nzDisabledDate]="getDisableDate"
                [nzFormat]="'yyyy-MM-dd'">
              </nz-range-picker>
            </div>
            <!--投放时段-->
            <div class="lab-row pl20 mb20 w100p">
              <label><span class="redStart">*</span>投放时段:</label>
              <div>
                <nz-radio-group class="ml8" [nzSize]="'small'"
                                [(ngModel)]="adgroupData.target_time">
                  <ng-container *ngFor="let option of structConfig['adgroup']['target_time']['sub']">
                    <label nz-radio-button [nzValue]="option.value">
                      <span>{{option.label}}</span>
                    </label>
                  </ng-container>
                </nz-radio-group>
                <ng-container *ngIf="adgroupData.target_time === 2">
                  <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.time_series.is_show">
                    <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                    <span style="color: red;">{{ checkErrorTip.time_series.tip_text }}</span>
                  </div>
                  <app-edit-schedule [outFormat]="'string'" [timeDimension]="1"
                                     [parentTimeDate]="adgroupData['time_series']"
                                     [showCoefficient]="showCoefficient"
                                     (dateSelected)="dateDate($event)"></app-edit-schedule>
                </ng-container>
              </div>
            </div>
            <!--创意展现-->
            <div class="lab-row pl20 mb20 w100p">
              <label><span class="redStart">*</span>创意展现方式:</label>
              <div>
                <nz-radio-group
                  class="ml8"
                  [nzSize]="'small'"
                  [(ngModel)]="adgroupData.show_mode">
                  <ng-container *ngFor="let option of structConfig['adgroup']['show_mode']['sub']">
                    <label nz-radio-button [nzValue]="option.value">
                      <span>{{ option.label }}</span>
                    </label>
                  </ng-container>
                </nz-radio-group>
              </div>
            </div>
            <!--创意制作方式-->
            <div class="lab-row pl20 mb20 w100p">
              <label><span class="redStart">*</span>创意制作方式:</label>
              <div>
                <nz-radio-group
                  class="ml8"
                  [nzSize]="'small'"
                  [(ngModel)]="adgroupData.unit_type"
                >
                  <ng-container *ngFor="let option of structConfig['adgroup']['unit_type']['sub']">
                    <label nz-radio-button [nzValue]="option.value">
                      <span>{{ option.label }}</span>
                    </label>
                  </ng-container>
                </nz-radio-group>
              </div>
            </div>
          </div>
        </div>

        <!--创意-->
        <div class="basic-setting setting-block pl20 mt20 pb20">
          <div id="creative_start" class="sub_title mb10"><span>创意</span></div>
          <!--创意形式-->
          <div class="lab-row mb20 pl20 w100p">
            <label><span class="redStart">*</span>创意形式:</label>
            <div>
              <div class="lab-row w200">
                <div>
                  <nz-select class="w_full ml8"
                             [nzSize]="'small'"
                             [nzPlaceHolder]="'请选择创意形式'"
                             [(ngModel)]="adcreativeData.creative_material_type"
                             (ngModelChange)="changeAdcreativeTemplate()"
                             nzShowSearch>
                    <ng-container *ngFor="let item of structConfig['adcreative']['creative_material_type']['sub']" >
                      <nz-option *ngIf="((adgroupData.scene_id!==6&&adgroupData.scene_id!==7&&adgroupData.scene_id!==5)||item.value!==4)&&(adgroupData.scene_id!==3||(item.value!==1&&item.value!==2))" [nzValue]="item.value"
                                 [nzLabel]="item.label"></nz-option>
                    </ng-container>

                  </nz-select>

                  <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.creative_material_type.is_show">
                    <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                    <span style="color: red;">{{ checkErrorTip.creative_material_type.tip_text }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <app-creative-template-kuaishou *ngIf="adcreativeData.creative_material_type && isGetElement"
                                     [materialData]="materialData"
                                     [defaultData]="defaultData"
                                     [targetChannelList]="targetChannelList"
                                     [adcreativeData]="adcreativeData"
                                     [creativeElementsList]="creativeElementsList"
                                     [creativeLabelList]="creativeLabelList"
                                     [actionBarList]="actionBarList"
                                     [exposeTagList]="exposeTagList"
                                     [creativeCategoryList]="creativeCategoryList"
                                     [elementNamesList]="elementNamesList"
                                     [checkErrorTip]="checkErrorTip"
                                     [chan_pub_id]="defaultData.chan_pub_id_lst"
                                     [accountsList]="accountsList"
          ></app-creative-template-kuaishou>
        </div>
      </div>
    </div>

    <div class="form-btns">
      <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCancel()">
        <span>取消</span>
      </button>
      <button class="ml8" nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="doSave()">
        <span>完成</span>
      </button>
    </div>
  </div>
</div>

<app-global-template></app-global-template>

<ng-template #target_template>
  <nz-table class="mt20 ml8" #borderedTable nzBordered [nzShowPagination]="false" [nzData]="curTargetList">
    <thead>
    <tr>
      <th [nzWidth]="'62px'" nzShowCheckbox [(nzChecked)]="allTargetChecked" (nzCheckedChange)="checkTargetAll($event)">
      <th nzWidth="200px">名称</th>
      <th nzWidth="200px">定向包类型</th>
      <th nzWidth="200px">创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of borderedTable.data">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="checkTarget($event)">
      <td>{{data.audience_template_name}}</td>
      <td>{{plan_type[data.landing_type]}}</td>
      <td>{{data.create_time}}</td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>


