<!--单元_编辑单元-->
<div>
  <h3>编辑: <span>{{groupData['pub_adgroup_name']}}</span>（属于:{{publisherOption[groupData['publisher_id']]}}/{{groupData['pub_account_name']}}、{{groupData['pub_campaign_name']}}）</h3>
  <p class="slow_360" *ngIf="publishId === 3">360媒体的编辑操作同步到媒体端有一定时间的延迟，请耐心等待，请勿重复修改!</p>
  <div class="inpRow mt10">
    <div class="inpRow_left pull-left">
      <label class="titleLa w110 mr8 inline-block">
        <span>定时设置:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left noCheckbox ">
      <nz-radio-group
        [(ngModel)]="cronSetting">
        <label class="mr20"
               nz-radio
               [nzValue]="'now'">
          <span>立即执行</span>
        </label>
        <label nz-radio
               [nzValue]="'current'">
          <span>自定义</span>
        </label>
      </nz-radio-group>
    </div>
    <div class="inpRow_right pull-left" *ngIf="cronSetting == 'current'">
      <nz-date-picker
        [nzShowTime]="{ nzFormat: 'HH:mm' }"
        [nzDisabledDate]="disabledDate"
        nzFormat="yyyy-MM-dd HH:mm"
        nzPlaceHolder="请选择时间"
        [nzSize]="'small'"
        [(ngModel)] = "cronSettingTime"
      ></nz-date-picker>
    </div>


    <div class="clear"></div>
  </div>
  <!--投放状态-->
  <div class="inpRow mt10" [ngClass]="{disabled:editing_unitData.pause.is_edit}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox [(ngModel)]="editing_unitData.pause.is_edit">
        <span>投放状态:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left">
      <nz-radio-group
        [(ngModel)]="editing_unitData.pause.value"
        [nzDisabled]="!editing_unitData.pause.is_edit">
        <label class="mr20"
               nz-radio
               [nzValue]="false">
          <span>开启</span>
        </label>
        <label nz-radio
               [nzValue]="true">
          <span>暂停</span>
        </label>
      </nz-radio-group>
    </div>
    <div class="clear"></div>
  </div>
  <div class="inpRow mt10" [ngClass]="{disabled:editing_unitData.pub_adgroup_name.is_edit}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox [(ngModel)]="editing_unitData.pub_adgroup_name.is_edit">
        <span>单元名称:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs">
      <input nz-input style="width: 200px;"
             disabled="{{!editing_unitData.pub_adgroup_name.is_edit}}"
             [(ngModel)]="editing_unitData.pub_adgroup_name.value"
             placeholder=""
             [nzSize]="'small'">
      <ng-container *ngIf="editing_unitData['pub_adgroup_name']['is_edit']">
        <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="!editing_unitData['pub_adgroup_name']['value']"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>单元名称不能为空</span>
      </ng-container>

    </div>
    <div class="clear"></div>
  </div>
  <div class="inpRow mt10" [ngClass]="{disabled:editing_unitData['max_price']['is_edit']}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox
             [(ngModel)]="editing_unitData['max_price']['is_edit']">
        <span>单元出价:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs hasInput">
      <nz-input-number style="width: 180px;"
                       [nzDisabled]="!editing_unitData['max_price']['is_edit']"
                       [(ngModel)]="editing_unitData['max_price']['value']"
                       (click) ="changeInput('max_price')"
                       [nzSize]="'small'">
      </nz-input-number>
      <span class="ml5">元</span>
      <ng-container *ngIf="editing_unitData['max_price']['is_edit']">
        <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.max_price && (publishId === 1 || publishId === 2)">
                   <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>出价不能为空且 范围 为 0.01~999.99</span>
        <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.max_price && publishId === 3">
                   <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>出价不能为空且 范围 为 0.3~999.99</span>
        <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.max_price && publishId === 4">
                   <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>出价不能为空且 范围 为 0.45~999.99</span>

      </ng-container>

    </div>
    <div class="clear"></div>
  </div>
  <!--出价比例-->
  <div *ngIf="publishId === 1">
    <!--单元出价比例-->
    <div class="inpRow mt10" *ngIf="bid_prefer === 2" [ngClass]="{disabled:editing_unitData.pc_price_ratio.is_edit}">
      <div class="inpRow_left pull-left">
        <label class="titleLa w142 mr5 inline-block" nz-checkbox [(ngModel)]="editing_unitData.pc_price_ratio.is_edit">
          <span>单元计算机出价比例:</span>
        </label>
      </div>
      <div class="inpRow_right pull-left">
        <nz-radio-group [(ngModel)]="price_ratio" [nzDisabled]="!editing_unitData.pc_price_ratio.is_edit">
          <div>
            <label class="titleColor"
                   nz-radio
                   [nzValue]="1">
              <span class="pl0 pr0">使用计划计算机出价比例:</span>
              <span>{{pc_price}}</span>
            </label>
          </div>
          <div class="mt5">
            <div class="h20 pull-left">
              <label class="titleColor"
                     nz-radio
                     [nzValue]="2">
                <span class="pl0 pr0">使用单元出价比例:</span>
              </label>
            </div>
            <nz-input-number
              disabled="{{!editing_unitData.pc_price_ratio.is_edit}}"
              [(ngModel)]="editing_unitData.pc_price_ratio.value"
              (click) ="changeInput('pc_price_ratio')"
              [nzSize]="'small'">
            </nz-input-number>
            <ng-container *ngIf="price_ratio === 2">
              <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.pc_price_ratio"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>单元计算机出价比例不能为空 且 范围为 0~10</span>
            </ng-container>
          </div>
        </nz-radio-group>
      </div>
      <div class="clear"></div>
    </div>
    <!--移动出价比例-->
    <div class="inpRow mt10" *ngIf="bid_prefer === 1" [ngClass]="{disabled:editing_unitData.wap_price_ratio.is_edit}">
      <div class="inpRow_left pull-left">
        <label class="titleLa w120 inline-block" nz-checkbox [(ngModel)]="editing_unitData.wap_price_ratio.is_edit">
          <span>移动出价比例:</span>
        </label>
      </div>
      <div class="inpRow_right pull-left">
        <nz-radio-group [(ngModel)]="price_ratio" [nzDisabled]="!editing_unitData.wap_price_ratio.is_edit">
          <div>
            <label class=" titleColor"
                   nz-radio
                   [nzValue]="1">
              <span class="pl0 pr0">使用计划移动出价比例:</span>
              <span>{{wap_price}}</span>
            </label>
          </div>
          <div class="mt5">
            <div class="h20 pull-left">
              <label class="titleColor"
                     nz-radio
                     [nzValue]="2">
                <span class="pl0 pr0">使用单元移动出价比例:</span>
              </label>
            </div>
            <nz-input-number
              [nzDisabled]="!editing_unitData.wap_price_ratio.is_edit"
              [(ngModel)]="editing_unitData.wap_price_ratio.value"
              (click) ="changeInput('wap_price_ratio')"
              [nzSize]="'small'">
            </nz-input-number>
            <ng-container *ngIf="editing_unitData.wap_price_ratio.is_edit && price_ratio === 2">
              <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.wap_price_ratio"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>单元移动出价比例不能为空 且 范围为 0~10</span>
            </ng-container>
          </div>
        </nz-radio-group>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--移动端操作系统-->
  <div *ngIf="publishId === 4" class="inpRow mt10" [ngClass]="{disabled:editing_unitData.ad_platform_os.is_edit}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox [(ngModel)]="editing_unitData.ad_platform_os.is_edit">
        <span>投放平台:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left ed_sele">
      <nz-select class="w240"
                 [nzMode]="'multiple'"
                 [nzSize]="'small'"
                 [nzDisabled]="!editing_unitData.ad_platform_os.is_edit"
                 nzPlaceHolder="请选择操作系统"
                 [(ngModel)]="editing_unitData.ad_platform_os.value"
                 [nzNotFoundContent]="'无法找到'">
        <nz-option
          *ngFor="let option of operatingModel"
          [nzLabel]="option.label"
          [nzValue]="option.value">
        </nz-option>
      </nz-select>
      <ng-container *ngIf="editing_unitData.ad_platform_os.is_edit">
        <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="!editing_unitData.ad_platform_os.value"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请选择操作系统</span>
        <ng-container *ngIf="editing_unitData.ad_platform_os.value">
          <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="editing_unitData.ad_platform_os.value.length === 0"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请选择操作系统</span>
        </ng-container>
      </ng-container>
    </div>
    <div class="clear"></div>
  </div>
  <!--分匹配模式出价-->
  <!--精确的范围：1~10  短语的范围：0.1~1.2  广泛的范围：0~1(可以选0)统一都是保留小数点后两位-->
  <div *ngIf="publishId === 1" class="inpRow mt10" [ngClass]="{disabled:editing_unitData.match_price_status.is_edit}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox [(ngModel)]="editing_unitData.match_price_status.is_edit">
        <span>分匹配模式出价:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left hasInputs">
      <div>
        <nz-radio-group [nzDisabled]="!editing_unitData.match_price_status.is_edit" [(ngModel)]="matchPriceState">
          <label class="mr20"
                 nz-radio
                 [nzValue]="true">
            <span>开启</span>
          </label>
          <label nz-radio
                 [nzValue]="false">
            <span>关闭</span>
          </label>
      </nz-radio-group>
      </div>
      <div *ngIf="matchPriceState">
        <label class="inline-block w110 mr5">
          <span>精确匹配出价比例:</span>
        </label>
        <nz-input-number
          [nzDisabled]="!editing_unitData.match_price_status.is_edit"
          [(ngModel)]="editing_unitData.accu_price_factor['value']"
          (click) ="changeInput('accu_price_factor')"
          [nzSize]="'small'">
        </nz-input-number>
        <ng-container *ngIf="editing_unitData.match_price_status.is_edit">
        <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.accu_price_factor"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>精确系数不能为空 且范围为：1~10</span>
        </ng-container>
      </div>
      <div class="mt10" *ngIf="matchPriceState">
        <label class="inline-block w110 mr5">
          <span>短语匹配出价比例:</span>
        </label>
        <nz-input-number
          [nzDisabled]="!editing_unitData.match_price_status.is_edit"
          [(ngModel)]="editing_unitData.word_price_factor['value']"
          (click) ="changeInput('word_price_factor')"
          [nzSize]="'small'">
        </nz-input-number>
        <ng-container *ngIf="editing_unitData.match_price_status.is_edit">
          <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.word_price_factor"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>短语系数不能为空 且范围为：0.1~1.2</span>
        </ng-container>
      </div>
      <div class="mt10" *ngIf="matchPriceState">
        <label class="inline-block w110 mr5">
          <span>广泛匹配出价比例:</span>
        </label>
        <nz-input-number
          [nzDisabled]="!editing_unitData.match_price_status.is_edit"
          [(ngModel)]="editing_unitData.wide_price_factor['value']"
          (click) ="changeInput('wide_price_factor')"
          [nzSize]="'small'">
        </nz-input-number>
        <ng-container *ngIf="editing_unitData.match_price_status.is_edit">
          <span class="wroning ml20" [ngClass]="{clSave:iswraing}" *ngIf="tips.wide_price_factor"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>广泛系数不能为空 且范围为：0~1</span>
        </ng-container>
      </div>
      <div [ngClass]="{mt5:tips.accuState}" *ngIf="editing_unitData.match_price_status.is_edit">
            <span class="wroning" [ngClass]="{clSave:iswraing}" *ngIf="tips.accuState">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              要求精确系数>=短语系数>=广泛系数，且比例系数均不能为空。
            </span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--否定词-->
  <div *ngIf="publishId !== 10" class="inpRow mt10" [ngClass]="{disabled:editing_unitData.negative_words.is_edit}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox [(ngModel)]="editing_unitData.negative_words.is_edit">
        <span>否定词:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left">
      <p class="countTip" *ngIf="publishId === 1"><span>注：</span> 百度：跟账户等级相关。年日均消费0~100元(一颗星)，数量不超过200个。年日均消费100~1200元(两颗星)，数量不超过400个。年日均消费1200以上(三颗星)，数量不超过500个。</p>
      <div class="w400">
        <textarea [ngClass]="{'border-warning':tips.length.negative_words>tips.maxLength.negative_words[publishId]}"
                  placeholder="一个否定词一行"
                  *ngIf="editing_unitData.negative_words.is_edit"
                  [(ngModel)]="negative_words"
                  (click) ="changeInput('negative_words')"
                  (ngModelChange)="contentChange('negative_words', negative_words)"
                  class="titleColor w400 border"  rows="5"></textarea>
        <textarea placeholder="一个否定词一行" *ngIf="!editing_unitData.negative_words.is_edit" [(ngModel)]="negative_words" disabled="" readonly=""  class="w400 border background not-allowed"  rows="5"></textarea>
        <i *ngIf="publishId !== 1" class="tip">({{tips.length.negative_words}}/{{tips.maxLength.negative_words[publishId]}})</i>
        <i *ngIf="publishId === 1" class="tip">({{tips.length.negative_words}})</i>
      </div>
      <p class="mt5 f09200" *ngIf="editing_unitData['negative_words']['is_edit'] && tips.length.negative_words>tips.maxLength.negative_words[publishId]">否定词不能超过{{tips.maxLength.negative_words[publishId]}}个</p>
    </div>
    <div class="clear"></div>
  </div>
  <!--精确否定词-->
  <div *ngIf="publishId !== 10" class="inpRow mt10" [ngClass]="{disabled:editing_unitData.exact_negative_words.is_edit}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox [(ngModel)]="editing_unitData.exact_negative_words.is_edit">
        <span>精确否定词:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left">
      <p class="countTip" *ngIf="publishId === 1"><span>注：</span> 百度：跟账户等级相关。年日均消费0~100元(一颗星)，数量不超过200个。年日均消费100~1200元(两颗星)，数量不超过400个。年日均消费1200以上(三颗星)，数量不超过500个。</p>
      <div class="w400">
        <textarea [ngClass]="{'border-warning':tips.length.exact_negative_words>tips.maxLength.exact_negative_words[publishId]}"
                  placeholder="一个否定词一行"
                  *ngIf="editing_unitData.exact_negative_words.is_edit"
                  [(ngModel)]="exact_negative_words"
                  (click) ="changeInput('exact_negative_words')"
                  (ngModelChange)="contentChange('exact_negative_words', exact_negative_words)"
                  class="titleColor w400 border"
                  rows="5"></textarea>
        <textarea placeholder="一个否定词一行" *ngIf="!editing_unitData.exact_negative_words.is_edit" [(ngModel)]="exact_negative_words" disabled="" readonly=""  class="w400 border background not-allowed"  rows="5"></textarea>
        <i *ngIf="publishId !== 1" class="tip">({{tips.length.exact_negative_words}}/{{tips.maxLength.exact_negative_words[publishId]}})</i>
        <i *ngIf="publishId === 1" class="tip">({{tips.length.exact_negative_words}})</i>
      </div>
      <p class="mt5 f09200" *ngIf="editing_unitData['exact_negative_words']['is_edit'] && tips.length.exact_negative_words>tips.maxLength.exact_negative_words[publishId]">否定词不能超过{{tips.maxLength.exact_negative_words[publishId]}}个</p>
    </div>
    <div class="clear"></div>
  </div>
  <!--维度-->
  <div class="inpRow mt10" style="display: none" [ngClass]="{disabled:editing_unitData['dimensions']['is_edit']}">
    <div class="inpRow_left pull-left">
      <label class="titleLa w120 inline-block" nz-checkbox
             [(ngModel)]="editing_unitData['dimensions']['is_edit']">
        <span>维度:</span>
      </label>
    </div>
    <div class="inpRow_right pull-left mr30 dimensionTableDiv">
      <table cellpadding="0" cellspacing="0">
        <thead >
        <tr>
          <th ><span>维度名称</span></th>
          <th ><span>账户</span></th>
          <th ><span>计划</span></th>
          <th >
            <span>单元</span>
            <i nz-icon nzType="question-circle" nzTheme="outline"  nz-tooltip [nzTooltipTitle]="'设置该单元下所有关键词的维度值'" [nzTooltipPlacement]="'topLeft'" class="ml5" style="color: #f09200"></i>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dimensionsData">
          <td >
            <span>{{data.name}}</span>
          </td>
          <td >
            <span>----</span>
          </td>
          <td >
            <span>----</span>
          </td>
          <td >
            <div *ngIf="!data.state">
              <ng-container *ngIf="!data.value">
                <span class="c8c8c8">单元维度设置</span>
              </ng-container>
              <ng-container *ngIf="data.value">
                <span>{{data.value}}</span>
              </ng-container>
              <i nz-icon nzType="edit" nzTheme="outline" class="dimensionsEdit"  *ngIf="editing_unitData['dimensions']['is_edit']" (click)="edit(data)" ></i>
              <i nz-icon nzType="edit" nzTheme="outline" class="dimensionsEdit"  *ngIf="!editing_unitData['dimensions']['is_edit']" ></i>
            </div>
            <div class="dimension" *ngIf="data.state">
              <input nz-input #input style="width: 40%;" [nzSize]="'small'" [(ngModel)]="data.value">
              <button nz-button [nzType]="'primary'" (click)="sure(data)" >
                <span>确定</span>
              </button>
              <button nz-button [nzType]="'default'" (click)="cancel_dimension(data)">
                <span>取消</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>
  </div>
</div>
