
.ant-drawer-close {
  width: 55px;
  height: 55px;
  font-size: 16px;
}

.target-word {
  color: #aeaeae!important;
  font-weight: 500;
  font-size: 12px;
  margin-left: 50px;
}

.collapse-box {
  .ant-collapse {
    background-color: #fff !important;
  }
}
