.lab-row {
  //padding: 16px 8px;
  margin-top: 10px;
  //@include title-height(24);

  .row-title {
    display: inline-block;
    width: 80px;
    text-align: right;
  }
}
.lab-row-xhs {
  display: flex;
  width: 100%;
  margin-bottom: 2px;
}
