<app-layout-left-menu [menuList]="menuList"></app-layout-left-menu>
<!-- <div class="manage-container">
  <div class="manage-sidebar">
    <ul class="manage-link mt10">
      <ng-container>
        <li class="manage-link-item" [routerLinkActive]="['active-link']">
          <a routerLink="/manage/personal/basic">基本信息</a>
        </li>
        <li class="manage-link-item" [routerLinkActive]="['active-link']">
          <a routerLink="/manage/personal/password">安全设置</a>
        </li>
        <li class="manage-link-item" [routerLinkActive]="['active-link']" *ngIf="!productInfo['hiddenMessage']">
          <a routerLink="/manage/personal/msg">消息中心</a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="manage-content">
    <router-outlet></router-outlet>
  </div>
</div> -->
