.add-target-template-container {

  .title {
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
  }

  .sub_title {
    height: 36px;
    line-height: 36px;
    color: #333;
    font-size: 12px;
    font-weight: 600;
  }

  .lab-row{
    display: flex;
    margin-bottom: 2px;
  }

  .lab-row > label:first-child{
    width: 140px;
    text-align: right;
    display: inline-block;
  }

  .target-setting {
    overflow: auto;
  }

  .form-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .extensionPeriod {
    padding: 10px 0 !important;
    margin-left: 0 !important;
  }

  .ml108 {
    margin-left: 108px;
  }

  .crowd-body-content{
    height: 300px;
    overflow: auto;
    width: 500px;
    border: 1px solid #eeee;
    display: inline-block;
  }

  .target-slider{

    .ant-slider-with-marks {
      margin-bottom: 48px;
    }

    ::ng-deep .ant-slider-rail{
      background-color: #e4e4e4 !important;
    }
  }
}
