.launch-rpa-contents{
  // padding: 20px;
  padding-top: 20px;

  .ant-table-small .ant-table-thead > tr > th{
    height: 50px;
  }


  .ant-table-tbody > tr > td {
    height: 50px;
    padding: 4px;
  }

  .launch-rpa-operation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
