@import "../../../../../styles/util/mixin";

.delete-color{
  color:#F04134;
}
.worning{
  color: #F9C137
}
.w266{
  width: 266px !important;
}
.w600{
  width: 600px !important;
}
.w430{
  width: 430px !important;
}
.w450{
  width: 450px !important;
}
.w130{
  width: 130px !important;
}
.button-controller{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}
.not-allowed{
  cursor: not-allowed;
  background: #f6f6f6;
}

.clear{
  clear: both;
}

.conversion-container{
  max-height:500px;
  //overflow: auto;
  .add-content{
    padding-left: 128px;
  }
  .ant-calendar-picker{
    width: 190px;
  }
  .lab-row{
    display: flex;
    // align-items: center;
    margin-bottom: 2px;
    textarea{
      width: 160px;
      height: 60px;
      overflow: auto;
      border: 1px solid #d9d9d9;
      padding: 5px;
    }
    .flex{
      display: flex;
    }

    .text-contains-item{
      position: relative;
      .opBtn{
        position: absolute;
        top: 0;
        right: -40px;
        width: 44px;
      }
    }
    .has-border{
      border: 1px solid #d9d9d9;
      width: 400px;
      display: inline-block;
      padding: 5px;
      margin-left: 8px;
    }

  }
  .lab-row > label:first-child{
    width: 100px;
    text-align: right;
    display: inline-block;
  }
  .lab-row .add-label{
    width: auto !important;
  }
  .trade-mark-content{
    margin-top: 30px;
    max-height: 400px;
    overflow: auto;
    .two-item{
      padding: 10px;
      border: 1px solid #e4e4e4;
      padding-bottom: 0;
      margin-bottom: 10px;
      padding-left: 30px;
      position: relative;
      //width: 90%;
      .order_number{
        position: absolute;
        left: 30px;
        top: 10px;
      }
      .two-delete{
        position: absolute;
        right: 15px;
        top: 10px;

      }
    }

  }
  .trade-mark-btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .addBtn{
    margin-left: 128px;
  }
}

