.mt46{
  margin-top: 46px;
}
.copy-chart-content-form{
  margin-top: 20px;
  .form-label{
    text-align: right;
  }
}
.copy-chart-content-row{
  width: 354px;
  height: 46px;
  margin:0 auto;
}
.copy-chart-footer{
  text-align: right;
  margin-bottom: 0px;
}
