<div>
  <div class="fixed-condition-manage page-condition-header">
    <div class="manage-operation">
      <div class="manage-header-left">
        <a class="manage-add mr8" nz-button [nzType]="'primary'" [nzSize]="'default'" routerLink="./create">
          <i nz-icon nzType="plus" nzTheme="outline"></i><span>创建角色</span>
        </a>
      </div>
    </div>
  </div>
  <div class="content-section-manage">
    <div class="manage-table manage-no-result-table">
      <nz-table #nzTable
                nzShowSizeChanger
                [nzPageSizeOptions]="[30,50,100,500]"
                [nzSize]="'default'"
                [nzData]="apiData"
                [nzFrontPagination]="false"
                [(nzPageSize)]="logPageInfo.pageSize"
                [(nzPageIndex)]="logPageInfo.currentPage"
                (nzPageIndexChange)="refreshData()"
                (nzPageSizeChange)="refreshData('log')"
                [nzTotal]="logPageInfo.total"
                [nzLoading]="loading"
                [nzShowTotal]="totalItemTemplate"
                [nzScroll]="{ y: noResultHeight+'px' }">
        <thead>
        <tr>
          <th [nzWidth]="'180px'">
            <span>角色名称</span>
          </th>
          <th [nzWidth]="'150px'">
            <span>创建日期</span>
          </th>
          <th [nzWidth]="'100px'">
            <span>最后一次修改日期</span>
          </th>
  <!--        <th [nzWidth]="'300px'">-->
  <!--          <span>创建人</span>-->
  <!--        </th>-->
          <th [nzWidth]="'80px'">
            <span>操作</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of apiData">
          <td>{{data.role_name}}</td>
          <td>{{data.create_time}}</td>
          <td>{{data.last_modify_time}}</td>
  <!--        <td>{{data.user_name}}</td>-->
          <td>
            <a  [routerLink]="['./edit',data['role_id']]" >修改</a>
            <span> | </span>
            <a nz-popconfirm  [nzPopconfirmTitle]="'确定要删除吗？'" [nzPopconfirmPlacement]="'bottomRight'"  [nzPopconfirmOverlayClassName]="'dashboard-delete-card'"  nzPopconfirmTrigger="click" (nzOnConfirm)="deleteRole(data.role_id)" >删除</a>
          </td>
        </tr>

        <tr *ngIf="apiData.length===0">
          <td #noResultTd [attr.colspan]="6"  [ngStyle]="{'background-color':'#f6f6f6','height':noResultHeight+'px'}">
            <div class="table-no-result">
              <div class="table-no-result-content">
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" routerLink="./create">
                  <i nz-icon nzType="upload" nzTheme="outline"></i><span>创建角色</span>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #totalItemTemplate let-total>共{{ logPageInfo.total }}条</ng-template>
    </div>
  </div>
</div>
