.detail {
  .label {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.condition {
  padding: 20px 20px 0;
  font-size: 16px;
}
.list-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  .list {
  }
}

.condition-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, auto));
  grid-template-rows: auto;
  grid-row-gap: 15px;
  grid-column-gap: 30px;

  .condition-item {
    position: relative;
    display: flex;
    align-items: flex-start;

    background-color: #fafafa;
    border: 1px solid #eaecf1;
    border-radius: 12px;
    padding: 12px;
    &:hover {
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      transition: box-shadow 0.3s ease-in-out;
    }

    .condition-label {
      width: 80px;
    }
    .first-line,
    .condition-label {
      height: 26px;
      line-height: 26px;
    }
    .line-wrapper {
      display: flex;
      align-items: center;
    }

    .delete-button {
      color: #f04134;
      font-size: 16px;
      margin-left: 8px;
      cursor: pointer;
    }

    .delete-icon {
      position: absolute;
      top: 6px;
      right: 8px;
      font-size: 16px;
      color: #a0aabe;
      i {
        cursor: pointer;
        &:hover {
          color: #6e7585;
        }
      }
    }
  }
}

.condition-button {
  margin-top: 20px;
  > .button {
    width: 80px;
    &:hover {
      border-color: #1890ff;
      color: #1890ff;
    }
  }
}

