.w130{
  width: 130px;
}
.account-form-item{
  // overflow: hidden;
  display: flex;
  align-items: center;
  .form-label{
    width: 92px;
    text-align: right;
  }
}
.account-binding-content{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}
.account-binding-form{
  width: 438px;
}
.account-binding-form-content{
  //min-height: 280px;
}
.account-binding-form-footer{
  margin-top: 20px;
  padding-top: 8px;
  text-align: right;
}
.account-image-token{
  width: 130px;
  height: 40px;
  text-align: center;
}
.overHidden{
  overflow: hidden;
}
.sem-setting-token-show{

  .sem-setting-token-content{
      padding:15px;
      background-color: #fff;
      z-index: 10;
      font-size: 16px;
  }
  .sem-setting-token-title{
      line-height: 30px;
      text-align: center;
      font-size:18px;color:#2795eb;
  }
}
