<div class="account-binding-content">
  <form class="account-binding-form" [formGroup]="validateAccountBindingForm" *ngIf="!isVisible">
    <div class="account-binding-form-content">
      <nz-form-item class="account-form-item">
        <div class="form-label pull-left">
          <label>广告主:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left">
          <nz-select class="w100p" [formControlName]="'cid'" [nzSize]="'default'" [nzDisabled]="chanPubId>0" [(ngModel)]="accountSetting.cid">
            <nz-option
              *ngFor="let option of advertiserList"
              [nzLabel]="option.advertiser_name"
              [nzValue]="option.cid">
            </nz-option>
          </nz-select>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item class="account-form-item">
        <div class="form-label pull-left">
          <label>媒体:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left">
          <nz-select class="w100p" [formControlName]="'publisher_id'" [nzDisabled]="chanPubId>0" [nzSize]="'default'" [(ngModel)]="accountSetting.publisher_id">
            <nz-option
              *ngFor="let option of publishers"
              [nzLabel]="option.publisher_name"
              [nzValue]="option.publisher_id">
            </nz-option>
          </nz-select>
        </nz-form-control>

      </nz-form-item>
      <nz-form-item class="account-form-item" *ngIf="accountSetting.publisher_id!==6 && accountSetting.publisher_id!==13 && accountSetting.publisher_id!==14 && accountSetting.publisher_id!==15">
        <div class="form-label pull-left">
          <label>推广账户用户名:</label>
        </div>
        <!--编辑-->
        <nz-form-control class="w200 ml8 pull-left accountName" *ngIf="chanPubId > 0">
          <input nz-input
                 class="w100p"
                 [nzSize]="'default'"
                 [formControlName]="'pub_account_name'"
                 type="text"
                 disabled= "disabled"
                 [(ngModel)]="accountSetting['pub_account_name']">

        </nz-form-control>

      </nz-form-item>
      <nz-form-item class="account-form-item" *ngIf="accountSetting.publisher_id!==6 && accountSetting.publisher_id!==13 && accountSetting.publisher_id!==14 && accountSetting.publisher_id!==15">
        <div class="form-label pull-left">
          <label><span class="redStart">*</span>推广账户密码:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left">
          <input nz-input
                 class="w100p"
                 [nzSize]="'default'"
                 [formControlName]="'pub_password'"
                 type="password"
                 placeholder="输入密码"
                 [(ngModel)]="accountSetting.pub_password">

        </nz-form-control>
        <div class="ml8 pull-left">
          <div class='ant-form-item-explain' *ngIf="getFormControl('pub_password').dirty&&getFormControl('pub_password').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入密码</div>
        </div>
      </nz-form-item>

      <nz-form-item class="account-form-item" *ngIf="accountSetting.publisher_id === 17">
        <div class="form-label pull-left">
          <label><span class="redStart">*</span>应用类型 :</label>
        </div>
        <nz-form-control class="w260 ml8 pull-left">
          <nz-radio-group style="display: flex;align-items: center;" nzSize="default"  [(ngModel)]="accountSetting.is_jzl" [formControlName]="'is_jzl'" (ngModelChange)="jzlTypeChange()">
            <label nz-radio [nzValue]="'1'">自有权限</label>
            <label nz-radio [nzValue]="'2'">第三方权限</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="account-form-item" *ngIf="accountSetting.publisher_id === 17 && accountSetting.is_jzl == '1'">
        <div class="form-label pull-left">
          <label><span class="redStart">*</span>api_key:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left">
          <input nz-input
                 class="w100p"
                 [nzSize]="'default'"
                 [formControlName]="'pub_token'"
                 type="text"
                 placeholder="输入api_key"
                 [(ngModel)]="accountSetting.pub_token">

        </nz-form-control>
        <div class="ml8 pull-left">
          <div class='ant-form-item-explain' *ngIf="getFormControl('pub_token').dirty&&getFormControl('pub_token').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入api_key</div>
        </div>
      </nz-form-item>
      <ng-container *ngIf="accountSetting.publisher_id===13 || accountSetting.publisher_id===14 || accountSetting.publisher_id===15">
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left">
            <label><span class="redStart">*</span>账户名:</label>
          </div>
          <!--{{chanPubId>0}}-->
          <!--添加-->
          <nz-form-control class="w200 ml8 pull-left" *ngIf="chanPubId === 0">
            <input nz-input
                   class="w100p"
                   [nzSize]="'default'"
                   [formControlName]="'pub_account_name'"
                   type="text"
                   placeholder="输入账户名"
                   [(ngModel)]="accountSetting.pub_account_name">
          </nz-form-control>
          <!--编辑-->
          <nz-form-control class="w200 ml8 pull-left accountName" *ngIf="chanPubId > 0">
            <input nz-input
                   class="w100p"
                   [nzSize]="'default'"
                   [formControlName]="'pub_account_name'"
                   type="text"
                   disabled= "disabled"
                   [(ngModel)]="accountSetting.pub_account_name">

          </nz-form-control>
          <div class="ml8 pull-left">
            <div class='ant-form-item-explain' *ngIf="getFormControl('pub_account_name').dirty&&getFormControl('pub_account_name').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入账户名</div>
          </div>
        </nz-form-item>
        <nz-form-item class="account-form-item" *ngIf="accountSetting.publisher_id!==15">
          <div class="form-label pull-left">
            <label><span class="redStart">*</span>账户ID:</label>
          </div>
          <nz-form-control class="w200 ml8 pull-left">
            <input nz-input
                   class="w100p"
                   [nzSize]="'default'"
                   [formControlName]="'owner_id'"
                   type="text"
                   disabled= "disabled"
                   placeholder="输入账户ID"
                   [(ngModel)]="accountSetting.owner_id">
          </nz-form-control>
          <div class="ml8 pull-left">
            <div class='ant-form-item-explain' *ngIf="getFormControl('owner_id').dirty&&getFormControl('owner_id').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入账户ID</div>
          </div>
        </nz-form-item>
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left">
            <label><span class="redStart">*</span>app_id:</label>
          </div>
          <nz-form-control class="w200 ml8 pull-left">
            <input nz-input
                   class="w100p"
                   [nzSize]="'default'"
                   [formControlName]="'app_id'"
                   type="text"
                   placeholder="输入app_id"
                   [(ngModel)]="accountSetting.app_id">
          </nz-form-control>
          <div class="ml8 pull-left">
            <div class='ant-form-item-explain' *ngIf="getFormControl('app_id').dirty&&getFormControl('app_id').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入app_id</div>
          </div>
        </nz-form-item>
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left">
            <label><span class="redStart">*</span>app_secret:</label>
          </div>
          <nz-form-control class="w200 ml8 pull-left">
            <input nz-input
                   class="w100p"
                   [nzSize]="'default'"
                   [formControlName]="'app_secret'"
                   type="text"
                   placeholder="输入app_secret"
                   [(ngModel)]="accountSetting.app_secret">
          </nz-form-control>
          <div class="ml8 pull-left">
            <div class='ant-form-item-explain' *ngIf="getFormControl('app_secret').dirty&&getFormControl('app_secret').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入app_secret</div>
          </div>
        </nz-form-item>
      </ng-container>
      <ng-container *ngIf="accountSetting.publisher_id!==3&&accountSetting.publisher_id!==1 && accountSetting.publisher_id!==6 && accountSetting.publisher_id!==13 && accountSetting.publisher_id!==14 && accountSetting.publisher_id!==15 && accountSetting.publisher_id!==17&& accountSetting.publisher_id!==24">
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left">
            <label><span class="redStart">*</span>验证码:</label>
          </div>
          <nz-form-control class="w200 ml8 pull-left">
            <div>
              <input nz-input
                     class="w100p"
                     [nzSize]="'default'"
                     [formControlName]="'image_token'"
                     type="text"
                     [(ngModel)]="accountSetting['verify_code']">

            </div>
          </nz-form-control>

          <div class="ml8 pull-left">
            <div class='ant-form-item-explain' *ngIf="getFormControl('image_token').dirty&&getFormControl('image_token').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请填写验证码</div>
          </div>
        </nz-form-item>
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left"></div>
          <nz-form-control class="w200 ml8 pull-left">
            <div class="overHidden">
              <div class="account-image-token pull-left" style="line-height: 38px;">
                <ng-container *ngIf="!image_loading">
                  <i nz-icon nzType="loading" nzTheme="outline"></i>
                </ng-container>

                <ng-container *ngIf="image_loading">
                  <img width="100%" height="100%" src="{{verificationImg}}" alt="验证码">
                </ng-container>
              </div>
              <div class="pull-left ml5" style="line-height: 40px;">
                <a (click)="getImage()">换一张</a>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
      </ng-container>

      <ng-container *ngIf="accountSetting.publisher_id===17 && accountSetting.is_jzl == '2'">
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left">
            <label><span class="redStart">*</span>验证码:</label>
          </div>
          <nz-form-control class="w200 ml8 pull-left">
            <div>
              <input nz-input
                     class="w100p"
                     [nzSize]="'default'"
                     [formControlName]="'image_token'"
                     type="text"
                     [(ngModel)]="accountSetting['verify_code']">

            </div>
          </nz-form-control>

          <div class="ml8 pull-left">
            <div class='ant-form-item-explain' *ngIf="getFormControl('image_token').dirty&&getFormControl('image_token').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请填写验证码</div>
          </div>
        </nz-form-item>
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left"></div>
          <nz-form-control class="w200 ml8 pull-left">
            <div class="overHidden">
              <div class="account-image-token pull-left" style="line-height: 38px;">
                <ng-container *ngIf="!image_loading">
                  <i nz-icon nzType="loading" nzTheme="outline"></i>
                </ng-container>

                <ng-container *ngIf="image_loading">
                  <img width="100%" height="100%" src="{{verificationImg}}" alt="验证码">
                </ng-container>
              </div>
              <div class="pull-left ml5" style="line-height: 40px;">
                <a (click)="getImage()">换一张</a>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngIf="accountSetting.publisher_id===3">
        <nz-form-item class="account-form-item">
          <div class="form-label pull-left">
            <label><span class="redStart">*</span>应用类型 :</label>
          </div>
          <nz-form-control class="w260 ml8 pull-left">
            <nz-radio-group style="display: flex;align-items: center;" nzSize="default"  [(ngModel)]="accountSetting.is_jzl" [formControlName]="'is_jzl'" (ngModelChange)="jzlTypeChange()">
              <label nz-radio [nzValue]="'1'">{{productInfo['name']}}应用</label>
              <label nz-radio [nzValue]="'0'">自有应用</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <ng-container *ngIf="accountSetting.is_jzl=='0'">
          <nz-form-item class="account-form-item">
            <div class="form-label pull-left">
              <label><span class="redStart">*</span>app_id:</label>
            </div>
            <nz-form-control class="w200 ml8 pull-left">
              <input nz-input
                     class="w100p"
                     [nzSize]="'default'"
                     [formControlName]="'app_id'"
                     type="text"
                     placeholder="输入app_id"
                     [(ngModel)]="accountSetting.app_id">
            </nz-form-control>
            <div class="ml8 pull-left">
              <div class='ant-form-item-explain' *ngIf="getFormControl('app_id').dirty&&getFormControl('app_id').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入app_id</div>
            </div>
          </nz-form-item>
          <nz-form-item class="account-form-item">
            <div class="form-label pull-left">
              <label><span class="redStart">*</span>app_secret:</label>
            </div>
            <nz-form-control class="w200 ml8 pull-left">
              <input nz-input
                     class="w100p"
                     [nzSize]="'default'"
                     [formControlName]="'app_secret'"
                     type="text"
                     placeholder="输入app_secret"
                     [(ngModel)]="accountSetting.app_secret">
            </nz-form-control>
            <div class="ml8 pull-left">
              <div class='ant-form-item-explain' *ngIf="getFormControl('app_secret').dirty&&getFormControl('app_secret').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入app_secret</div>
            </div>
          </nz-form-item>
        </ng-container>
      </ng-container>

    </div>
    <div class="account-binding-form-footer">
      <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'default'" (click)="cancel()">
        <span>取消</span>
      </button>
      <button class="ml8" nz-button [nzLoading]="saveing" [nzType]="'primary'" [nzSize]="'default'" [disabled]="!validateAccountBindingForm.valid" (click)="doSave()">
        <span *ngIf="accountSetting.publisher_id!==6">完成</span>
        <span *ngIf="accountSetting.publisher_id===6">授权</span>
      </button>
    </div>
  </form>
  <div class="sem-setting-token-show" *ngIf="isVisible">
      <div class="sem-setting-token-background"></div>
      <div class="sem-setting-token-content">
          <div class="sem-setting-token-title">等待授权完成<i class="fa fa-spinner fa-spin fa-1x ml13"></i></div>
          <div style="margin-top:10px;padding:5px;font-size: 12px;">
              <span>*注：若授权不成功，可能是如下两种原因导致。</span>
              <div style="margin-left:15px;margin-top: 8px;">
                  1、授权系统会弹出另一个页面，您可以检查页面是否被浏览器拦截了或者复制链接进行授权。
              </div>
              <textarea class="form-control" style="margin-left:18px;margin-top: 8px;" [(ngModel)]="gruntUrl"></textarea>
              <div style="margin-left:15px;margin-top:8px;">
                  2、如果对多账户同时进行授权，进入授权页后请先退出上一个账号，然后重新登陆新账号进行授权。
              </div>
              <div style="margin-top:8px;text-align:center;">
                  <button type="button hand" style=" width: 60px;font-size: 12px;" class="btn btn-sm btn-primary btn-top creat-btn sem_btn_small" (click)="cancel()" ng-disabled="!refreshStatusInterval">取消</button>
              </div>
          </div>
      </div>
  </div>
</div>
