.jzl-empty-chart{
  min-height: 360px;
  position: relative;
  margin-bottom: 8px;
  border:1px dashed #E4e4e4;
  background-color:#fbfbfb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
