.tencent-map-container {
  height: 400px;
  margin-bottom: 20px;

  .tencent-map-search-container {
    display: flex;
    height: 360px;

    .tencent-map-aside {
      width: 260px;
      overflow-y: auto;
      border: 1px solid #e1e4e8;

      .map-search-list {
        .map-search-list-item {
          position: relative;
          overflow: hidden;
          border-bottom: 1px solid #e1e4e8;
          padding: 13px 15px 16px 50px;
          cursor: pointer;

          > b {
            position: absolute;
            top: 15px;
            left: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            background: #296bef;
            color: #fff;
          }

          .tt {
            font-size: 14px;
            color: #333;
            line-height: 2;
          }

          .des {
            font-size: 12px;
            line-height: 20px;
            color: #999;
          }
        }
      }

    }

    #map-container {
      flex: 1;
      //width: 100%;
      height: 100%;
    }
  }
}

.info-box {
  width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  .info-address {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .slider-container {
    width: 100%;
    height: 40px;
    display: block;
    margin-top: 20px;
    position: relative;
  }

  .slider-bar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #e4e7ed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slider-progress {
    width: 0;
    height: 5px;
    border-radius: 10px 0 0 10px;
    background: #409eff;
  }
  .slider-dot {
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #409eff;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto 0;
    border-radius: 50%;
    cursor: pointer;
  }
  .slider-number {
    position: absolute;
    top: 10px;
    left: 46%;
  }
  .slider-button-box {
    display: flex;
    justify-content: flex-end;
    .slider-button {
      width: 80px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 5px;
      color: #fff;
      background-color: #409eff;
      cursor: pointer;
    }
  }
}


