.automation-container {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f4f7fc;
}
.automation-sidebar {
  width: 150px;
  flex: 0 0 150px;
  background-color: #ffffff;
}
.automation-link {
  a {
    color: #404040;
    text-decoration: none;
  }
  .active-link {
    background-color: #f4f7fc;
  }
  .active-link a {
    color: #56acef;
  }
}
.automation-link-item {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.automation-content {
  overflow: auto;
  flex: auto;
  padding-left: 20px;
  .automation-tactic-container {
    background-color: #fff;
    padding: 20px;
    height: 100%;
  }
}
