<app-layout-left-menu [menuList]="menuList"></app-layout-left-menu>
<!-- <div class="manage-container">
  <div class="manage-sidebar">
    <ul class="manage-link mt10"> -->
<!--      <li class="manage-link-item" [routerLinkActive]="['active-link']">-->
<!--        <a routerLink="#">标题文案</a>-->
<!--      </li>-->
<!--      <li class="manage-link-item" [routerLinkActive]="['active-link']">-->
<!--        <a routerLink="#">图片素材</a>-->
<!--      </li>-->
      <!-- <li class="manage-link-item" [routerLinkActive]="['active-link']" *ngIf="publisherId ==1 || publisherId == 7 || publisherId == 6 || publisherId == 17">
        <a routerLink="/data_view/feed/materials/image_material">图片素材</a>
      </li>
      <li class="manage-link-item" [routerLinkActive]="['active-link']" *ngIf="publisherId ==7 || publisherId == 6 ||  publisherId == 17">
        <a routerLink="/data_view/feed/materials/video_material">视频素材</a>
      </li> -->
<!--      <li class="manage-link-item" [routerLinkActive]="['active-link']">-->
<!--        <a routerLink="#">图片报告</a>-->
<!--      </li>-->
      <!-- <li class="manage-link-item" [routerLinkActive]="['active-link']" *ngIf="publisherId ==7 || publisherId == 6">
        <a routerLink="/data_view/feed/materials/video_report">视频报告</a>
      </li>
      <li class="manage-link-item" [routerLinkActive]="['active-link']" *ngIf="publisherId == 6">
        <a routerLink="/data_view/feed/materials/image_report">图片报告</a>
      </li>
      <li class="manage-link-item" [routerLinkActive]="['active-link']" *ngIf="publisherId ==7 || publisherId == 6 || publisherId == 17">
        <a routerLink="/data_view/feed/materials/materials_author">素材作者</a>
      </li>
      <li class="manage-link-item" [routerLinkActive]="['active-link']">
        <a routerLink="/data_view/feed/materials/document_manage" *ngIf="publisherId!=6">文案管理</a>
      </li>
      <li class="manage-link-item" [routerLinkActive]="['active-link']">
        <a routerLink="/data_view/feed/materials/launch_template" *ngIf="publisherId!=6">投放模板</a>
      </li>
      <li class="manage-link-item" [routerLinkActive]="['active-link']">
        <a routerLink="/data_view/feed/materials/launch_create" *ngIf="publisherId==7">新建投放</a>
        <a routerLink="/data_view/feed/materials/bd_create_launch" *ngIf="publisherId==1">新建投放</a>
        <a routerLink="/data_view/feed/materials/uc_create_launch" *ngIf="publisherId==17">新建投放</a>
      </li>

    </ul>
  </div>
  <div class="manage-content">
    <router-outlet></router-outlet>
  </div>
</div> -->
