<div class="launch-image-modal-container">
  <div class="selected-content">
    <div class="selected-head">
      <div class="mb20">已选列表 <span style="color: red">{{materialSelectedMap.size}}</span></div>
      <div class="mb20"> <span (click)="clearAllSelected()">清空</span></div>
    </div>

    <ul class="selected-list">
      <li class="selected-item" *ngFor="let selectedMaterial of materialSelectedList">
        <div class="selected-title">
          <div  class="image-info">
            <div  class="image-poster">
              <img [src]="selectedMaterial['preview_img']">
            </div>
            <div  class="image-title"> {{selectedMaterial['material_name']}}</div>
          </div>
        </div>
        <div class="selected-title-oper"><i nz-icon nzType="close" nzTheme="outline" (click)="clearSingeSelected(selectedMaterial['material_id'])"></i></div>
      </li>
    </ul>
  </div>
  <div class="selected-container">
    <div class="select-list-nav">
      <div class="select-list-nav-col mb10">
<!--        <div class="select-list-nav-btn">-->
<!--          <button class="mr8 ml5" nz-button [nzType]="'default'" [nzSize]="'small'" (click)=" _checkAll(true);">-->
<!--            <span>全选</span>-->
<!--          </button>-->
<!--          <button class="mr8 ml5" nz-button [nzType]="'default'" [nzSize]="'small'" (click)=" _checkAll(false);">-->
<!--            <span>取消选择</span>-->
<!--          </button>-->
<!--        </div>-->
        <div class="select-list-nav-multi mt10">
          <div class="nav-left">
            <div class="lab-row ml10">
              <label>创建时间:</label>
              <nz-range-picker class="ml8 w200" [(ngModel)]="queryItem.create_time.value" [nzSize]="'small'" (ngModelChange)="reloadData(true)" nzFormat="yyyy-MM-dd"></nz-range-picker>
            </div>
            <div class="lab-row ml10">
              <label>名称:</label>
              <nz-select class="w70 ml8"
                         [nzSize]="'small'"
                         [(ngModel)]="queryItem.material_name.op"
                         nzShowSearch>
                <nz-option
                  *ngFor="let option of stringFilterOper"
                  [nzLabel]="option.name"
                  [nzValue]="option.key">
                </nz-option>
              </nz-select>
              <input class="w200 ml8" nz-input [nzSize]="'small'" [(ngModel)]="queryItem.material_name.value" placeholder="请输入">
            </div>
            <div class="lab-row ml10">
              <label>素材类型:</label>
              <nz-select class="w200 ml8"
                         [nzSize]="'small'"
                         [(ngModel)]="queryItem.image_type.value"
                         [nzPlaceHolder]="'请选择类型'"
                         nzShowSearch>
                <nz-option
                  *ngFor="let option of launchRpaService.ImageTypeConfigList['publisher_'+menuService.currentPublisherId]|objList"
                  [nzLabel]="option.name"
                  [nzValue]="option.key">
                </nz-option>
              </nz-select>
            </div>
          </div>

        </div>
        <div class="select-list-nav-multi mt10">
          <div class="nav-left">
            <div class="lab-row ml10">
              <label>标签:</label>
              <nz-select class="w40 ml8"
                         [nzSize]="'small'"
                         [(ngModel)]="queryItem.material_tags.op"
                         [nzPlaceHolder]="'请选择'"
                         nzShowSearch>
                <nz-option [nzLabel]="'或'"  [nzValue]="'json_contains_or'"> </nz-option>
                <nz-option [nzLabel]="'且'"  [nzValue]="'json_contains_and'"> </nz-option>
              </nz-select>
              <nz-select class="w200 ml8"
                         [nzSize]="'small'"
                         [nzMode]="'tags'"
                         [(ngModel)]="queryItem.material_tags.value"
                         [nzPlaceHolder]="'请选择标签或手动输入'"
                         nzShowSearch>
                <ng-container *ngFor="let data of tagsList">
                  <nz-option [nzLabel]="data['tags_content']"  [nzValue]="data['tags_content']"> </nz-option>
                </ng-container>
              </nz-select>
            </div>
            <div class="lab-row ml10">
              <label>排除标签:</label>
              <nz-select class="w40 ml8"
                         [nzSize]="'small'"
                         [(ngModel)]="queryItem.exclude_material_tags.op"
                         [nzPlaceHolder]="'请选择'"
                         nzShowSearch>
                <nz-option [nzLabel]="'或'"  [nzValue]="'not_json_contains_or'"> </nz-option>
                <nz-option [nzLabel]="'且'"  [nzValue]="'not_json_contains_and'"> </nz-option>
              </nz-select>
              <nz-select class="w200 ml8"
                         [nzSize]="'small'"
                         [nzMode]="'tags'"
                         [(ngModel)]="queryItem.exclude_material_tags.value"
                         [nzPlaceHolder]="'请选择标签或手动输入'"
                         nzShowSearch>
                <ng-container *ngFor="let data of tagsList">
                  <nz-option [nzLabel]="data['tags_content']"  [nzValue]="data['tags_content']"> </nz-option>
                </ng-container>
              </nz-select>
            </div>
          </div>

          <div class="nav-right">
            <button class="ml10" nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="reloadData(true)">
              <span>查询</span>
            </button>
            <button class="ml10" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="reset();">
              <span>重置</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="title-list" style="width: 1000px;">
      <nz-table #basicTable
                [nzShowTotal]="globalTemplate.totalItemTemplate"
                [nzFrontPagination] = false
                [nzSize]="'small'"
                [nzData]="apiData"
                [(nzPageSize)]="pageSize"
                [(nzPageIndex)]="currentPage"
                (nzPageIndexChange)="refreshData()"
                (nzPageSizeChange)="refreshData(true)"
                [nzTotal]="total"
                [nzLoading]="loading"
                [nzNoResult]="globalTemplate.noResultTd"
                [nzScroll]="{ x: '810px', y:   '550px' }">
        <thead>
        <tr>
          <th [nzWidth]="'62px'" nzLeft="0px">
          <th nzWidth="220px" nzLeft="62px">图片</th>
          <th nzWidth="120px" nzLeft="282px">标签</th>
          <th nzShowSort (nzSortOrderChange)="sortData($event,'create_time')" nzWidth="150px">创建时间</th>
          <th nzShowSort (nzSortOrderChange)="sortData($event,'image_type')" nzWidth="100px">素材类型</th>
          <th nzWidth="100px">图片尺寸</th>
          <th   nzWidth="120px">大小</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="checkSingle($event,data)">
          <td nzLeft="62px">
            <div class="image-cell">
              <div  class="image-info">
                <div  class="image-poster">
                  <img [src]="data['preview_img']">
                </div>
                <div  class="image-title"> {{data['material_name']}}</div>
              </div>
            </div>
          </td>
          <td nzLeft="282px">{{data['material_tags']}}</td>
          <td>{{data['create_time']}}</td>
          <td>{{data['image_type'] === '1' ? '横版图片' : '竖版图片' }}</td>
          <td>{{data['image_width']}}*{{data['image_height']}}</td>
          <td>{{data['size']}}</td>

        </tr>

        </tbody>
      </nz-table>
    </div>

    <div class="form-btns">
      <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCancel()">
        <span>取消</span>
      </button>
      <button class="ml8" nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="doSave()">
        <span>确定</span>
      </button>
    </div>
  </div>
</div>
<app-global-template></app-global-template>
