.folder-detail-nav-tab{
  width: 100%;
  height: 60px;
  background-color: #E9EEF4;
  .folder-detail-desc{
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    .action-back{
      cursor: pointer;
      color: #5889A5;
      position: absolute;
      left: 30px;
    }
  }

  .folder-detail-nav-menu{
    padding-left: 30px;
    display: flex;

    .oper-type{
      cursor: pointer;
      position: relative;
      border:1px solid #e4e4e4;
      border-bottom:none;
      display: inline-block;
      background-color: #E9EEF4;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      &.active{
        background-color: white;
        border:1px solid white;
        color: #5889A5;
      }
    }
  }
}
