<div class="role-content">
  <form class="role-form" [formGroup]="validateAccountBindingForm">
    <div class="role-form-content">
      <nz-form-item class="role-form-item">
        <div class="form-label pull-left">
          <label>用户名:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left accountName">
          <input nz-input
                 class="w100p"
                 [nzSize]="'default'"
                 [formControlName]="'user_name'"
                 [(ngModel)]="defaultSetting['user_name']"
                 type="text"
                 disabled= "disabled"
                 placeholder="输入用户名">

        </nz-form-control>
        <div class="ml8 pull-left">
          <div class='ant-form-item-explain' *ngIf="getFormControl('user_name').dirty&&getFormControl('user_name').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入用户名</div>
        </div>
      </nz-form-item>
      <nz-form-item class="role-form-item accountName">
        <div class="form-label pull-left">
          <label>邮箱:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left">
          <input nz-input
                 class="w100p"
                 [nzSize]="'default'"
                 [formControlName]="'email'"
                 [(ngModel)]="defaultSetting['email']"
                 type="email"
                 disabled= "disabled"
                 placeholder="输入邮箱">

        </nz-form-control>
        <div class="ml8 pull-left">
          <div class='ant-form-item-explain' *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入邮箱</div>
          <div class='ant-form-item-explain' *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入正确的邮箱</div>
        </div>
      </nz-form-item>
      <nz-form-item class="role-form-item">
        <div class="form-label pull-left">
          <label>密码:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left">
          <input nz-input
                 class="w100p"
                 [nzSize]="'default'"
                 [formControlName]="'user_password'"
                 [(ngModel)]="defaultSetting['user_password']"
                 placeholder="******"
                 type="password">

        </nz-form-control>
        <div class="ml8 pull-left">
          <div class='ant-form-item-explain' *ngIf="getFormControl('user_password').dirty&&getFormControl('user_password').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请输入密码</div>
        </div>
      </nz-form-item>
      <nz-form-item class="role-form-item">
        <div class="form-label pull-left">
          <label>确认密码:</label>
        </div>
        <nz-form-control class="w200 ml8 pull-left">
          <input nz-input
                 class="w100p"
                 [nzSize]="'default'"
                 [formControlName]="'check_password'"
                 [(ngModel)]="defaultSetting['check_password']"
                 placeholder="******"
                 type="password">

        </nz-form-control>
        <div class="ml8 pull-left">
          <div class='ant-form-item-explain' *ngIf="getFormControl('check_password').dirty&&getFormControl('check_password').hasError('required')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>请再次输入密码</div>
          <div class='ant-form-item-explain' *ngIf="getFormControl('check_password').dirty&&getFormControl('check_password').hasError('error')"><i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>两次输入的密码不同</div>
        </div>
      </nz-form-item>
    </div>
    <div class="role-form-footer">
      <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'default'" (click)="cancel()">
        <span>取消</span>
      </button>
      <button class="ml8" nz-button [nzType]="'primary'" [nzSize]="'default'" [disabled]="!validateAccountBindingForm.valid" (click)="doSave()">
        <span>完成</span>
      </button>
    </div>
  </form>

</div>
