.w130{
  width: 130px;
}
.role-form-item{
  // overflow: hidden;
  display: flex;
  align-items: center;
  .form-label{
    width: 92px;
    text-align: right;
  }
}
.role-content{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}
.role-form{
  width: 438px;
}
.role-form-content{
  //min-height: 280px;
}
.role-form-footer{
  margin-top: 20px;
  padding-top: 8px;
  text-align: right;
}
.account-image-token{
  width: 85px;
  height: 25px;
  margin-left: 4px;
  text-align: center;
}
