.channel-add-content {
  .lab-row {
    display: flex;
    margin-bottom: 10px;

    > label {
      width: 140px;
      text-align: right;
    }

    .w100p {
      width: 100%;
    }

    .ml50p {
      margin-left: 50%;
    }

    .w_full {
      width: 568px;
    }
  }

  .channel-add-btn {
    text-align: right;
    padding-top: 16px;
  }
  .ant-input-group-addon {
    padding: 0;
    border: 0;
    position: relative;
    top: -1.5px;
  }
  .input-group-btn {
    border-right: 0;
  }
  .group-target-item {
    padding: 10px 10px 10px 30px;
    background: #fafafa;
    display: flex;
    position: relative;

    .delete-icon {
      font-size: 14px;
      color: red;
      position: absolute;
      right: 10px;
    }
  }

}
.item-body {
  .tag {
    color: #1890FF;
  }

  .tag-word {
    cursor: pointer;
  }
}
