<div class="channel-add-content">
  <div class="basic-setting setting-block pl20 mt20">
    <!--账户-->
    <div class="lab-row mb20 pl20 w100p">
      <label><span class="redStart">*</span>账户:</label>
      <div>
        <nz-select class="w_full ml8"
                   [nzSize]="'small'"
                   [(ngModel)]="defaultData.chan_pub_id"
                   [nzPlaceHolder]="'请选择帐户'"
                   (ngModelChange)="changeAccount($event)"
                   nzShowSearch>
          <nz-option
            *ngFor="let option of accountsList"
            [nzLabel]="option.pub_account_name"
            [nzValue]="option.chan_pub_id+''">
          </nz-option>
        </nz-select>
        <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.chan_pub_id.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ checkErrorTip.chan_pub_id.tip_text }}</span>
        </div>
      </div>
    </div>
    <!--转化链路-->
    <div class="lab-row mb20 pl20 w100p">
      <label><span class="redStart">*</span>转化链路:</label>
      <div>
        <nz-radio-group
          class="ml8"
          [(ngModel)]="defaultData.is_new"
          (ngModelChange)="changeLandingType()"
          [nzSize]="'small'">
          <ng-container>
            <label nz-radio-button [nzValue]="'0'" [nzDisabled]="isCopy&&defaultData.is_new=='1'">
              <span>默认</span>
            </label>
            <label nz-radio-button [nzValue]="'1'" [nzDisabled]="isCopy&&defaultData.is_new=='0'">
              <span>全链路</span>
            </label>
          </ng-container>
        </nz-radio-group>
      </div>
    </div>
    <!--推广对象-->
    <div class="lab-row mb20 pl20 w100p">
      <label><span class="redStart">*</span>推广对象:</label>
      <div>
        <nz-select class="w_full ml8"
                   [nzSize]="'small'"
                   [(ngModel)]="defaultData.app_type"
                   (ngModelChange)="changeLandingType()"
                   [nzPlaceHolder]="'请选择'"
                   nzShowSearch>
          <nz-option
            *ngFor="let option of landingTypeList"
            [nzLabel]="option.name"
            [nzValue]="option.key">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <!--渠道类别-->
    <div class="lab-row mb20 pl20 w100p">
      <label><span class="redStart">*</span>渠道类别:</label>
      <nz-radio-group
        class="ml8"
        [(ngModel)]="defaultData.convert_channel_type"
        (ngModelChange)="changeChannelType($event)"
        [nzSize]="'small'">
        <ng-container>
          <label nz-radio-button [nzValue]="'1'" [nzDisabled]="(isEdit||isCopy) && defaultData.convert_channel_type !== '1'">
            <span>转化</span>
          </label>
          <label nz-radio-button [nzValue]="'2'" [nzDisabled]="(isEdit||isCopy) && defaultData.convert_channel_type !== '2'">
            <span>非转化</span>
          </label>
        </ng-container>
      </nz-radio-group>
    </div>
    <!--渠道名称-->
    <div class="lab-row mb20 pl20 w100p">
      <label><span class="redStart">*</span>渠道名称:</label>
      <div>
        <input class="w_full ml8" nz-input [(ngModel)]="defaultData.convert_channel_name" nzSize="small" (ngModelChange)="checkBasicData('convert_channel_name')"
               placeholder="请输入渠道名称"/>
        <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.convert_channel_name.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ checkErrorTip.convert_channel_name.tip_text }}</span>
        </div>
      </div>
    </div>
    <!--下载链接-->
    <!--链接方式-->
    <div class="lab-row pl20 mb20 w100p" *ngIf="defaultData.app_type === '010'">
      <label>媒体应用包:</label>
      <nz-radio-group
        class="ml8"
        [(ngModel)]="defaultData.download_url_type"
        [nzSize]="'small'"
        (ngModelChange)="changeDownloadType('download')"
      >
        <ng-container>
          <label nz-radio-button [nzValue]="'media'">
            <span>选择应用</span>
          </label>
          <label nz-radio-button [nzValue]="'local'">
            <span>填写链接</span>
          </label>
        </ng-container>
      </nz-radio-group>
    </div>
    <ng-container *ngIf="defaultData.app_type === '010' || defaultData.app_type === '001'">
      <ng-container *ngIf="defaultData.download_url_type==='media' && defaultData.app_type !== '001'">
        <div class="lab-row mb20 pl20 w100p">
          <label><span class="redStart">*</span>选择App:</label>
          <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
            <input nz-input
                   [nzSize]="'small'"
                   type="text"
                   placeholder="从系统设置中获取"
                   [disabled]="true"
                   [(ngModel)]="defaultData.app_name"
            >
          </nz-input-group>
          <ng-template #nameBeforeTemplate>
            <button nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'">
              <span>选择</span>
              <i nz-icon nzType="down"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngFor="let option of downloadUrlList" (click)="urlClick(option,'download')">
                  <a>{{option.app_name}}</a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </ng-template>
        </div>
        <div class="lab-row mb20 pl20 w100p">
          <label><span class="redStart">*</span>选择渠道包:</label>
          <div>
            <nz-select class="w_full ml8"
                       [nzSize]="'small'"
                       [(ngModel)]="defaultData.package_key"
                       [nzPlaceHolder]="'请选择'"
                       nzShowSearch>
              <nz-option
                *ngFor="let option of appMap[defaultData.package_name]"
                [nzLabel]="option.channel_name"
                [nzValue]="option.package_key">
              </nz-option>
            </nz-select>
            <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.package_key.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ checkErrorTip.package_key.tip_text }}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="defaultData.download_url_type==='local' || defaultData.app_type === '001'">
        <div class="lab-row mb20 pl20 w100p">
          <label><span class="redStart">*</span>下载链接:</label>
          <nz-input-group class="w_full ml8" [nzSize]="'small'">
            <input nz-input
                   [nzSize]="'small'"
                   type="text"
                   placeholder="请输入下载链接"
                   (ngModelChange)="downloadUrlChanged($event);"
                   (blur)="downloadUrlBlur();"
                   [(ngModel)]="defaultData.download_url"
            >
          </nz-input-group>
        </div>
      </ng-container>
    </ng-container>

    <!--应用包名-->
    <div class="lab-row pl20 mb20"
           *ngIf="defaultData.app_type === '010' || defaultData.app_type === '001'">
        <label><span class="redStart">*</span>应用包名:</label>
        <div>
          <input nz-input
                 [disabled]="!isPackageNameEdit"
                 class="w_full ml8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="defaultData.package_name"
                 (ngModelChange)="checkBasicData('package_name')"
                 placeholder="请输入">
          <div class="error-tip mt5 ml8" *ngIf="isPackageNameEdit">
            <i nz-icon nzType="question-circle" nzTheme="outline" style="color: #f09200" class="mr5"></i>
            <span>如果因为apk包过大而导致下载超时后，包名可以手动填写</span>
          </div>
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.package_name.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.package_name.tip_text }}</span>
          </div>
        </div>
      </div>
    <!--App名-->
    <div class="lab-row pl20 mb20"
           *ngIf="defaultData.app_type === '010' || defaultData.app_type === '001'">
        <label><span class="redStart">*</span>App名称:</label>
        <div>
          <input nz-input
                 class="w_full ml8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="defaultData.app_name"
                 (ngModelChange)="checkBasicData('app_name')"
                 placeholder="请输入">
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.app_name.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.app_name.tip_text }}</span>
          </div>
        </div>
      </div>
    <ng-container *ngIf="defaultData.download_url_type!=='media'">
      <!-- 版本名称 :安卓-->
      <div class="lab-row pl20 mb20"
           *ngIf="defaultData.app_type === '010'">
        <label><span class="redStart">*</span>版本名称:</label>
        <div>
          <input nz-input
                 class="w_full ml8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="defaultData.version_name"
                 (ngModelChange)="checkBasicData('version_name')"
                 placeholder="请输入">
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.version_name.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.version_name.tip_text }}</span>
          </div>
        </div>
      </div>
      <!-- APP开发者 :安卓-->
      <div class="lab-row pl20 mb20"
           *ngIf="defaultData.app_type === '010'">
        <label><span class="redStart">*</span>APP开发者:</label>
        <div>
          <input nz-input
                 class="w_full ml8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="defaultData.developer"
                 (ngModelChange)="checkBasicData('developer')"
                 placeholder="请输入">
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.developer.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.developer.tip_text }}</span>
          </div>
        </div>
      </div>
      <!-- App权限链接 :安卓-->
      <div class="lab-row pl20 mb20"
           *ngIf="defaultData.app_type === '010'">
        <label><span class="redStart">*</span>App权限链接:</label>
        <div>
          <input nz-input
                 class="w_full ml8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="defaultData.permission"
                 (ngModelChange)="checkBasicData('permission')"
                 placeholder="请输入">
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.permission.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.permission.tip_text }}</span>
          </div>
        </div>
      </div>
      <!-- App隐私政策链接 :安卓-->
      <div class="lab-row pl20 mb20"
           *ngIf="defaultData.app_type === '010'">
        <label><span class="redStart">*</span>App隐私政策链接:</label>
        <div>
          <input nz-input
                 class="w_full ml8"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="defaultData.privacy"
                 (ngModelChange)="checkBasicData('privacy')"
                 placeholder="请输入">
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.privacy.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.privacy.tip_text }}</span>
          </div>
        </div>
      </div>
      <!-- App更新时间 :安卓-->
      <div class="lab-row pl20 mb20" *ngIf="defaultData.app_type === '010'">
        <label><span class="redStart">*</span>App更新时间:</label>
        <div>
          <nz-date-picker
            class="w_full ml8"
            [nzSize]="'small'"
            [(ngModel)]="defaultData.update_time"
            (ngModelChange)="checkBasicData('update_time')"></nz-date-picker>
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.update_time.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.update_time.tip_text }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- App头像 :安卓-->
    <div class="lab-row pl20 mb20" *ngIf="defaultData.app_type === '010'">
        <label>App头像:</label>

          <div>
            <ng-container *ngIf="defaultData.download_url_type!=='media'">
              <div class="mb10 ml8" *ngIf="defaultData.app_logo_image.app_logo_image_id&&defaultData.app_logo_image.imgUrl">
                <img style="max-width: 80px; max-height: 80px" [src]="defaultData.app_logo_image.imgUrl" />
              </div>
              <div>
                <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="uploadAppLogo()">
                  <span>上传头像</span>
                </button>
                <button class="ml8 mr8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="openGallery(defaultData.app_logo_image.app_logo,1)">
                  <i nz-icon nzType="select" nzTheme="outline"></i><span>选择头像</span>
                </button>
                <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.app_logo_image_id.is_show">
                  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                  <span style="color: red;">{{ checkErrorTip.app_logo_image_id.tip_text }}</span>
                </div>
              </div>
            </ng-container>
            <div class="mb10 ml8" *ngIf="defaultData.download_url_type==='media'&&defaultData.media_app_icon">
              <img style="max-width: 80px; max-height: 80px" [src]="defaultData.media_app_icon" />
            </div>
          </div>

      </div>
    <!--链接方式-->
    <ng-container *ngIf="defaultData.app_type === '010' || defaultData.app_type === '000'">
      <div class="lab-row pl20 mb20 w100p">
        <label>落地页链接方式:</label>
        <nz-radio-group
          class="ml8"
          [(ngModel)]="defaultData.download_type"
          [nzSize]="'small'"
          (ngModelChange)="changeDownloadType('external')"
        >
          <ng-container>
            <label nz-radio-button [nzValue]="'media'">
              <span>媒体链接</span>
            </label>
            <label nz-radio-button [nzValue]="'local'">
              <span>本地链接</span>
            </label>
          </ng-container>
        </nz-radio-group>
      </div>
    </ng-container>
    <div class="lab-row pl20 mb20 w100p" *ngIf="defaultData.app_type=== '001'">
      <label><span class="redStart">*</span>落地页链接:</label>
      <div>
        <input nz-input
               class="w_full ml8"
               [nzSize]="'small'"
               [disabled]="isExternalDisabled||isEdit"
               type="text"
               [(ngModel)]="defaultData.external_url"
               (ngModelChange)="checkBasicData('external_url')"
               (blur)="externalUrlBlur();"
               placeholder="请输入落地页链接">
        <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.external_url.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ checkErrorTip.external_url.tip_text }}</span>
        </div>
      </div>
    </div>
    <!--落地页链接-->
    <ng-container *ngIf="defaultData.app_type !== '001'">
      <div class="lab-row pl20 mb20 w100p">
        <label><span class="redStart">*</span>落地页链接:</label>
        <ng-container *ngIf="defaultData.download_type === 'media'">
          <div>
            <div class="mb10" *ngFor="let item of defaultData.group_target_url;let i=index">
              <ng-container *ngIf="item.site_id==='0'">
                <nz-input-group class="w_full ml8" [nzSize]="'small'" [nzAddOnBefore]="nameBeforeTemplate">
                  <input nz-input
                         [nzSize]="'small'"
                         type="text"
                         [disabled]="true"
                         placeholder="从系统设置中获取"
                         [(ngModel)]="item.target_url"
                  >
                </nz-input-group><i style="font-size: 14px;color: red" class="ml8" nz-icon nzType="delete" nzTheme="outline" (click)="deleteTargetUrl(i)"></i>
                <ng-template #nameBeforeTemplate>
                  <button class="input-group-btn" nz-button [nzSize]="'small'" nz-dropdown [nzDropdownMenu]="menu2" [nzTrigger]="'click'" [nzDisabled]="isExternalDisabled">
                    <span>选择</span>
                    <i nz-icon nzType="down"></i>
                  </button>
                  <nz-dropdown-menu #menu2="nzDropdownMenu">
                    <ul nz-menu style="min-width: 120px;width: auto">
                      <li nz-menu-item *ngFor="let option of mediaTargetList" (click)="urlClick(option,'media',item)">
                        <a>{{option.pub_site_name}}</a>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="item.site_id!=='0'">
                <div class="ml8 group-target-item">
                  <!--                  <img style="height: 120px" [src]="selectMediaTargetMap[item.site_id].snapshot" alt="">-->
                  <div class="ml10">
                    <p class="mb20" style="font-size: 14px">{{selectMediaTargetMap[item.site_id].pub_site_name}}</p>
                    <span style="color: #999999">类型：{{selectMediaTargetMap[item.site_id]. industry_desc}}</span>
                  </div>
                  <i class="ml8 delete-icon" nz-icon nzType="delete" nzTheme="outline" (click)="deleteTargetUrl(i)"></i>
                </div>
              </ng-container>
            </div>
            <button class="w_full ml8" nzSize="small" nz-button nzType="default" (click)="addTargetUrl()"><i class="ml8" nz-icon nzType="plus" nzTheme="outline"></i>添加落地页链接</button>
            <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.external_url.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ checkErrorTip.external_url.tip_text }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="defaultData.download_type === 'local'">
          <div>
            <div class="mb10" *ngFor="let item of defaultData.group_target_url;let i=index">
              <input nz-input
                     class="w_full ml8"
                     [nzSize]="'small'"
                     [disabled]="!item.use||isExternalDisabled||(isEdit&&defaultData.app_type=== '001')"
                     type="text"
                     [(ngModel)]="item.target_url"
                     (ngModelChange)="checkBasicData('external_url')"
                     (blur)="externalUrlBlur();"
                     placeholder="请输入落地页链接"><i style="font-size: 14px;color: red" class="ml8" nz-icon nzType="delete" nzTheme="outline" (click)="deleteTargetUrl(i)"></i>
            </div>
            <button [disabled]="isEdit&&defaultData.app_type=== '001'" nzSize="small" class="w_full ml8" nz-button nzType="default" (click)="addTargetUrl()"><i class="ml8" nz-icon nzType="plus" nzTheme="outline"></i>添加落地页链接</button>
            <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.external_url.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ checkErrorTip.external_url.tip_text }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <!--转化-->
    <ng-container *ngIf="defaultData.convert_channel_type === '1'">
      <div class="lab-row pl20 mb20">
        <label><span class="redStart">*</span>转化:</label>
        <div>
          <button class="ml10" nz-button [nzType]="'primary'" [nzSize]="'small'" [disabled]="!defaultData.download_url && !defaultData.external_url&&defaultData.group_target_url.length<1" (click)="changeConvert()">
            <span>绑定转化</span>
          </button>
          <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.convert_id.is_show">
            <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
            <span style="color: red;">{{ checkErrorTip.convert_id.tip_text }}</span>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!defaultData.isHiddenConvert&&defaultData.is_new==='0'">
        <div class="lab-row pl20 mb20">
          <label>转化跟踪方式:</label>
          <nz-radio-group
            class="ml8"
            [nzSize]="'small'"
            [(ngModel)]="defaultData.convert_info_list.track_mode"
            (ngModelChange)="changeConventType($event)"
          >
            <ng-container *ngFor="let item of defaultData.convert_info_list.convertData">
              <label nz-radio-button [nzValue]="item.key">
                <span>{{item.name}}</span>
              </label>
            </ng-container>
          </nz-radio-group>
        </div>
        <div class="lab-row pl20 mb20 w100p">
          <label>选择转化:</label>
          <div>
            <nz-select class="w200 ml8"
                       [nzPlaceHolder]="'请选择'"
                       [nzSize]="'small'"
                       [(ngModel)]="defaultData.convert_info_list.convert_id"
                       (ngModelChange)="getConversionId($event)"
            >
              <nz-option *ngFor="let item of defaultData.convert_info_list.convertList" [nzLabel]="item['convertName']"
                         [nzValue]="item['convert_id']">

              </nz-option>
            </nz-select>
            <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.convert_id.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ checkErrorTip.convert_id.tip_text }}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!defaultData.isHiddenConvert&&defaultData.is_new==='1'">
        <div class="lab-row pl20 mb20">
          <label>转化跟踪方式:</label>
          <nz-radio-group
            class="ml8"
            [nzSize]="'small'"
            [(ngModel)]="defaultData.convert_info_list.track_mode"
            (ngModelChange)="changeConventTypeNew($event)"
          >
            <ng-container *ngFor="let item of defaultData.convert_info_list.convertData">
              <label nz-radio-button [nzValue]="item.trackMethod">
                <span>{{item.trackMethodName}}</span>
              </label>
            </ng-container>
          </nz-radio-group>
        </div>
        <div class="lab-row pl20 mb20 w100p">
          <label>选择转化:</label>
          <div>
            <nz-select class="w200 ml8"
                       [nzPlaceHolder]="'请选择'"
                       [nzSize]="'small'"
                       [(ngModel)]="defaultData.convert_info_list.convert_id"
                       (ngModelChange)="getChainConvet()"
            >
              <nz-option *ngFor="let item of defaultData.convert_info_list.convertList" [nzLabel]="item['convertName']"
                         [nzValue]="item['convertId']">

              </nz-option>
            </nz-select>
            <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.convert_id.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ checkErrorTip.convert_id.tip_text }}</span>
            </div>
          </div>
        </div>
        <div class="lab-row pl20 mb20 w100p">
          <label>目标转化:</label>
          <div>
            <nz-select class="w200 ml8"
                       [nzPlaceHolder]="'请选择'"
                       [nzSize]="'small'"
                       [(ngModel)]="defaultData.target_convert_key"
            >
              <nz-option *ngFor="let item of defaultData.convert_info_list.chainConvertlist" [nzLabel]="item['target_convert_name']"
                         [nzValue]="item['target_convert_key']">

              </nz-option>
            </nz-select>
            <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.target_convert_key.is_show">
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
              <span style="color: red;">{{ checkErrorTip.target_convert_key.tip_text }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <!--追踪参数-->
    <div class="lab-row pl20 mb20">
        <label>追踪参数:</label>
        <div class="ml8">
          <nz-checkbox-group class="mr8" [(ngModel)]="structConfig.track_args['sub']"
                             (ngModelChange)="updateSingleChecked($event)">
          </nz-checkbox-group>
        </div>
      </div>
    <!--点击监测链接-->
    <div class="lab-row pl20 mb20">
      <label>点击监测链接:</label>
      <div>
        <input nz-input
               class="w_full ml8"
               [nzSize]="'small'"
               type="text"
               [(ngModel)]="defaultData.convert_info_list.feedback_url"
               placeholder="请输入点击监测链接">
<!--        <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.feedback_url.is_show">-->
<!--          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>-->
<!--          <span style="color: red;">{{ checkErrorTip.feedback_url.tip_text }}</span>-->
<!--        </div>-->
      </div>
    </div>
    <!--直达链接-->
    <div class="lab-row pl20 mb20">
      <label>直达链接:</label>
      <div>
        <input nz-input #curActionSchemeUrlTextArea
               class="w_full ml8"
               [nzSize]="'small'"
               type="text"
               [(ngModel)]="defaultData.scheme_url"
               (ngModelChange)="checkBasicData('scheme_url')"
               placeholder="请输入直达链接">
        <div class="item-body mt10 ml8">
          <div class="tag">
            <span class="word-name">占位符：</span>
            <ng-container *ngFor="let word of urlWordList;let i = index;">
              <span class="tag-word mb8 mr10" (click)="addTags(word,'scheme_url')"><i nz-icon nzType="plus" nzTheme="outline" class="mr5"></i>{{ word }}</span>
            </ng-container>
          </div>
        </div>
        <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.scheme_url.is_show">
          <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
          <span style="color: red;">{{ checkErrorTip.scheme_url.tip_text }}</span>
        </div>
      </div>
    </div>
    <!--点击监测链接-->
    <div class="lab-row pl20 mb20">
      <label>曝光监测链接（仅限白名单使用）:</label>
      <div>
        <input nz-input
               class="w_full ml8"
               [nzSize]="'small'"
               type="text"
               [(ngModel)]="defaultData.exposure_monitor_url"
               placeholder="请输入曝光监测链接">
      </div>
    </div>
  </div>
  <div class="channel-add-btn">
    <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCancel()">
      <span>取消</span>
    </button>
    <button class="ml8" nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="doSave()">
      <span>完成</span>
    </button>
  </div>
</div>
