@import "../../../../../styles/util/mixin";

$border-color:#e4e4e4;
$icon-bg-color:#fbfbfb;

div.report-list-nav{
  width: 100%;
  position: fixed;
  // top: 120px;
  z-index: 2;
}
.report-list-nav-col{
  height: 36px;
  padding-left: 30px;

  display: flex;
  justify-content: flex-start;
  align-items:center;
  background-color: #fff;
}
.report-list-nav-btn{

  display: flex;
  justify-content: flex-start;
  button{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

.report-empty-content{

  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  margin-top: 40px;
}
.report-page{
  background-color: white;
  height:34px;
  line-height: 34px;
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  margin-right: 20px;
  padding-right: 30px;
  overflow: hidden;
}

.down-ico-color{
  color: #56acef;
}


.module-icon{
  width: 30px;
  height: 20px;
  text-align: center;
  border:1px solid $border-color;
  background-color: $icon-bg-color;
}
.app-module-operations, .optimization-list-nav-btn{
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
  font-size:0;

  .manage-start{
    //border-color: #bfe4ac;
    background-color: #bfe4ac;
    color: #44941b;
    //border-radius: 2px;
  }
  .manage-pause{
    //border-color: #f5dfb1;
    background-color: #f5dfb1;
    color: #ab8330;
    //border-radius: 2px;

  }
  margin-right: 0px;


}
.app-module-operations-right{
  display: flex;
  display: -webkit-flex;
  flex-direction:row;
}
.module-time{
  display: flex;
  display: -webkit-flex;
  cursor: pointer;
}
.time-content{
  height: 20px;
  line-height:1.5;
  border:1px solid #e4e4e4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.time-icon{
  border-left:none;
}


.pop-report{
  background-color: white;
  padding: 16px 8px;

  .lab-row{
    //@include title-height(24);
    line-height: 24px;

    >span:first-child{
      width: 60px;
      text-align: right;
      display: block;
      float: left;
      line-height: 22px;
    }

  }


}

