.jzl_report_chart{
  position: relative;
  margin-bottom: 8px;
  border:1px solid #E4E4E4;
  border-right: 0;
  border-left:0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
}

.jzl_report_chart_body{
  padding-top:8px;
}

.jzl_report_chart_head{
  margin-bottom: 0;
  border-bottom: 1px solid #E4E4E4;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #EEF1F6;
  height: 30px;
  line-height: 30px;
}
.jzl_report_chart_head_actions{
  position: absolute;
  top: 0;
  right:5px;
  a{
    display: block;
    float: left;
    width: 20px;
    //padding: rem 0;
    margin: 0!important;
    color: #151b1e;
    text-align: center;
    background: transparent;
    border: 0;
  }
}
.jzl_report_chart_body_full{
  display: none;
  position: fixed;
  align-items:center;
  height: 100vh;
  background-color: white;
  top:30px;
  z-index: 9999999;
  width: 100%;

  .demo-report_chart{
    height: 80%;
    width: 100%;
  }

}
