.add-document-container {

  .document-alert-warning{
    margin: 10px 20px 20px;
    padding: 8px 10px;
    background-color: #fff9e6;
    border: 1px solid #ffd77a;
    border-radius: 2px;

    .alert-warning-icon {
      color: #F90;
    }
  }

  .form-content {
    .lab-row{
      display: flex;
      margin-bottom: 2px;
    }

    .lab-row > label:first-child{
      width: 80px;
      text-align: right;
      display: inline-block;
    }

    .document-list {
      .document-list-item {
        display: flex;
        align-items: center;

        &>i {
          color: #f04134;
          cursor: pointer;
        }

        .w_full {
          width: 550px;
        }
      }
    }
  }

  .tag-content {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 88px;
  }

  .form-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

