<div class="data-view-drawer">
  <div class="data-view-content">
    <div class="app-module-condition operation-box pt8 pb8" [ngClass]="{'view-chart-show':viewChartShow}">
      <div style="display: flex">
        <a class="manage-add mr8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="changeCondition()">
          <i nz-icon nzType="filter" nzTheme="outline"></i><span>高级筛选</span>
        </a>
        <div class="inline-block ml8 fs12">
          <app-table-query-show [summary_type]="source_summary" [filterConditions]="allFilterOption"
                                [dataRange]="viewTableData['data_range']" [conditions]="viewTableData['condition']"
                                (changed)="reloadData()"></app-table-query-show>
        </div>
      </div>

      <div class="app-module-operations mt8">
        <div class="app-module-operations-left">
          <button class="manage-add mr8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="changeField()">
            <i nz-icon nzType="bars" nzTheme="outline"></i><span>修改列</span>
          </button>
        </div>

        <div class="app-module-operations-right fs12">
          <nz-select style="width: 116px" class="mr8"
                     [(ngModel)]="time_grain_filter"
                     (ngModelChange)="timeRangeChange($event)"
                     [nzSize]="'small'">
            <nz-option [nzValue]="'summary'" [nzLabel]="'汇总:合计'"></nz-option>
            <nz-option [nzValue]="'day'" [nzLabel]="'汇总:分日'"></nz-option>
            <nz-option [nzValue]="'week'" [nzLabel]="'汇总:分周'"></nz-option>
            <nz-option [nzValue]="'weekSplit'" [nzLabel]="'汇总:分星期'"></nz-option>
            <nz-option [nzValue]="'month'" [nzLabel]="'汇总:分月'"></nz-option>
          </nz-select>
          <div class="inline-block">
            <button class="manage-add" nz-popconfirm [nzPopconfirmTitle]="createReportTpl" (nzOnCancel)="cancelCreateReport()" (nzOnConfirm)="handCreateReport()" [(nzPopconfirmVisible)]="showCreateReport"  [nzPopconfirmPlacement]="'bottomRight'" [nzPopconfirmOverlayClassName]="'pop-report-wrap'"  nz-button [nzType]="'default'" [nzSize]="'small'">
              <span>生成报表</span>
            </button>
            <ng-template #createReportTpl>
              <div class="pop-report">
                <div class="lab-row">
                  <span>隐藏说明：</span>
                  <nz-radio-group style="width: 160px;" [(ngModel)]="viewTableData.hidden_condition" [nzSize]="'small'">
                    <label class="" nz-radio [nzValue]="true">
                      隐藏<i  nz-popover [nzPopoverContent]="'不插入报表生成条件'" nzPopoverPlacement="left" nz-icon nzType="question-circle" nzTheme="outline"></i>
                    </label>
                    <label nz-radio [nzValue]="false">
                      显示<i nz-popover [nzPopoverContent]="'在前五行将插入报表生成条件'" nzPopoverPlacement="left" nz-icon nzType="question-circle" nzTheme="outline"></i>
                    </label>
                  </nz-radio-group>
                </div>
                <div class="lab-row">
                  <span>名称：</span>
                  <input nz-input type="text" placeholder="报表1" [nzSize]="'small'" style="width: 160px;"
                         [(ngModel)]="viewReportSetting.report_name">
                </div>
                <div class="lab-row">
                  <span>格式：</span>
                  <nz-select class="w160" [nzSize]="'small'" [(ngModel)]="viewReportSetting.report_format">
                    <nz-option [nzLabel]="'Excel'" [nzValue]="'excel'"></nz-option>
                    <nz-option [nzLabel]="'PDF'" [nzValue]="'pdf'"></nz-option>
                  </nz-select>
                </div>

                <div class="lab-row">
                  <span>汇总粒度：</span>
                  <nz-select class="w160" [nzSize]="'small'" [(ngModel)]="time_grain">
                    <nz-option [nzLabel]="'合计'" [nzValue]="'summary'"></nz-option>
                    <nz-option [nzLabel]="'分日'" [nzValue]="'day'"></nz-option>
                    <nz-option *ngIf="source_summary!=='search_keyword' && source_summary!=='dsa_pattern_day'&& source_summary !='ocpc_360'&& source_summary !='ocpc_baidu'" [nzLabel]="'分时'" [nzValue]="'hour'"></nz-option>
                    <nz-option *ngIf="source_summary!=='search_keyword' && source_summary!=='dsa_pattern_day'&& source_summary !='ocpc_360'&& source_summary !='ocpc_baidu'" [nzLabel]="'分时分日'" [nzValue]="'hour_day'"></nz-option>
                    <nz-option *ngIf="source_summary!=='search_keyword' && source_summary!=='dsa_pattern_day'&& source_summary !='ocpc_360'&& source_summary !='ocpc_baidu'" [nzValue]="'hour_weekSplit'" [nzLabel]="'汇总:分时分星期'"></nz-option>
                    <nz-option *ngIf="source_summary==='campaign' || source_summary==='account' || source_summary==='publisher' "  [nzLabel]="'地域'" [nzValue]="'region'"></nz-option>
                    <nz-option *ngIf="source_summary==='campaign' || source_summary==='account' || source_summary==='publisher' " [nzLabel]="'地域分日'" [nzValue]="'region_day'"></nz-option>
                    <nz-option [nzLabel]="'分周'" [nzValue]="'week'"></nz-option>
                    <nz-option [nzLabel]="'分星期'" [nzValue]="'weekSplit'"></nz-option>
                    <nz-option [nzLabel]="'分月'" [nzValue]="'month'"></nz-option>
                  </nz-select>
                </div>
                <div class="lab-row">
                  <span>频率：</span>
                  <nz-select class="w160" [nzSize]="'small'" [(ngModel)]="viewReportSetting.report_freq">
                    <nz-option [nzLabel]="'每天'" [nzValue]="'day'"></nz-option>
                    <nz-option [nzLabel]="'每周'" [nzValue]="'week'"></nz-option>
                    <nz-option [nzLabel]="'每月'" [nzValue]="'month'"></nz-option>
                    <nz-option [nzLabel]="'立即执行'" [nzValue]="'now'"></nz-option>
                  </nz-select>
                </div>
                <div class="lab-row">
                  <span>接收邮箱：</span>
                  <span>（一行一个）</span>
                </div>
                <div class="mt5">
                  <textarea  nz-input type ="'textarea'" rows="4" [(ngModel)]="viewReportSetting.email_list" style="width: 220px"></textarea>
                </div>

              </div>
            </ng-template>
          </div>
          <div class="module-time inline-block ml8" (click)="changeDate()">
            <div class="time-content pl8 pr8">
              <span>{{timeDesc}}</span>
            </div>
            <div class="module-icon time-icon">
              <i nz-icon nzType="calendar" nzTheme="outline"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="view-table" [ngStyle]="{'height':tableHeight+'px'}">
      <ngx-datatable
        #viewTable
        class="jzl"
        [rows]="rows"
        [summaryRow]="true"
        [summaryHeight]="rowHeight"
        [summaryPosition]="'top'"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="44"
        [footerHeight]="40"
        [rowHeight]="rowHeight"
        [count]="pageInfo.currentPageCount"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [externalPaging]="true"
        [externalSorting]="true"
        [virtualization]="true"
        [sorts]="defaultSortItems"
        [sortType]="'single'"
        (sort)="sortView($event)"
        (resize)="refreshTableSize()"
        [reorderable]="reorderable"
        [messages]="dataMessages"
        [selected]="selected"
        [selectionType]="'checkbox'"
        (select)='onSelect($event)'>

        <ng-template #chkHeader ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                     let-selectFn="selectFn">
          <label
            class="datatable-checkbox" [ngClass]="{selectedCurrent:selectedType=='current' && selected.length>0}">
            <a nz-dropdown [nzDropdownMenu]="menu">
              <input type="checkbox" [checked]="allRowsSelected"
                     (change)="selectedChangeCheckBox(!allRowsSelected,selectFn)"/>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="selectedChange('current',allRowsSelected,selectFn)"
                    [nzSelected]="selectedType == 'current'">
                  <a>选择当前页</a>
                </li>
                <li nz-menu-item (click)="selectedChange('all',allRowsSelected,selectFn)"
                    [nzSelected]="selectedType == 'all'">
                  <a>选择全部</a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </label>
        </ng-template>
        <ng-template #dataAnalysisHeader ngx-datatable-header-template let-value="value" let-column="column"
                     let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
          <span class="datatable-add-column">{{column['name']}}</span>
        </ng-template>
        <ng-template #summaryCell let-row="row" let-value="value" let-column="column">
          <div class="summary-cell" *ngIf="summaryData[column.prop]">
            {{ summaryData[column.prop] }}
          </div>
        </ng-template>
        <ng-template #rateSummaryCell let-row="row" let-value="value" let-column="column">
          <div class="summary-cell" *ngIf="summaryData[column.prop]">
            <ng-container *ngIf="summaryData[column.prop] == '10000000.00'">
              +∞
            </ng-container>
            <ng-container *ngIf="summaryData[column.prop] == '-10000000.00'">
              -∞
            </ng-container>
            <ng-container
              *ngIf="summaryData[column.prop] != '-10000000.00' && summaryData[column.prop] != '10000000.00'">
              {{ summaryData[column.prop] + '%'}}
            </ng-container>
          </div>
        </ng-template>
        <ng-template #rateSummaryCellColor let-row="row" let-value="value" let-column="column">
          <div class="summary-cell" *ngIf="summaryData[column.prop]">
            <ng-container *ngIf="summaryData[column.prop] == '10000000.00'">
              <span class="up-color">+∞</span>
            </ng-container>
            <ng-container *ngIf="summaryData[column.prop] == '-10000000.00'">
              <span class="down-color">-∞</span>
            </ng-container>
            <ng-container
              *ngIf="summaryData[column.prop] != '-10000000.00' && summaryData[column.prop] != '10000000.00'">
              <span
                [ngClass]="{'up-color':summaryData[column.prop]>0,'down-color':summaryData[column.prop]<0}">{{ summaryData[column.prop] + '%'}}</span>
            </ng-container>
          </div>
        </ng-template>
        <ng-template #summaryCellColor let-row="row" let-value="value" let-column="column">
          <div class="summary-cell" *ngIf="summaryData[column.prop]">
            <span
              [ngClass]="{'up-color':summaryData[column.prop]>0,'down-color':summaryData[column.prop]<0}">{{ summaryData[column.prop] }}</span>
          </div>
        </ng-template>
        <ng-template #chkCell ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                     let-onCheckboxChangeFn="onCheckboxChangeFn">
          <label
            class="datatable-checkbox">
            <input type="checkbox" [checked]="isSelected" (change)="singleSelectedChange(onCheckboxChangeFn,$event)"/>
          </label>
        </ng-template>
        <ng-template #filterHeader ngx-datatable-header-template let-column="column" let-value="value"
                     let-sortFn="sortFn">
      <span class="datatable-header-cell-wrapper" (click)="sortFn()">
          <span class="datatable-header-cell-label"> {{column.name}}</span>
          <i *ngIf="column['remarks']" nz-icon nzType="question-circle" nzTheme="outline" nz-popover
             [nzPopoverContent]="column['remarks']" nzPopoverPlacement="right" style="color: #f09200"></i>
      </span>
          <app-filter [filterType]="column.data['filterType']" [filterKey]="column.data['filterKey']"
                      [(filterResult)]="column.data['filterResult']" [extraOption]="column.data['extraOption']"
                      [filterOption]="column.data['filterOption']" (submit)="reloadFirstPage()"></app-filter>
        </ng-template>
        <ng-template #priceCell let-row="row" ngx-datatable-cell-template>
          <ng-container *ngIf="source_summary!=='adgroup'">
            <span nz-popover [(nzPopoverVisible)]="row['showEditPrice']" *ngIf="row.price" nzPopoverTrigger="click"
                  [nzPopoverContent]="editPriceTemplate" [nzPopoverPlacement]="'bottom'"><a class="editPriceBtn"
                                                                                            [ngClass]="{'visible': row['showPriceBtn']}"
                                                                                            (click)="editPrice(row,'keyword')"><i
              class="mr2" nz-icon nzType="form" nzTheme="outline"></i></a></span>{{row.price}}
          </ng-container>
          <ng-container *ngIf="source_summary=='adgroup'">
            <span nz-popover [(nzPopoverVisible)]="row['showEditPrice']" *ngIf="row.max_price" nzPopoverTrigger="click"
                  [nzPopoverContent]="editPriceTemplate" [nzPopoverPlacement]="'bottom'"><a class="editPriceBtn"
                                                                                            [ngClass]="{'visible': row['showPriceBtn']}"
                                                                                            (click)="editPrice(row,'adgroup')"><i
              class="mr2" nz-icon nzType="form" nzTheme="outline"></i></a></span>{{row.max_price}}
          </ng-container>
          <ng-template #editPriceTemplate class="addSearchKeyword">
            <div style="width:325px; padding: 10px;" class="mb8">
              <div class="mt10" style=" position: relative">
                <span *ngIf="source_summary != 'adgorup'">关键词出价:</span>
                <span *ngIf="source_summary == 'adgorup'">单元出价:</span>
                <div style="position: absolute;left: 64px;top: 0px;width: 236px;">
                  <nz-input-number class="ml5" [(ngModel)]="editPriceParam.keywordPrice"
                                   (ngModelChange)="keywordPriceChange($event)" [nzStep]="0.1" [nzSize]="'small'">
                  </nz-input-number>
                  <span class="ml5">元</span>
                  <span [ngClass]="{'up-color': editPriceParam.iswraing}" class="ml5"
                        style="color: #afabab">范围: {{editPriceParam.priceRanges[editPriceParam.publisherId]['min']}}
                    ~{{editPriceParam.priceRanges[editPriceParam.publisherId]['max']}}</span>
                </div>
              </div>
            </div>
            <div class="mb10" style="text-align: right">
              <button [nzSize]="'small'"
                      class="mr5"
                      nz-button (click)='clickEditPriceCancel(row)'>取消
              </button>
              <button nzType="primary"
                      [nzSize]="'small'"
                      [nzLoading]="row.saveing"
                      [disabled]="editPriceParam.iswraing"
                      nz-button (click)='clickEditPriceOk(row,this.source_summary)'>确定
              </button>
            </div>
          </ng-template>
        </ng-template>
        <ng-template #rateCell ngx-datatable-cell-template let-value="value">
          <ng-container *ngIf="value == '10000000.00'">
            +∞
          </ng-container>
          <ng-container *ngIf="value == '-10000000.00'">
            -∞
          </ng-container>
          <ng-container *ngIf="value != '-10000000.00' && value != '10000000.00' && value!= null && value!=''">
            {{ value + '%'}}
          </ng-container>
        </ng-template>
        <ng-template #progressCell ngx-datatable-cell-template let-value="value" let-column="column" let-row="row">
          <div style="width:120px" *ngIf="summaryData[column.originProp]">
            <nz-progress [nzPercent]="row[column.originProp]/summaryData[column.originProp]*100 | number" nzSize="small"
                         [nzShowInfo]="true" [nzStatus]="'normual'"></nz-progress>
          </div>
        </ng-template>
        <ng-template #rateCellColor ngx-datatable-cell-template let-value="value">
          <ng-container *ngIf="value == '10000000.00'">
            <span class="up-color">+∞</span>
          </ng-container>
          <ng-container *ngIf="value == '-10000000.00'">
            <span class="down-color">-∞</span>
          </ng-container>
          <ng-container *ngIf="value != '-10000000.00' && value != '10000000.00'">
            <span [ngClass]="{'up-color':value>0,'down-color':value<0}">{{ value + '%'}}</span>
          </ng-container>
        </ng-template>
        <ng-template #cellColor ngx-datatable-cell-template let-value="value">
          <span [ngClass]="{'up-color':value>0,'down-color':value<0}">{{ value }}</span>
        </ng-template>
        <ng-template #starTpl ngx-datatable-cell-template let-value="value">
      <span class="star-conatainer">
        <span class="star-active" [ngStyle]="{'width': value/10*70+'px'}"></span>
      </span>
        </ng-template>
        <ng-template #pauseCell let-row="row" ngx-datatable-cell-template>
          <span>{{row.pause_name}}</span>
          <a *ngIf="row.pause_name === '暂停'" title="开启" class="editPriceBtn manage-start ml2"
             [ngClass]="{'visible': row['showPriceBtn']}" (click)="setStatus(row, false, '有效')">
            <i nz-icon nzType="caret-right" nzTheme="outline" style="background: #bfe4ac;color: #44941b;"></i>
          </a>
          <a *ngIf="row.pause_name !== '暂停'" title="暂停" class="editPriceBtn manage-start ml2"
             [ngClass]="{'visible': row['showPriceBtn']}" (click)="setStatus(row, true, '暂停推广')">
            <i nz-icon nzType="pause" nzTheme="outline" style="background: #f5dfb1;color: #ab8330;"></i>
          </a>

        </ng-template>
        <ng-template #statusCell let-row="row" ngx-datatable-cell-template>
          <span>{{row.status}}</span>
          <a *ngIf="row.status === '暂停推广'" title="开启" class="editPriceBtn manage-start ml2"
             [ngClass]="{'visible': row['showPriceBtn']}" (click)="setStatus(row, false, '有效')">
            <i nz-icon nzType="caret-right" nzTheme="outline" style="background: #bfe4ac;color: #44941b;"></i>
          </a>
          <a *ngIf="row.status !== '暂停推广'" title="暂停" class="editPriceBtn manage-start ml2"
             [ngClass]="{'visible': row['showPriceBtn']}" (click)="setStatus(row, true, '暂停推广')">
            <i nz-icon nzType="pause" nzTheme="outline" style="background: #f5dfb1;color: #ab8330;"></i>
          </a>

        </ng-template>
        <!--推广时段-->
        <ng-template #scheduleCell ngx-datatable-cell-template let-row="row" let-value="value">
          <a nz-popover [(nzPopoverVisible)]="row['showSchedule']" nzPopoverTrigger="click"
             [nzPopoverContent]="addKordTemplate">查看</a>

          <ng-template #addKordTemplate>
            <div style="width: 610px" class="mb8">
              <app-show-schedule [parentTimeDate]="row['schedule']"></app-show-schedule>
            </div>
          </ng-template>
        </ng-template>
        <ng-template #budgetCell let-row="row" ngx-datatable-cell-template>
          <span nz-popover [(nzPopoverVisible)]="row['showBudget']" nzPopoverTrigger="click"
                [nzPopoverContent]="editBudgetTemplate" [nzPopoverPlacement]="'bottom'"><a class="editPriceBtn"
                                                                                           [ngClass]="{'visible': row['showBudgetBtn']}"
                                                                                           (click)="editBudget(row)"><i
            class="mr2" nz-icon nzType="form" nzTheme="outline"></i></a></span>{{row.budget}}
          <ng-template #editBudgetTemplate class="addSearchKeyword">
            <div style="width:390px; padding: 10px 8px;" class="mb8">
              <div class="mt10" style=" position: relative">
                <div style="width: 60px;display: inline-block;float: left;">
                  <span *ngIf="source_summary === 'account'">账户预算:</span>
                  <span *ngIf="source_summary === 'campaign'">计划预算:</span>
                </div>
                <div>
                  <nz-radio-group [(ngModel)]="editBudgetParam.budgetRadio" (ngModelChange)="budgetRadioChange($event)">
                    <div style="display: inline-block;">
                      <div class="h20 pull-left">
                        <label nz-radio
                               [nzValue]="1">
                          <span>每日</span>
                        </label>
                      </div>
                      <nz-input-number [(ngModel)]="editBudgetParam.budget"
                                       (ngModelChange)="budgetChange($event)"
                                       [nzSize]="'small'">
                      </nz-input-number>
                      <span class="ml5">元</span>
                      <ng-container>
                        <span [ngClass]="{'up-color': editBudgetParam.iswraing}" class="ml5" style="color: #afabab">范围:>={{editBudgetParam.budgetRanges[editBudgetParam.publisherId]['min']}}
                          <ng-container
                            *ngIf="source_summary === 'account'">{{editBudgetParam.budgetRanges[editBudgetParam.publisherId]['extraInfo']}}</ng-container></span>
                      </ng-container>
                    </div>
                    <div class="mt5">
                      <label
                        nz-radio
                        [nzValue]="2">
                        <span>不限定</span>
                      </label>
                    </div>
                  </nz-radio-group>
                </div>


              </div>
            </div>
            <div class="mb10" style="text-align: right">
              <button [nzSize]="'small'"
                      class="mr5"
                      nz-button (click)='clickEditBudgetCancel(row)'>取消
              </button>
              <button nzType="primary"
                      [nzSize]="'small'"
                      [nzLoading]="row.saveing"
                      [disabled]="editPriceParam.iswraing"
                      nz-button (click)='clickEditBudgetOk(row)'>确定
              </button>
            </div>
          </ng-template>

        </ng-template>
        <ng-template #wapUrlCell let-row="row" ngx-datatable-cell-template>
          <a *ngIf="row.wap_destination_url" title="复制url" class="editPriceBtn mr2"
             [ngClass]="{'visible': row['showUrlBtn']}" (click)="copyUrl(row.wap_destination_url)"><i nz-icon
                                                                                                      nzType="copy"
                                                                                                      nzTheme="outline"></i></a>{{row.wap_destination_url}}
        </ng-template>
        <ng-template #pcUrlCell let-row="row" ngx-datatable-cell-template>
          <a *ngIf="row.pc_destination_url" title="复制url" class="editPriceBtn mr2"
             [ngClass]="{'visible': row['showUrlBtn']}" (click)="copyUrl(row.pc_destination_url)"><i nz-icon
                                                                                                     nzType="copy"
                                                                                                     nzTheme="outline"></i></a>{{row.pc_destination_url}}
        </ng-template>
        <ng-template #deepLinkUrlCell let-row="row" ngx-datatable-cell-template>
          <a *ngIf="row.deeplink_url" title="复制url" class="editPriceBtn mr2" [ngClass]="{'visible': row['showUrlBtn']}"
             (click)="copyUrl(row.deeplink_url)"><i nz-icon nzType="copy" nzTheme="outline"></i></a>{{row.deeplink_url}}
        </ng-template>
        <ng-template #priceRatioPCCell let-row="row" ngx-datatable-cell-template>
          <!--{{row['publisher_id']}}-->
          <!--{{row['bid_prefer']}}-->
          <ng-container *ngIf="row['publisher_id']*1 !== 1 || row.bid_prefer*1 === 1">-</ng-container>
          <ng-container *ngIf="row['publisher_id']*1 === 1 && row.bid_prefer*1 === 2">
        <span nz-popover
              [(nzPopoverVisible)]="row['showPriceRatioPC']"
              nzPopoverTrigger="click"
              [nzPopoverContent]="priceRatioPcTemplate"
              [nzPopoverPlacement]="'bottom'">
        <a class="editPriceBtn" [ngClass]="{'visible': row['showPriceRatioPCBtn']}"
           (click)="editPriceRatio(row, 'priceRatioPC')">
          <i class="mr2" nz-icon nzType="form" nzTheme="outline"></i>
        </a>
      </span>{{row.pc_price_ratio}}
          </ng-container>

          <ng-template #priceRatioPcTemplate class="addSearchKeyword">
            <div style="width:325px; padding: 10px;" class="mb8">
              <div class="mt10" style=" position: relative">
                <span>出价比例:</span>
                <div style="position: absolute;left: 64px;top: 0px;width: 256px;">
                  <nz-input-number class="ml5"
                                   [(ngModel)]="editPriceRatioParam.priceRatio"
                                   (ngModelChange)="priceRatioChange($event, 'priceRatioPC')"
                                   [nzStep]="0.1"
                                   [nzSize]="'small'">
                  </nz-input-number>
                  <p style="width: 153px;color: #afabab; float: right;"
                     [ngClass]="{'up-color': editPriceRatioParam.iswraing}" class="ml5">
                    范围: {{editPriceRatioParam.priceRatioRanges['min']}}~{{editPriceRatioParam.priceRatioRanges['max']}}
                    <ng-container
                      *ngIf="editPriceRatioParam.priceRatioRanges['extraInfo']">{{editPriceRatioParam.priceRatioRanges['extraInfo']}}</ng-container>
                  </p>
                </div>
              </div>
            </div>
            <div class="mb10" style="text-align: right">
              <button [nzSize]="'small'"
                      class="mr5"
                      nz-button (click)="clickPriceRatioCancel(row, 'priceRatioPC')">取消
              </button>
              <button nzType="primary"
                      [nzSize]="'small'"
                      [nzLoading]="row.saveing"
                      [disabled]="editPriceRatioParam.iswraing"
                      nz-button (click)="clickPriceRatioOk(row, 'priceRatioPC')">确定
              </button>
            </div>
          </ng-template>

        </ng-template>
        <ng-template #priceRatioWapCell let-row="row" ngx-datatable-cell-template>
          <ng-container *ngIf="row['publisher_id']*1 === 4 || row.bid_prefer*1 === 2"><i>-</i></ng-container>
          <ng-container *ngIf="row['publisher_id']*1 === 2 || row['publisher_id']*1 === 3 || row.bid_prefer*1 === 1">
        <span nz-popover
              [(nzPopoverVisible)]="row['showPriceRatioWap']"
              nzPopoverTrigger="click"
              [nzPopoverContent]="priceRatioWapTemplate"
              [nzPopoverPlacement]="'bottom'">
        <a class="editPriceBtn" [ngClass]="{'visible': row['showPriceRatioPCBtn']}"
           (click)="editPriceRatio(row, 'priceRatioWap')">
          <i class="mr2" nz-icon nzType="form" nzTheme="outline"></i>
        </a>
      </span>
            <span>{{row.wap_price_ratio}}</span>
          </ng-container>
          <ng-template #priceRatioWapTemplate class="addSearchKeyword">
            <div style="width:325px; padding: 10px;" class="mb8">
              <div class="mt10" style=" position: relative">
                <span>出价比例:</span>
                <div style="position: absolute;left: 64px;top: 0px;width: 256px;">
                  <nz-input-number class="ml5"
                                   [(ngModel)]="editPriceRatioParam.priceRatio"
                                   (ngModelChange)="priceRatioChange($event, 'priceRatioWap')"
                                   [nzStep]="0.1"
                                   [nzSize]="'small'">
                  </nz-input-number>
                  <p style="width: 153px;color: #afabab; float: right;"
                     [ngClass]="{'up-color': editPriceRatioParam.iswraing}" class="ml5">
                    范围: {{editPriceRatioParam.priceRatioWapRanges[editPriceRatioParam.publisherId]['min']}}
                    ~{{editPriceRatioParam.priceRatioWapRanges[editPriceRatioParam.publisherId]['max']}}
                    <ng-container
                      *ngIf="editPriceRatioParam.priceRatioWapRanges[editPriceRatioParam.publisherId]['extraInfo']">{{editPriceRatioParam.priceRatioWapRanges[editPriceRatioParam.publisherId]['extraInfo']}}</ng-container>
                  </p>
                </div>
              </div>
            </div>
            <div class="mb10" style="text-align: right">
              <button [nzSize]="'small'"
                      class="mr5"
                      nz-button (click)="clickPriceRatioCancel(row, 'priceRatioWap')">取消
              </button>
              <button nzType="primary"
                      [nzSize]="'small'"
                      [nzLoading]="row.saveing"
                      [disabled]="editPriceRatioParam.iswraing"
                      nz-button (click)="clickPriceRatioOk(row, 'priceRatioWap')">确定
              </button>
            </div>
          </ng-template>
        </ng-template>
        <ng-template #viewTitleCell let-row="row" ngx-datatable-cell-template>
          <a (click)="clickViewTitle(row)">
            <span *ngIf="source_summary === 'publisher'">{{row['publisher']}}</span>
            <span *ngIf="source_summary === 'account'">{{row['pub_account_name']}}</span>
            <span *ngIf="source_summary === 'campaign'">{{row['pub_campaign_name']}}</span>
            <span *ngIf="source_summary === 'adgroup'">{{row['pub_adgroup_name']}}</span>
          </a>
        </ng-template>
        <ng-template #creativeCell let-row="row" ngx-datatable-cell-template>
          <div class="create-title">{{row['pub_creative_title']}}</div>
          <div class="create-desc">{{row['pub_creative_description1']}}</div>
          <div class="create-desc">{{row['pub_creative_description2']}}</div>
          <div
            class="create-title-url">{{row['pc_display_url'] != '' ? row['pc_display_url'] : row['wap_display_url']}}</div>
        </ng-template>
        <ng-template #creativeCellTemp let-row="row" ngx-datatable-cell-template>
          <div class="create-title">{{row['pub_creative_title_temp']}}</div>
          <div class="create-desc">{{row['pub_creative_description1_temp']}}</div>
          <div class="create-desc">{{row['pub_creative_description2_temp']}}</div>
          <div
            class="create-title-url">{{row['pc_display_url_temp'] != '' ? row['pc_display_url_temp'] : row['wap_display_url_temp']}}</div>
        </ng-template>
        <!--</ngx-datatable-column>-->
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template>
            <div class="page-count" *ngIf="pageInfo.loadingStatus == 'success'">
              共{{pageInfo.allCount}}条
            </div>
            <div class="page-count" *ngIf="pageInfo.loadingStatus == 'pending'">
              <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
            </div>
            <div class="page-count" *ngIf="pageInfo.loadingStatus == 'error'">
              总条数加载失败
            </div>
            <div class="page-size-select">
              <select [(ngModel)]="pageInfo.pageSize" (ngModelChange)="changePageSize($event)">
                <option *ngFor="let sizeList of pageInfo.pageSizeList" [value]="sizeList.key">{{sizeList.name}}</option>
              </select>
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="pageInfo.currentPage"
              [size]="pageInfo.pageSize"
              [count]="pageInfo.allCount"
              [hidden]="!((pageInfo.allCount / pageInfo.pageSize) > 1)"
              (change)="changePage($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
