<div>
<!--  <a nz-popover [nzPopoverPlacement]="'left'" [(nzPopoverVisible)]="row['showAddWord']" nzPopoverTrigger="click" [nzPopoverContent]="addKordTemplate" (click)="addWord(row,$event)">添词</a>-->
<!--  <span class="ml8 mr8">|</span>-->
  <a nz-popover [nzPopoverPlacement]="'left'" [(nzPopoverVisible)]="row['showAddNagative']" nzPopoverTrigger="click" [nzPopoverContent]="addNagatibeTemplate"(click)="addNegative(row,$event)">添否</a>

  <ng-template #addKordTemplate class="addSearchKeyword">
    <div style="width:300px; padding: 10px;" class="mb8">
      <p class="mb14">将 "{{row.pub_query}}" 添加为关键词</p>
      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>媒体</div>
        <div class="pull-left w150">
          <nz-select #nzSelectOper class="w100p"  [nzSize]="'small'" [(ngModel)]="addWordData.publisher_id" (ngModelChange)="changePublisher(addWordData)" [nzPlaceHolder]="'请选择广告主'">
            <nz-option
              *ngFor="let publisher of accountPublishers"
              [nzLabel]="publisher.publisher_name"
              [nzValue]="publisher.publisher_id * 1">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>账户</div>
        <div class="pull-left w150">
          <nz-select class="w100p"  [nzSize]="'small'" [(ngModel)]="addWordData.pub_account_id" (ngModelChange)="changeAccount(addWordData)" [nzPlaceHolder]="'请选择账户'">
            <nz-option
              *ngFor="let accountItem of accountList"
              [nzLabel]="accountItem.pub_account_name"
              [nzValue]="accountItem.pub_account_id">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>

      <div class="mt10 add-search-keyword-item">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>{{menuService.currentPublisherId==17?'推广组':'计划'}}</div>
        <div class="pull-left w150">
          <nz-select class="w100p"
                     [nzPlaceHolder]="'搜索'+(menuService.currentPublisherId==17?'推广组':'计划')"
                     [(ngModel)]="addWordData.pub_campaign_id"
                     [nzSize]="'small'"
                     (ngModelChange)="changeCampaign(addWordData)"
                     [nzShowSearch]="true">
            <nz-option
              *ngFor="let campItem of compainList"
              [nzLabel]="campItem.pub_campaign_name"
              [nzValue]="campItem.pub_campaign_id">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>

      <div class="mt10 add-search-keyword-item">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>{{menuService.currentPublisherId==17?'计划':'单元'}}</div>
        <div class="pull-left w150">
          <nz-select class="w100p"
                     [nzPlaceHolder]="'搜索'+(menuService.currentPublisherId==17?'计划':'单元')"
                     [(ngModel)]="addWordData.pub_adgroup_id"
                     [nzSize]="'small'"
                     [nzShowSearch]="true">
            <nz-option
              *ngFor="let adgroupItem of unitList"
              [nzLabel]="adgroupItem.pub_adgroup_name"
              [nzValue]="adgroupItem.pub_adgroup_id">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>



      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>匹配模式</div>
        <div class="pull-left w150">
          <nz-select class="w100p"  [nzSize]="'small'" [(ngModel)]="addWordData.match_type" [nzPlaceHolder]="'请选择匹配模式'">
            <nz-option
              *ngFor="let typeItem of matchTypeData"
              [nzLabel]="typeItem.name"
              [nzValue]="typeItem.value">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right">出价</div>
        <div class="pull-left w150">
          <input nz-input
                 class="w100p"
                 [nzSize]="'small'"
                 type="text"
                 [placeholder]="'如不填则采用'+(menuService.currentPublisherId==17?'计划':'单元')+'出价'"
                 [(ngModel)]="addWordData.price">
        </div>
        <span class="ml8">元</span>
        <div class="clear"></div>
      </div>
    </div>
    <div class="mb20" style="text-align: right">
      <button  [nzSize]="'small'"
               class="mr5"
               nz-button (click)='clickKeyCancel(row)'>取消</button>
      <button  nzType="primary"
               [nzSize]="'small'"
               nz-button (click)='clickKeyOk(row)'>确定</button>
    </div>
    <div *ngIf="row['addPadding']" style="text-align: right;margin-bottom: 120px;">
    </div>
  </ng-template>
  <ng-template #addNagatibeTemplate class="addSearchKeyword">
    <div style="width:300px; padding: 10px;" class="mb8">
      <p class="mb14">添加否定关键词</p>
      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>否定关键词</div>
        <div class="pull-left w150" style="position: relative">
          <input nz-input
                 class="w100p"
                 [nzSize]="'small'"
                 type="text"
                 [(ngModel)]="addNegativeData.pub_query"
                 (ngModelChange)="searchKeywordChange()"
                 placeholder="1~40个字符">
          <div style="position: absolute; width: 50px; right: -50px; top:0px;"><span>（</span><span [ngClass]="{redStart:negativeKeywordLength> 40}">{{negativeKeywordLength}}</span><span>/40）</span></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>媒体</div>
        <div class="pull-left w150">
          <nz-select #nzSelectOper class="w100p"  [nzSize]="'small'" [(ngModel)]="addNegativeData.publisher_id" (ngModelChange)="changePublisher(addNegativeData)" [nzPlaceHolder]="'请选择广告主'">
            <nz-option
              *ngFor="let publisher of accountPublishers"
              [nzLabel]="publisher.publisher_name"
              [nzValue]="publisher.publisher_id * 1">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>账户</div>
        <div class="pull-left w150">
          <nz-select class="w100p"  [nzSize]="'small'" [(ngModel)]="addNegativeData.pub_account_id" (ngModelChange)="changeAccount(addNegativeData)" [nzPlaceHolder]="'请选择账户'">
            <nz-option
              *ngFor="let accountItem of accountList"
              [nzLabel]="accountItem.pub_account_name"
              [nzValue]="accountItem.pub_account_id">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>

      <div class="mt10 add-search-keyword-item">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>{{menuService.currentPublisherId==17?'推广组':'计划'}}</div>
        <div class="pull-left w150">
          <!--  <nz-select class="w100p"  [nzSize]="'small'" [(ngModel)]="addNegativeData.pub_campaign_id" (ngModelChange)="changeCampaign(addNegativeData, 'addNegativeData')" [nzPlaceHolder]="'请选择计划'">
              <nz-option
                *ngFor="let campItem of compainList"
                [nzLabel]="campItem.pub_campaign_name"
                [nzValue]="campItem.pub_campaign_id">
              </nz-option>
            </nz-select>-->

          <nz-select class="w100p"
                     [nzPlaceHolder]="'搜索'+(menuService.currentPublisherId==17?'推广组':'计划')"
                     [(ngModel)]="addNegativeData.pub_campaign_id"
                     (ngModelChange)="changeCampaign(addNegativeData, 'addNegativeData')"
                     [nzSize]="'small'"
                     [nzShowSearch]="true">
            <nz-option
              *ngFor="let campItem of compainList"
              [nzLabel]="campItem.pub_campaign_name"
              [nzValue]="campItem.pub_campaign_id">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>

      <div class="mt10 add-search-keyword-item">
        <div class="pull-left w80 mr8 text-right">{{menuService.currentPublisherId==17?'计划':'单元'}}</div>
        <div class="pull-left w150">
          <!-- <nz-select class="w100p"  [nzSize]="'small'" [(ngModel)]="addNegativeData.pub_adgroup_id" [nzPlaceHolder]="'请选择单元'">
             <nz-option
               *ngFor="let adgroupItem of unitList"
               [nzLabel]="adgroupItem.pub_adgroup_name"
               [nzValue]="adgroupItem.pub_adgroup_id">
             </nz-option>
           </nz-select>-->

          <nz-select class="w100p"
                     [nzPlaceHolder]="'搜索'+(menuService.currentPublisherId==17?'计划':'单元')"
                     [(ngModel)]="addNegativeData.pub_adgroup_id"
                     [nzSize]="'small'"
                     [nzShowSearch]="true">
            <nz-option
              *ngFor="let adgroupItem of unitList"
              [nzLabel]="adgroupItem.pub_adgroup_name"
              [nzValue]="adgroupItem.pub_adgroup_id">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>匹配模式</div>
        <div class="pull-left w150">
          <nz-radio-group [(ngModel)]="addNegativeData.match_type">
            <div>
              <label class="mr20" nz-radio [nzValue]="1">
                <span>短语否定</span>
              </label>
            </div>
            <div>
              <label class="mr20" nz-radio [nzValue]="2">
                <span>精确否定</span>
              </label>
            </div>
          </nz-radio-group>
        </div>
        <div class="clear"></div>
      </div>
<!--      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;">-->
<!--        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>加入否词库</div>-->
<!--        <div class="pull-left w150">-->
<!--          <nz-radio-group [(ngModel)]="addNegativeWordGroupData.is_add">-->
<!--            <div>-->
<!--              <label class="mr20" nz-radio [nzValue]="0">-->
<!--                <span>否</span>-->
<!--              </label>-->
<!--              <label class="mr20" nz-radio [nzValue]="1">-->
<!--                <span>是</span>-->
<!--              </label>-->
<!--            </div>-->
<!--          </nz-radio-group>-->
<!--        </div>-->
<!--        <div class="clear"></div>-->
<!--      </div>-->

      <div class="mt10 add-search-keyword-item" style="padding-right: 10px;" *ngIf="addNegativeWordGroupData.is_add === 1">
        <div class="pull-left w80 mr8 text-right"><span class="redStart">*</span>否词包</div>
        <div class="pull-left w150">
          <nz-select #nzSelectOper class="w100p"
                     [nzSize]="'small'"
                     [(ngModel)]="addNegativeWordGroupData.group_id"
                     [nzPlaceHolder]="'请选择否词包'">
            <nz-option
              *ngFor="let group of negativeWordGroupList"
              [nzLabel]="group.group_name"
              [nzValue]="group.group_id * 1">
            </nz-option>
          </nz-select>
        </div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="mb20" style="text-align: right">
      <button  [nzSize]="'small'"
               class="mr5"
               nz-button (click)='clickNagativeCancel(row)'>取消</button>
      <button  nzType="primary"
               [nzSize]="'small'"
               nz-button (click)='clickNagativeOk(row)'>确定</button>
    </div>

    <div *ngIf="row['addPadding']" style="text-align: right;margin-bottom: 120px;"></div>
  </ng-template>
</div>
