<div class="launch-rpa-target">
  <ng-container *ngIf="publisherId === 7">
    <app-launch-group-list-toutiao></app-launch-group-list-toutiao>
  </ng-container>
  <ng-container *ngIf="publisherId === 6">
    <app-launch-group-list-gdt></app-launch-group-list-gdt>
  </ng-container>
  <ng-container *ngIf="publisherId === 17">
    <app-launch-group-list-uc></app-launch-group-list-uc>
  </ng-container>
  <ng-container *ngIf="publisherId === 16">
    <app-launch-group-list-kuaishou></app-launch-group-list-kuaishou>
  </ng-container>
  <ng-container *ngIf="publisherId === 1">
    <app-launch-group-list-baidu></app-launch-group-list-baidu>
  </ng-container>
  <ng-container *ngIf="publisherId === 23">
    <app-launch-group-list-niu></app-launch-group-list-niu>
  </ng-container>
  <ng-container *ngIf="publisherId === 22">
    <app-launch-group-list-qianchuan></app-launch-group-list-qianchuan>
  </ng-container>
</div>

