<div class="add-target-template-container" *ngIf="!getting && targetConfig ">
  <nz-spin [nzSpinning]="getting">
    <div class="target-setting pr20"  [ngStyle]="{'height':templateHeight +'px'}">
      <nz-card class="basic_info" nzTitle="基本信息">
        <div class="form-content">
          <div class="lab-row mb20">
            <label><span class="redStart">*</span>定向包名称:</label>
            <div>
              <input nz-input
                   class="w200 ml8"
                   [nzSize]="'small'"
                   type="text"
                   [(ngModel)]="defaultData.audience_template_name"
                   (ngModelChange)="checkAudienceTemplateName()"
                   placeholder="请输入定向包名称">
              <div class="error-tip mt5 ml8" *ngIf="checkErrorTip.audience_template_name.is_show">
                <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red" class="mr5"></i>
                <span style="color: red;">{{ checkErrorTip.audience_template_name.tip_text }}</span>
              </div>
            </div>
          </div>
          <div class="lab-row mb20">
            <label>定向包描述:</label>
            <textarea nz-input
                      class="w200 ml8"
                      type="'textarea'"
                      rows="3"
                      [(ngModel)]="defaultData.audience_desc"
                      placeholder="请输入定向包描述">
            </textarea>
          </div>
          <div class="lab-row mb20">
            <label><span class="redStart">*</span>计划类型:</label>
            <nz-radio-group class="ml8" [nzSize]="'small'" [(ngModel)]="defaultData.landing_type" (ngModelChange)="change()">
              <label nz-radio-button *ngFor="let option of plan_type" [nzValue]="option.value" [nzDisabled]="(targetType !== 'basic') && defaultData.landing_type !== option.value">{{option['label']}}</label>
            </nz-radio-group>
          </div>
        </div>
      </nz-card>
      <nz-card class="basic_info mt20" nzTitle="定向设置">
        <app-target-basic-template-niu
          [data]="defaultData"
          [curAudienceData]="curAudienceData"
          [objectiveType]="defaultData.inventory_type_list"
          [targetConfig]="targetConfig"
          [targetType]="targetType"
          [isLaunchPackage]="isLaunchPackage"
          [checkErrorTip]="checkErrorTip"></app-target-basic-template-niu>
      </nz-card>
    </div>
  </nz-spin>


  <div class="form-btns">
    <button class="ml8" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCancel()">
      <span>取消</span>
    </button>
    <button class="ml8" nz-button [nzType]="'primary'" [nzSize]="'small'" [nzLoading]="saveing" (click)="doSave()">
      <span>完成</span>
    </button>
  </div>
</div>
