<!--单元_编辑单元-->
<div>
  <h3 *ngIf="selectData['update_type'] == 'single'">
    编辑(定向): <span>{{ groupData['pub_adgroup_name'] }}</span
  >（属于:{{ publisherOption[groupData['publisher_id']] }}/{{
    groupData['pub_account_name']
    }}、{{ groupData['pub_campaign_name'] }}）
  </h3>
  <h3 *ngIf="selectData['update_type'] != 'single'">
    批量编辑定向设置：
  </h3>
<!--  <div class="target-group">-->
<!--    <div class="target-group-title">-->
<!--      <span>定向包设置:</span>-->
<!--    </div>-->
<!--    <div class="target-group-content">-->
<!--      <div class="inpRow mt10">-->
<!--        <div class="inpRow_left pull-left">-->
<!--          <label-->
<!--            class="titleLa w200 inline-block"-->
<!--          >-->
<!--            <span>{{editTargetGroupConfig.target_list.name}}:</span>-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="inpRow_right pull-left ed_sele">-->
<!--          <nz-switch nzSize="small" [(ngModel)]="editTargetGroupConfig.target_list.is_open"></nz-switch>-->
<!--          <ng-container *ngIf="editTargetGroupConfig.target_list.is_open">-->
<!--            <nz-select class="ml10" style="width: 200px;"-->
<!--                       [(ngModel)]="editTargetGroupConfig.target_list.target_id"-->
<!--                       (ngModelChange)="getTargetInfoById(editTargetGroupConfig.target_list.target_id)"-->
<!--                       [nzPlaceHolder]="'请选择'"-->
<!--                       [nzSize]="'small'">-->
<!--              <nz-option-->
<!--                *ngFor="let option of editTargetGroupConfig.target_list.sub"-->
<!--                [nzLabel]="option['name']"-->
<!--                [nzValue]="option['key']"-->
<!--              >-->
<!--              </nz-option>-->
<!--            </nz-select>-->

<!--          </ng-container>-->
<!--        </div>-->
<!--        <div class="clear"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



  <ng-container *ngFor="let item of editDefaultDataGroup">
    <div class="target-group">
      <div class="target-group-title">
        <span>{{item['block_desc']}}:</span>
      </div>
      <div class="target-group-content">
        <ng-container *ngFor="let slot of item['slot_list']">

          <ng-container *ngIf="editDefaultDataOption[slot] && editDefaultDataOption[slot].form_type == 'range'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"

                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-switch nzSize="small" [(ngModel)]="editDefaultDataOption[slot].is_open" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open"></nz-switch>
                <ng-container *ngIf="editDefaultDataOption[slot].is_open">
                  <nz-select class="ml10" style="width: 200px;"
                             [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open"
                             [(ngModel)]="editDefaultDataOption[slot].rangeStartResult"
                             [nzPlaceHolder]="'请选择'"
                             [nzSize]="'small'">
                    <nz-option
                      *ngFor="let option of editDefaultDataOption[slot].rangeValue"
                      [nzLabel]="option['label']"
                      [nzValue]="option['value']"
                      [nzDisabled]="option['value']>editDefaultDataOption[slot].rangeEndResult"
                    >
                    </nz-option>
                  </nz-select>
                  <span class="ml10 mr10"> - </span>
                  <nz-select style="width: 200px;"
                             [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open"
                             [(ngModel)]="editDefaultDataOption[slot].rangeEndResult"
                             [nzPlaceHolder]="'请选择'"
                             [nzSize]="'small'">
                    <nz-option
                      *ngFor="let option of editDefaultDataOption[slot].rangeValue"
                      [nzLabel]="option['label']"
                      [nzValue]="option['value']"
                      [nzDisabled]="option['value']<editDefaultDataOption[slot].rangeStartResult"
                    >
                    </nz-option>
                  </nz-select>



                </ng-container>
              </div>
              <div class="clear"></div>
            </div>

          </ng-container>
          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'multi_select'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <label
                  nz-checkbox
                  [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open"
                  [(ngModel)]="editDefaultDataOption[slot].NOLIMIT"
                  (ngModelChange)="updateNotLimit(editDefaultDataOption[slot],slot)"
                >
                  不限
                </label>
                <ng-container *ngIf="editDefaultDataOption[slot].is_open">
                  <nz-checkbox-group class="ml10" [(ngModel)]="editDefaultDataOption[slot].sub"
                                     [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open"
                                     (ngModelChange)="updateSingleChecked(slot)"></nz-checkbox-group>
                </ng-container>
              </div>
              <div class="clear"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'checkbox_tree'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <ng-container *ngIf="editDefaultDataOption[slot].is_open">
                  <div>
                    <nz-transfer-tree [target]="editDefaultDataOption[slot].resultList"  [getParentKey]="!!editDefaultDataOption[slot].getParentKey" [source]="editDefaultDataOption[slot].sub" (nzChange)="transferTreeChange(editDefaultDataOption[slot],$event)"></nz-transfer-tree>
                    <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>
                  </div>
                </ng-container>
              </div>
              <div class="clear"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'radio'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-radio-group style="display: inline-flex" class="ml10" [(ngModel)]="editDefaultDataOption[slot].resultValue" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" >
                  <label  *ngFor="let radio of editDefaultDataOption[slot].sub" nz-radio nzValue="{{radio['value']}}">
                    {{radio['label']}}
                  </label>
                </nz-radio-group>
              </div>
              <div class="clear"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'one_extra_radio'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-radio-group style="display: inline-flex" class="ml10" [(ngModel)]="editDefaultDataOption[slot].radioValue" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" >
                  <label  *ngFor="let radio of editDefaultDataOption[slot].sub" nz-radio nzValue="{{radio['value']}}">
                    {{radio['label']}}
                  </label>
                </nz-radio-group>
              </div>
              <div class="clear"></div>
            </div>

            <div class="mt10 ml140 relative" *ngIf="['custom'].indexOf(editDefaultDataOption[slot].radioValue)>-1">
              <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption[slot].combine_data.one_extra.resultList"  (nzChange)="transferTreeChange(editDefaultDataOption[slot].combine_data.one_extra,$event)" [source]="editDefaultDataOption[slot].combine_data.one_extra.sub"></nz-transfer-tree>
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>
            </div>


          </ng-container>

          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'app_category_radio'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-radio-group style="display: inline-flex" class="ml10" [(ngModel)]="editDefaultDataOption[slot].radioValue" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" >
                  <label  *ngFor="let radio of editDefaultDataOption[slot].sub" nz-radio nzValue="{{radio['value']}}">
                    {{radio['label']}}
                  </label>
                </nz-radio-group>
              </div>
              <div class="clear"></div>
            </div>

            <div class="mt10 ml140 relative" *ngIf="editDefaultDataOption[slot].radioValue == 'custom'">
              <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption[slot].combine_data.one_extra.resultList"  (nzChange)="transferTreeChange(editDefaultDataOption[slot].combine_data.one_extra,$event)" [source]="editDefaultDataOption[slot].combine_data.one_extra.sub"></nz-transfer-tree>
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>
            </div>


          </ng-container>

          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'region_radio'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-radio-group style="display: inline-flex" class="ml10" [(ngModel)]="editDefaultDataOption[slot].radioValue" (ngModelChange)="cityText='';noHaveText=''" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" >
                  <label  *ngFor="let radio of editDefaultDataOption[slot].sub" nz-radio nzValue="{{radio['value']}}">
                    {{radio['label']}}
                  </label>
                </nz-radio-group>
              </div>
              <div class="clear"></div>
            </div>

            <div class="mt10 ml200 relative" *ngIf="editDefaultDataOption[slot].radioValue == '2'">
              <div style="display: flex">
                <ng-container *ngIf="countryLoading">
                  <nz-transfer-tree [getParentKey]="false" [target]="editDefaultDataOption[slot].combine_data['2'].resultList"  (nzChange)="transferTreeChange(editDefaultDataOption[slot].combine_data['2'],$event)" [source]="editDefaultDataOption[slot].combine_data['2'].sub"></nz-transfer-tree>
                </ng-container>
                <ng-container *ngIf="!countryLoading">
                  <nz-transfer-tree [getParentKey]="false" [target]="editDefaultDataOption[slot].combine_data['2'].resultList"  (nzChange)="transferTreeChange(editDefaultDataOption[slot].combine_data['2'],$event)" [source]="editDefaultDataOption[slot].combine_data['2'].sub"></nz-transfer-tree>
                </ng-container>
                <div class="ml20 w300 textarea-box" style="padding: 6px">
                  <textarea style="min-height: 250px" nzAutosize rows="4" nz-input placeholder="请输入城市，多个城市用换行或者/或者空格隔开" [(ngModel)]="cityText"></textarea>
                  <div style="text-align: right"><span *ngIf="noHaveText.length>0" style="float: left;line-height: 30px;font-size: 12px" class="redStart ml8">以上城市未匹配到</span><button class="mt10" nzSize="small" nz-button nzType="primary" (click)="addCity(editDefaultDataOption[slot].combine_data['2'].sub,editDefaultDataOption[slot].combine_data['2'].resultList)">添加</button></div>
                </div>
              </div>
              <!--              <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption[slot].combine_data.one_extra.resultList"  (nzChange)="transferTreeChange(editDefaultDataOption[slot].combine_data.one_extra,$event)" [source]="editDefaultDataOption[slot].combine_data.one_extra.sub"></nz-transfer-tree>-->
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>
            </div>

            <div class="mt10 ml200 relative" *ngIf="editDefaultDataOption[slot].radioValue == '0'">
              <div style="display: flex">
                <ng-container *ngIf="cityLoading">
                  <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption[slot].combine_data['0'].resultList"  (nzChange)="transferTreeChange(editDefaultDataOption[slot].combine_data['0'],$event)" [source]="editDefaultDataOption[slot].combine_data['0'].sub"></nz-transfer-tree>
                </ng-container>
                <ng-container *ngIf="!cityLoading">
                  <nz-transfer-tree [getParentKey]="true" [target]="editDefaultDataOption[slot].combine_data['0'].resultList"  (nzChange)="transferTreeChange(editDefaultDataOption[slot].combine_data['0'],$event)" [source]="editDefaultDataOption[slot].combine_data['0'].sub"></nz-transfer-tree>
                </ng-container>
                <div class="ml20 w300 textarea-box" style="padding: 6px">
                  <textarea style="min-height: 250px" nzAutosize rows="4" nz-input placeholder="请输入城市，多个城市用换行或者/或者空格隔开" [(ngModel)]="cityText"></textarea>
                  <div style="text-align: right"><span *ngIf="noHaveText.length>0" style="float: left;line-height: 30px;font-size: 12px" class="redStart ml8">以上城市未匹配到</span><button class="mt10" nzSize="small" nz-button nzType="primary" (click)="addCity(editDefaultDataOption[slot].combine_data['0'].sub,editDefaultDataOption[slot].combine_data['0'].resultList)">添加</button></div>
                </div>
              </div>
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>
            </div>


          </ng-container>

          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'audience_targeting'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <span>{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-radio-group style="display: inline-flex" class="ml10" [(ngModel)]="editDefaultDataOption[slot].radioValue" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" >
                  <label  *ngFor="let radio of editDefaultDataOption[slot].sub" nz-radio nzValue="{{radio['value']}}">
                    {{radio['label']}}
                  </label>
                </nz-radio-group>
              </div>
              <div class="clear"></div>
            </div>

            <div class="mt10 ml140 relative" *ngIf="editDefaultDataOption.audience_targeting.radioValue == 'custom_audience'">
              <div style="display: flex"><label
                class="titleLa w110 inline-block"
              >定向人群:</label>
              </div>
              <div class="crowd-body-content mt10">
                <nz-tree #tree
                         nzCheckable
                         [nzData]="editDefaultDataOption.audience_targeting.combine_data.crowdList"
                         (nzCheckBoxChange)="treeCrowdOnCheck($event)"
                         [nzCheckedKeys]="editDefaultDataOption.audience_targeting.combine_data.crowdResultList"
                         nzBlockNode
                ></nz-tree>
              </div>
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>


            </div>

            <div class="mt10 ml140 relative" *ngIf="editDefaultDataOption.audience_targeting.radioValue == 'custom_audience'">
              <div style="display: flex"><label
                class="titleLa w110 inline-block"
              >排除人群:</label></div>
              <div class="crowd-body-content mt10">
                <nz-tree #tree
                         nzCheckable
                         [nzData]="editDefaultDataOption.audience_targeting.combine_data.excludeCrowdList"
                         (nzCheckBoxChange)="treeExcludeCrowdOnCheck($event)"
                         [nzCheckedKeys]="editDefaultDataOption.audience_targeting.combine_data.excludeCrowdResultList"
                         nzBlockNode
                ></nz-tree>
              </div>
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>
            </div>

          </ng-container>

          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'word_radio'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <i style="color: #f09200" nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="请填写定向关键词，
每个单元中最多填写1000个关键词，每个关键词长度不超过15个汉字或30个英文字符；填写时请注意，每个关键词占一行。"></i>
                  <span class="ml4">{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-radio-group style="display: inline-flex" class="ml10" [(ngModel)]="editDefaultDataOption[slot].radioValue" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" >
                  <label  *ngFor="let radio of editDefaultDataOption[slot].sub" nz-radio nzValue="{{radio['value']}}">
                    {{radio['label']}}
                  </label>
                </nz-radio-group>
              </div>
              <div class="clear"></div>
            </div>

            <div class="mt10 ml140 relative" *ngIf="editDefaultDataOption.word.radioValue == 'custom'">
              <div style="display: flex">
                <div class="w300 textarea-box" style="padding: 6px">
                  <textarea style="min-height: 300px" nzAutosize rows="4" nz-input placeholder="请输入兴趣关键词，每行一个" [(ngModel)]="kwdText"></textarea>
                  <div style="text-align: right"><button class="mt10" nzSize="small" nz-button nzType="primary" (click)="addText()">添加</button></div>
                </div>
                <div class="w300 ml20 textarea-box" style="border:1px solid #dcdfe6">
                  <div class="text_header pd10">
                    已添加词
                    <span class="num">{{editDefaultDataOption.word.combine_data.word.length}}/1000</span>
                    <a style="float: right;" (click)="clearInput('word')">清空</a>
                  </div>
                  <div>
                    <p style="padding: 0 10px" *ngFor="let item of editDefaultDataOption.word.combine_data.word">{{item}}</p>
                  </div>

                </div>
              </div>
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>

            </div>
          </ng-container>

          <ng-container *ngIf="editDefaultDataOption[slot] && checkIsObject(editDefaultDataOption[slot]) && editDefaultDataOption[slot].form_type === 'url_radio'">
            <div class="inpRow mt10" [ngClass]="{ disabled: editDefaultDataOption[slot].is_edit }">
              <div class="inpRow_left pull-left">
                <label
                  class="titleLa w200 inline-block"
                  nz-checkbox
                  [(ngModel)]="editDefaultDataOption[slot].is_edit"
                  [nzDisabled]="editTargetGroupConfig.target_list.is_open"
                >
                  <i style="color: #f09200" nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="每个单元最多填写200个URL，填写时请注意，每个URL占一行，不要连同 http://或https:// 一起填写。
正确的URL示例：www.example.com 或者 site.example.com
不正确的URL示例：http://www.example.com"></i>
                  <span class="ml4">{{editDefaultDataOption[slot].name}}:</span>
                </label>
              </div>
              <div class="inpRow_right pull-left ed_sele">
                <nz-radio-group style="display: inline-flex" class="ml10" [(ngModel)]="editDefaultDataOption[slot].radioValue" [nzDisabled]="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" >
                  <label  *ngFor="let radio of editDefaultDataOption[slot].sub" nz-radio nzValue="{{radio['value']}}">
                    {{radio['label']}}
                  </label>
                </nz-radio-group>
              </div>
              <div class="clear"></div>
            </div>

            <div class="mt10 ml140 relative" *ngIf="editDefaultDataOption.url.radioValue == 'custom'">
              <div style="display: flex">
                <div class="w300 textarea-box" style="padding: 6px">
                  <textarea style="min-height: 300px" nzAutosize rows="4" nz-input placeholder="请输入站点，每行一个" [(ngModel)]="urlText"></textarea>
                  <div style="text-align: right"><button class="mt10" nzSize="small" nz-button nzType="primary" (click)="addUrl()">添加</button></div>
                </div>
                <div class="w300 ml20 textarea-box" style="border:1px solid #dcdfe6">
                  <div class="text_header pd10">
                    已添加站点
                    <span class="num">{{editDefaultDataOption.url.combine_data.url.length}}/200</span>
                    <a style="float: right;" (click)="clearInput('url')">清空</a>
                  </div>
                  <div>
                    <p style="padding: 0 10px" *ngFor="let item of editDefaultDataOption.url.combine_data.url">{{item}}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="!editDefaultDataOption[slot].is_edit || editTargetGroupConfig.target_list.is_open" class="disableArea"> </div>

            </div>
          </ng-container>

        </ng-container>
      </div>
    </div>
  </ng-container>





</div>
