.question{
  .question-top{
    padding-left: 15px;
    textarea{
      width: 95%;
      padding: 10px;
      margin-top: 8px;
      height: 150px;
    }
  }

  .question-footer{
    margin-top: 15px;
    text-align: right;
  }
}
