// Alignment
.text-left          { text-align: left !important; }
.text-center        { text-align: center !important; }
.text-right         { text-align: right !important; }

// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }
.text-deleted    { text-decoration: line-through; }



