<div class="launch-rpa-target">
  <ng-container *ngIf="publisherId === 7">
    <app-launch-channel-list-toutiao></app-launch-channel-list-toutiao>
  </ng-container>
  <ng-container *ngIf="publisherId === 6">
    <app-launch-channel-list-gdt></app-launch-channel-list-gdt>
  </ng-container>
  <ng-container *ngIf="publisherId === 17">
    <app-launch-channel-list-uc></app-launch-channel-list-uc>
  </ng-container>
  <ng-container *ngIf="publisherId === 16">
    <app-launch-channel-list-kuaishou></app-launch-channel-list-kuaishou>
  </ng-container>
  <ng-container *ngIf="publisherId === 1">
    <app-launch-channel-list-baidu></app-launch-channel-list-baidu>
  </ng-container>
</div>

