.creative-video {
  display: flex;
}

.vertical_video_bytedance {
  width: 160px;
  height: 278px;
  display: inline-block;
}

.vertical_video {
  width: 160px;
  display: inline-block;
}

.horizontal_video {
  height: 160px;
  display: inline-block;

}
