<div>
  <div class="manage-operation">
    <div class="manage-header-left">
    </div>
    <div class="manage-header-right">
      <a class="manage-add mr8" nz-button [nzType]="'default'" [nzSize]="'default'" (click)="downloadList()">
       <i nz-icon nzType="download" nzTheme="outline"></i><span>下载列表</span>
      </a>
    </div>
  </div>
  <div class="manage-table manage-no-result-table pt8">
    <nz-table #nzTable
              nzShowSizeChanger
              [nzPageSizeOptions]="[30,50,100,500]"
              [nzSize]="'default'"
              [nzData]="apiData"
              [nzFrontPagination]="false"
              [(nzPageSize)]="pageSize"
              [(nzPageIndex)]="currentPage"
              (nzPageIndexChange)="refreshData()"
              (nzPageSizeChange)="refreshData(true)"
              [nzTotal]="total"
              [nzLoading]="loading"
              [nzShowTotal]="totalItemTemplate"
              [nzScroll]="{ x: '1150px',y: noResultHeight+'px' }">
      <thead>
      <tr>
        <th [nzWidth]="'100px'">
          <span>默认渠道id</span>
        </th>
        <th [nzWidth]="'200px'" >
          <span>默认渠道名称</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of apiData">
        <td nzLeft>{{data['channel_id']}}</td>
        <td>{{data['channel_name']}}</td>
      </tr>
      <tr *ngIf="apiData.length===0">
        <td #noResultTd [attr.colspan]="10"  [ngStyle]="{'background-color':'#f6f6f6','height':noResultHeight+'px'}">
          <div class="table-no-result">
            <div class="table-no-result-content">
              <div>暂无数据</div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <ng-template #totalItemTemplate let-total>共{{ total }}条</ng-template>
  </div>
</div>


