.jinniu-code{
  width:100%;
  margin: 30px auto 50px auto;

  .code-tooltip{
    line-height: 20px;
  }
  .form-label{
    width: 60px;
  }
  .ant-btn-sm {
    line-height: 20px;
  }
}
.step-content{
  .answer{
    color: #999999;
  }
}
